<a href="https://colab.research.google.com/github/FaribaAzizian/BigData-1402/blob/main/BigData_HW8_FaribaAzizian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# install java, it is not needed if installed
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download and install cassandra
!wget -q https://archive.apache.org/dist/cassandra/4.0.9/apache-cassandra-4.0.9-bin.tar.gz
# unzip the cassandra file to the current folder
!tar -xzvf apache-cassandra-4.0.9-bin.tar.gz

apache-cassandra-4.0.9/bin/
apache-cassandra-4.0.9/conf/
apache-cassandra-4.0.9/conf/triggers/
apache-cassandra-4.0.9/doc/
apache-cassandra-4.0.9/doc/cql3/
apache-cassandra-4.0.9/lib/
apache-cassandra-4.0.9/lib/sigar-bin/
apache-cassandra-4.0.9/pylib/
apache-cassandra-4.0.9/pylib/cqlshlib/
apache-cassandra-4.0.9/pylib/cqlshlib/test/
apache-cassandra-4.0.9/pylib/cqlshlib/test/config/
apache-cassandra-4.0.9/tools/
apache-cassandra-4.0.9/tools/bin/
apache-cassandra-4.0.9/tools/lib/
apache-cassandra-4.0.9/CASSANDRA-14092.txt
apache-cassandra-4.0.9/CHANGES.txt
apache-cassandra-4.0.9/LICENSE.txt
apache-cassandra-4.0.9/NEWS.txt
apache-cassandra-4.0.9/NOTICE.txt
apache-cassandra-4.0.9/conf/README.txt
apache-cassandra-4.0.9/conf/cassandra-env.sh
apache-cassandra-4.0.9/conf/cassandra-jaas.config
apache-cassandra-4.0.9/conf/cassandra-rackdc.properties
apache-cassandra-4.0.9/conf/cassandra-topology.properties
apache-cassandra-4.0.9/conf/cassandra.yaml
apache-cassandra-4.0.9/conf/commitlog_archiving.properties
apache-cassandra-4.0.9/conf/cqlshrc.sample
apache-cassandra-4.0.9/conf/hotspot_compiler
apache-cassandra-4.0.9/conf/jvm-clients.options
apache-cassandra-4.0.9/conf/jvm-server.options
apache-cassandra-4.0.9/conf/jvm11-clients.options
apache-cassandra-4.0.9/conf/jvm11-server.options
apache-cassandra-4.0.9/conf/jvm8-clients.options
apache-cassandra-4.0.9/conf/jvm8-server.options
apache-cassandra-4.0.9/conf/logback-tools.xml
apache-cassandra-4.0.9/conf/logback.xml
apache-cassandra-4.0.9/conf/metrics-reporter-config-sample.yaml
apache-cassandra-4.0.9/conf/triggers/README.txt
apache-cassandra-4.0.9/doc/SASI.md
apache-cassandra-4.0.9/doc/cql3/CQL.css
apache-cassandra-4.0.9/doc/cql3/CQL.html
apache-cassandra-4.0.9/lib/HdrHistogram-2.1.9.jar
apache-cassandra-4.0.9/lib/ST4-4.0.8.jar
apache-cassandra-4.0.9/lib/airline-0.8.jar
apache-cassandra-4.0.9/lib/antlr-runtime-3.5.2.jar
apache-cassandra-4.0.9/lib/apache-cassandra-4.0.9.jar
apache-cassandra-4.0.9/lib/asm-7.1.jar
apache-cassandra-4.0.9/lib/caffeine-2.5.6.jar
apache-cassandra-4.0.9/lib/cassandra-driver-core-3.11.0-shaded.jar
apache-cassandra-4.0.9/lib/cassandra-driver-internal-only-3.25.0.zip
apache-cassandra-4.0.9/lib/chronicle-bytes-2.20.111.jar
apache-cassandra-4.0.9/lib/chronicle-core-2.20.126.jar
apache-cassandra-4.0.9/lib/chronicle-queue-5.20.123.jar
apache-cassandra-4.0.9/lib/chronicle-threads-2.20.111.jar
apache-cassandra-4.0.9/lib/chronicle-wire-2.20.117.jar
apache-cassandra-4.0.9/lib/commons-cli-1.1.jar
apache-cassandra-4.0.9/lib/commons-codec-1.9.jar
apache-cassandra-4.0.9/lib/commons-lang3-3.11.jar
apache-cassandra-4.0.9/lib/commons-math3-3.2.jar
apache-cassandra-4.0.9/lib/concurrent-trees-2.4.0.jar
apache-cassandra-4.0.9/lib/ecj-4.6.1.jar
apache-cassandra-4.0.9/lib/futures-2.1.6-py2.py3-none-any.zip
apache-cassandra-4.0.9/lib/geomet-0.1.0.zip
apache-cassandra-4.0.9/lib/guava-27.0-jre.jar
apache-cassandra-4.0.9/lib/high-scale-lib-1.0.6.jar
apache-cassandra-4.0.9/lib/hppc-0.8.1.jar
apache-cassandra-4.0.9/lib/j2objc-annotations-1.3.jar
apache-cassandra-4.0.9/lib/jackson-annotations-2.13.2.jar
apache-cassandra-4.0.9/lib/jackson-core-2.13.2.jar
apache-cassandra-4.0.9/lib/jackson-databind-2.13.2.2.jar
apache-cassandra-4.0.9/lib/jamm-0.3.2.jar
apache-cassandra-4.0.9/lib/java-cup-runtime-11b-20160615.jar
apache-cassandra-4.0.9/lib/javax.inject-1.jar
apache-cassandra-4.0.9/lib/jbcrypt-0.4.jar
apache-cassandra-4.0.9/lib/jcl-over-slf4j-1.7.25.jar
apache-cassandra-4.0.9/lib/jcommander-1.30.jar
apache-cassandra-4.0.9/lib/jctools-core-3.1.0.jar
apache-cassandra-4.0.9/lib/jflex-1.8.2.jar
apache-cassandra-4.0.9/lib/jna-5.6.0.jar
apache-cassandra-4.0.9/lib/json-simple-1.1.jar
apache-cassandra-4.0.9/lib/jvm-attach-api-1.5.jar
apache-cassandra-4.0.9/lib/log4j-over-slf4j-1.7.25.jar
apache-cassandra-4.0.9/lib/logback-classic-1.2.9.jar
apache-cassandra-4.0.9/lib/logback-core-1.2.9.jar
apache-cassandra-4.0.9/lib/lz4-java-1.8.0.jar
apache-cassandra-4.0.9/lib/metrics-core-3.1.5.jar
apache-cassandra-4.0.9/lib/metrics-jvm-3.1.5.jar
apache-cassandra-4.0.9/lib/metrics-logback-3.1.5.jar
apache-cassandra-4.0.9/lib/mxdump-0.14.jar
apache-cassandra-4.0.9/lib/netty-all-4.1.58.Final.jar
apache-cassandra-4.0.9/lib/netty-tcnative-boringssl-static-2.0.36.Final.jar
apache-cassandra-4.0.9/lib/ohc-core-0.5.1.jar
apache-cassandra-4.0.9/lib/ohc-core-j8-0.5.1.jar
apache-cassandra-4.0.9/lib/psjava-0.1.19.jar
apache-cassandra-4.0.9/lib/reporter-config-base-3.0.3.jar
apache-cassandra-4.0.9/lib/reporter-config3-3.0.3.jar
apache-cassandra-4.0.9/lib/sigar-1.6.4.jar
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-amd64-freebsd-6.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-amd64-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-amd64-solaris.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ia64-hpux-11.sl
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ia64-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-pa-hpux-11.sl
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ppc-aix-5.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ppc-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ppc64-aix-5.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ppc64-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-ppc64le-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-s390x-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-sparc-solaris.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-sparc64-solaris.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-universal-macosx.dylib
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-universal64-macosx.dylib
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-x86-freebsd-5.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-x86-freebsd-6.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-x86-linux.so
apache-cassandra-4.0.9/lib/sigar-bin/libsigar-x86-solaris.so
apache-cassandra-4.0.9/lib/sigar-bin/sigar-amd64-winnt.dll
apache-cassandra-4.0.9/lib/sigar-bin/sigar-x86-winnt.dll
apache-cassandra-4.0.9/lib/sigar-bin/sigar-x86-winnt.lib
apache-cassandra-4.0.9/lib/six-1.12.0-py2.py3-none-any.zip
apache-cassandra-4.0.9/lib/sjk-cli-0.14.jar
apache-cassandra-4.0.9/lib/sjk-core-0.14.jar
apache-cassandra-4.0.9/lib/sjk-json-0.14.jar
apache-cassandra-4.0.9/lib/sjk-stacktrace-0.14.jar
apache-cassandra-4.0.9/lib/slf4j-api-1.7.25.jar
apache-cassandra-4.0.9/lib/snakeyaml-1.26.jar
apache-cassandra-4.0.9/lib/snappy-java-1.1.2.6.jar
apache-cassandra-4.0.9/lib/snowball-stemmer-1.3.0.581.1.jar
apache-cassandra-4.0.9/lib/stream-2.5.2.jar
apache-cassandra-4.0.9/lib/zstd-jni-1.5.5-1.jar
apache-cassandra-4.0.9/pylib/Dockerfile.ubuntu.py2
apache-cassandra-4.0.9/pylib/Dockerfile.ubuntu.py3
apache-cassandra-4.0.9/pylib/Dockerfile.ubuntu.py37
apache-cassandra-4.0.9/pylib/Dockerfile.ubuntu.py38
apache-cassandra-4.0.9/pylib/README.asc
apache-cassandra-4.0.9/pylib/cassandra-cqlsh-tests.sh
apache-cassandra-4.0.9/pylib/cqlshlib/__init__.py
apache-cassandra-4.0.9/pylib/cqlshlib/copyutil.py
apache-cassandra-4.0.9/pylib/cqlshlib/cql3handling.py
apache-cassandra-4.0.9/pylib/cqlshlib/cqlhandling.py
apache-cassandra-4.0.9/pylib/cqlshlib/cqlshhandling.py
apache-cassandra-4.0.9/pylib/cqlshlib/displaying.py
apache-cassandra-4.0.9/pylib/cqlshlib/formatting.py
apache-cassandra-4.0.9/pylib/cqlshlib/helptopics.py
apache-cassandra-4.0.9/pylib/cqlshlib/pylexotron.py
apache-cassandra-4.0.9/pylib/cqlshlib/saferscanner.py
apache-cassandra-4.0.9/pylib/cqlshlib/setup.cfg
apache-cassandra-4.0.9/pylib/cqlshlib/sslhandling.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/__init__.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/ansi_colors.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/basecase.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/cassconnect.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/config/sslhandling.config
apache-cassandra-4.0.9/pylib/cqlshlib/test/config/sslhandling_invalid.config
apache-cassandra-4.0.9/pylib/cqlshlib/test/run_cqlsh.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_constants.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_copyutil.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_cql_parsing.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_cqlsh_completion.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_cqlsh_output.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_keyspace_init.cql
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_sslhandling.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/test_unicode.py
apache-cassandra-4.0.9/pylib/cqlshlib/test/winpty.py
apache-cassandra-4.0.9/pylib/cqlshlib/tracing.py
apache-cassandra-4.0.9/pylib/cqlshlib/util.py
apache-cassandra-4.0.9/pylib/cqlshlib/wcwidth.py
apache-cassandra-4.0.9/pylib/pytest.ini
apache-cassandra-4.0.9/pylib/requirements.txt
apache-cassandra-4.0.9/pylib/setup.py
apache-cassandra-4.0.9/tools/cqlstress-counter-example.yaml
apache-cassandra-4.0.9/tools/cqlstress-example.yaml
apache-cassandra-4.0.9/tools/cqlstress-insanity-example.yaml
apache-cassandra-4.0.9/tools/cqlstress-lwt-example.yaml
apache-cassandra-4.0.9/tools/lib/fqltool.jar
apache-cassandra-4.0.9/tools/lib/stress.jar
apache-cassandra-4.0.9/bin/cassandra.in.sh
apache-cassandra-4.0.9/tools/bin/cassandra.in.sh
apache-cassandra-4.0.9/bin/cassandra
apache-cassandra-4.0.9/bin/cqlsh
apache-cassandra-4.0.9/bin/cqlsh.py
apache-cassandra-4.0.9/bin/debug-cql
apache-cassandra-4.0.9/bin/nodetool
apache-cassandra-4.0.9/bin/sstableloader
apache-cassandra-4.0.9/bin/sstablescrub
apache-cassandra-4.0.9/bin/sstableupgrade
apache-cassandra-4.0.9/bin/sstableutil
apache-cassandra-4.0.9/bin/sstableverify
apache-cassandra-4.0.9/bin/stop-server
apache-cassandra-4.0.9/tools/bin/auditlogviewer
apache-cassandra-4.0.9/tools/bin/cassandra-stress
apache-cassandra-4.0.9/tools/bin/cassandra-stressd
apache-cassandra-4.0.9/tools/bin/compaction-stress
apache-cassandra-4.0.9/tools/bin/fqltool
apache-cassandra-4.0.9/tools/bin/generatetokens
apache-cassandra-4.0.9/tools/bin/jmxtool
apache-cassandra-4.0.9/tools/bin/sstabledump
apache-cassandra-4.0.9/tools/bin/sstableexpiredblockers
apache-cassandra-4.0.9/tools/bin/sstablelevelreset
apache-cassandra-4.0.9/tools/bin/sstablemetadata
apache-cassandra-4.0.9/tools/bin/sstableofflinerelevel
apache-cassandra-4.0.9/tools/bin/sstablerepairedset
apache-cassandra-4.0.9/tools/bin/sstablesplit

In [2]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [3]:
# set spark path to system path environment
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["CASSANDRA_HOME"] = "/content/apache-cassandra-4.0.9"
os.environ["SPARK_HOME"] = '/content/spark-3.3.2-bin-hadoop3'

In [4]:
!./apache-cassandra-4.0.9/bin/cassandra -R
!echo "Waiting for 10 secs until cassandra services are up and running"
!sleep 10

CompilerOracle: dontinline org/apache/cassandra/db/Columns$Serializer.deserializeLargeSubset (Lorg/apache/cassandra/io/util/DataInputPlus;Lorg/apache/cassandra/db/Columns;I)Lorg/apache/cassandra/db/Columns;
CompilerOracle: dontinline org/apache/cassandra/db/Columns$Serializer.serializeLargeSubset (Ljava/util/Collection;ILorg/apache/cassandra/db/Columns;ILorg/apache/cassandra/io/util/DataOutputPlus;)V
CompilerOracle: dontinline org/apache/cassandra/db/Columns$Serializer.serializeLargeSubsetSize (Ljava/util/Collection;ILorg/apache/cassandra/db/Columns;I)I
CompilerOracle: dontinline org/apache/cassandra/db/commitlog/AbstractCommitLogSegmentManager.advanceAllocatingFrom (Lorg/apache/cassandra/db/commitlog/CommitLogSegment;)V
CompilerOracle: dontinline org/apache/cassandra/db/transform/BaseIterator.tryGetMoreContents ()Z
CompilerOracle: dontinline org/apache/cassandra/db/transform/StoppingTransformation.stop ()V
CompilerOracle: dontinline org/apache/cassandra/db/transform/StoppingTransformation.stopInPartition ()V
CompilerOracle: dontinline org/apache/cassandra/io/util/BufferedDataOutputStreamPlus.doFlush (I)V
CompilerOracle: dontinline org/apache/cassandra/io/util/BufferedDataOutputStreamPlus.writeSlow (JI)V
CompilerOracle: dontinline org/apache/cassandra/io/util/RebufferingInputStream.readPrimitiveSlowly (I)J
CompilerOracle: exclude org/apache/cassandra/utils/JVMStabilityInspector.forceHeapSpaceOomMaybe (Ljava/lang/OutOfMemoryError;)V
CompilerOracle: inline org/apache/cassandra/db/rows/UnfilteredSerializer.serializeRowBody (Lorg/apache/cassandra/db/rows/Row;ILorg/apache/cassandra/db/rows/SerializationHelper;Lorg/apache/cassandra/io/util/DataOutputPlus;)V
CompilerOracle: inline org/apache/cassandra/io/util/Memory.checkBounds (JJ)V
CompilerOracle: inline org/apache/cassandra/io/util/SafeMemory.checkBounds (JJ)V
CompilerOracle: inline org/apache/cassandra/net/FrameDecoderWith8bHeader.decode (Ljava/util/Collection;Lorg/apache/cassandra/net/ShareableBytes;I)V
CompilerOracle: inline org/apache/cassandra/service/reads/repair/RowIteratorMergeListener.applyToPartition (ILjava/util/function/Consumer;)V
CompilerOracle: inline org/apache/cassandra/utils/AsymmetricOrdering.selectBoundary (Lorg/apache/cassandra/utils/AsymmetricOrdering/Op;II)I
CompilerOracle: inline org/apache/cassandra/utils/AsymmetricOrdering.strictnessOfLessThan (Lorg/apache/cassandra/utils/AsymmetricOrdering/Op;)I
CompilerOracle: inline org/apache/cassandra/utils/BloomFilter.indexes (Lorg/apache/cassandra/utils/IFilter/FilterKey;)[J
CompilerOracle: inline org/apache/cassandra/utils/BloomFilter.setIndexes (JJIJ[J)V
CompilerOracle: inline org/apache/cassandra/utils/ByteBufferUtil.compare (Ljava/nio/ByteBuffer;[B)I
CompilerOracle: inline org/apache/cassandra/utils/ByteBufferUtil.compare ([BLjava/nio/ByteBuffer;)I
CompilerOracle: inline org/apache/cassandra/utils/ByteBufferUtil.compareUnsigned (Ljava/nio/ByteBuffer;Ljava/nio/ByteBuffer;)I
CompilerOracle: inline org/apache/cassandra/utils/FastByteOperations$UnsafeOperations.compareTo (Ljava/lang/Object;JILjava/lang/Object;JI)I
CompilerOracle: inline org/apache/cassandra/utils/FastByteOperations$UnsafeOperations.compareTo (Ljava/lang/Object;JILjava/nio/ByteBuffer;)I
CompilerOracle: inline org/apache/cassandra/utils/FastByteOperations$UnsafeOperations.compareTo (Ljava/nio/ByteBuffer;Ljava/nio/ByteBuffer;)I
CompilerOracle: inline org/apache/cassandra/utils/memory/BufferPool$LocalPool.tryGetInternal (IZ)Ljava/nio/ByteBuffer;
CompilerOracle: inline org/apache/cassandra/utils/vint/VIntCoding.encodeUnsignedVInt (JI)[B
CompilerOracle: inline org/apache/cassandra/utils/vint/VIntCoding.encodeUnsignedVInt (JI[B)V
CompilerOracle: inline org/apache/cassandra/utils/vint/VIntCoding.writeUnsignedVInt (JLjava/io/DataOutput;)V
CompilerOracle: inline org/apache/cassandra/utils/vint/VIntCoding.writeUnsignedVInt (JLjava/nio/ByteBuffer;)V
CompilerOracle: inline org/apache/cassandra/utils/vint/VIntCoding.writeVInt (JLjava/io/DataOutput;)V
INFO  [main] 2023-05-16 14:56:16,285 YamlConfigurationLoader.java:97 - Configuration location: file:/content/apache-cassandra-4.0.9/conf/cassandra.yaml
INFO  [main] 2023-05-16 14:56:16,937 Config.java:708 - Node configuration:[allocate_tokens_for_keyspace=null; allocate_tokens_for_local_replication_factor=3; allow_extra_insecure_udfs=false; allow_insecure_udfs=false; audit_logging_options=AuditLogOptions{enabled=false, logger='BinAuditLogger', included_keyspaces='', excluded_keyspaces='system,system_schema,system_virtual_schema', included_categories='', excluded_categories='', included_users='', excluded_users='', audit_logs_dir='/content/apache-cassandra-4.0.9/logs/audit/', archive_command='', roll_cycle='HOURLY', block=true, max_queue_weight=268435456, max_log_size=17179869184}; authenticator=AllowAllAuthenticator; authorizer=AllowAllAuthorizer; auto_bootstrap=true; auto_optimise_full_repair_streams=false; auto_optimise_inc_repair_streams=false; auto_optimise_preview_repair_streams=false; auto_snapshot=true; autocompaction_on_startup_enabled=true; automatic_sstable_upgrade=false; back_pressure_enabled=false; back_pressure_strategy=null; batch_size_fail_threshold_in_kb=50; batch_size_warn_threshold_in_kb=5; batchlog_replay_throttle_in_kb=1024; block_for_peers_in_remote_dcs=false; block_for_peers_timeout_in_secs=10; broadcast_address=null; broadcast_rpc_address=null; buffer_pool_use_heap_if_exhausted=false; cache_load_timeout_seconds=30; cas_contention_timeout_in_ms=1000; cdc_enabled=false; cdc_free_space_check_interval_ms=250; cdc_raw_directory=null; cdc_total_space_in_mb=0; check_for_duplicate_rows_during_compaction=true; check_for_duplicate_rows_during_reads=true; client_encryption_options=<REDACTED>; cluster_name=Test Cluster; column_index_cache_size_in_kb=2; column_index_size_in_kb=64; commit_failure_policy=stop; commitlog_compression=null; commitlog_directory=null; commitlog_max_compression_buffers_in_pool=3; commitlog_periodic_queue_size=-1; commitlog_segment_size_in_mb=32; commitlog_sync=periodic; commitlog_sync_batch_window_in_ms=NaN; commitlog_sync_group_window_in_ms=NaN; commitlog_sync_period_in_ms=10000; commitlog_total_space_in_mb=null; compaction_large_partition_warning_threshold_mb=100; compaction_throughput_mb_per_sec=64; concurrent_compactors=null; concurrent_counter_writes=32; concurrent_materialized_view_builders=1; concurrent_materialized_view_writes=32; concurrent_reads=32; concurrent_replicates=null; concurrent_validations=0; concurrent_writes=32; consecutive_message_errors_threshold=1; corrupted_tombstone_strategy=disabled; counter_cache_keys_to_save=2147483647; counter_cache_save_period=7200; counter_cache_size_in_mb=null; counter_write_request_timeout_in_ms=5000; credentials_cache_max_entries=1000; credentials_update_interval_in_ms=-1; credentials_validity_in_ms=2000; cross_node_timeout=true; data_file_directories=[Ljava.lang.String;@27406a17; diagnostic_events_enabled=false; disk_access_mode=auto; disk_failure_policy=stop; disk_optimization_estimate_percentile=0.95; disk_optimization_page_cross_chance=0.1; disk_optimization_strategy=ssd; dynamic_snitch=true; dynamic_snitch_badness_threshold=1.0; dynamic_snitch_reset_interval_in_ms=600000; dynamic_snitch_update_interval_in_ms=100; enable_drop_compact_storage=false; enable_materialized_views=false; enable_sasi_indexes=false; enable_scripted_user_defined_functions=false; enable_transient_replication=false; enable_user_defined_functions=false; enable_user_defined_functions_threads=true; endpoint_snitch=SimpleSnitch; file_cache_enabled=false; file_cache_round_up=null; file_cache_size_in_mb=null; flush_compression=fast; force_new_prepared_statement_behaviour=false; full_query_logging_options=FullQueryLoggerOptions{log_dir='', archive_command='', roll_cycle='HOURLY', block=true, max_queue_weight=268435456, max_log_size=17179869184}; gc_log_threshold_in_ms=200; gc_warn_threshold_in_ms=1000; hinted_handoff_disabled_datacenters=[]; hinted_handoff_enabled=true; hinted_handoff_throttle_in_kb=1024; hints_compression=null; hints_directory=null; hints_flush_period_in_ms=10000; ideal_consistency_level=null; incremental_backups=false; index_summary_capacity_in_mb=null; index_summary_resize_interval_in_minutes=60; initial_range_tombstone_list_allocation_size=1; initial_token=null; inter_dc_stream_throughput_outbound_megabits_per_sec=200; inter_dc_tcp_nodelay=false; internode_application_receive_queue_capacity_in_bytes=4194304; internode_application_receive_queue_reserve_endpoint_capacity_in_bytes=134217728; internode_application_receive_queue_reserve_global_capacity_in_bytes=536870912; internode_application_send_queue_capacity_in_bytes=4194304; internode_application_send_queue_reserve_endpoint_capacity_in_bytes=134217728; internode_application_send_queue_reserve_global_capacity_in_bytes=536870912; internode_authenticator=null; internode_compression=dc; internode_max_message_size_in_bytes=null; internode_socket_receive_buffer_size_in_bytes=0; internode_socket_send_buffer_size_in_bytes=0; internode_streaming_tcp_user_timeout_in_ms=300000; internode_tcp_connect_timeout_in_ms=2000; internode_tcp_user_timeout_in_ms=30000; key_cache_keys_to_save=2147483647; key_cache_migrate_during_compaction=true; key_cache_save_period=14400; key_cache_size_in_mb=null; keyspace_count_warn_threshold=40; listen_address=localhost; listen_interface=null; listen_interface_prefer_ipv6=false; listen_on_broadcast_address=false; local_system_data_file_directory=null; max_concurrent_automatic_sstable_upgrades=1; max_hint_window_in_ms=10800000; max_hints_delivery_threads=2; max_hints_file_size_in_mb=128; max_mutation_size_in_kb=null; max_streaming_retries=3; max_value_size_in_mb=256; memtable_allocation_type=heap_buffers; memtable_cleanup_threshold=null; memtable_flush_writers=0; memtable_heap_space_in_mb=null; memtable_offheap_space_in_mb=null; min_free_space_per_drive_in_mb=50; native_transport_allow_older_protocols=true; native_transport_flush_in_batches_legacy=false; native_transport_idle_timeout_in_ms=0; native_transport_max_concurrent_connections=-1; native_transport_max_concurrent_connections_per_ip=-1; native_transport_max_concurrent_requests_in_bytes=-1; native_transport_max_concurrent_requests_in_bytes_per_ip=-1; native_transport_max_frame_size_in_mb=256; native_transport_max_negotiable_protocol_version=null; native_transport_max_threads=128; native_transport_port=9042; native_transport_port_ssl=null; native_transport_receive_queue_capacity_in_bytes=1048576; network_authorizer=AllowAllNetworkAuthorizer; networking_cache_size_in_mb=null; num_tokens=16; otc_backlog_expiration_interval_ms=200; otc_coalescing_enough_coalesced_messages=8; otc_coalescing_strategy=DISABLED; otc_coalescing_window_us=200; partitioner=org.apache.cassandra.dht.Murmur3Partitioner; periodic_commitlog_sync_lag_block_in_ms=null; permissions_cache_max_entries=1000; permissions_update_interval_in_ms=-1; permissions_validity_in_ms=2000; phi_convict_threshold=8.0; prepared_statements_cache_size_mb=null; range_request_timeout_in_ms=10000; range_tombstone_list_growth_factor=1.5; read_request_timeout_in_ms=5000; reject_repair_compaction_threshold=2147483647; repair_command_pool_full_strategy=queue; repair_command_pool_size=0; repair_request_timeout_in_ms=60000; repair_session_max_tree_depth=null; repair_session_space_in_mb=null; repaired_data_tracking_for_partition_reads_enabled=false; repaired_data_tracking_for_range_reads_enabled=false; report_unconfirmed_repaired_data_mismatches=false; request_timeout_in_ms=10000; role_manager=CassandraRoleManager; roles_cache_max_entries=1000; roles_update_interval_in_ms=-1; roles_validity_in_ms=2000; row_cache_class_name=org.apache.cassandra.cache.OHCProvider; row_cache_keys_to_save=2147483647; row_cache_save_period=0; row_cache_size_in_mb=0; rpc_address=localhost; rpc_interface=null; rpc_interface_prefer_ipv6=false; rpc_keepalive=true; saved_caches_directory=null; seed_provider=org.apache.cassandra.locator.SimpleSeedProvider{seeds=127.0.0.1:7000}; server_encryption_options=<REDACTED>; slow_query_log_timeout_in_ms=500; snapshot_before_compaction=false; snapshot_links_per_second=0; snapshot_on_duplicate_row_detection=false; snapshot_on_repaired_data_mismatch=false; ssl_storage_port=7001; sstable_preemptive_open_interval_in_mb=50; start_native_transport=true; storage_port=7000; stream_entire_sstables=true; stream_throughput_outbound_megabits_per_sec=200; streaming_connections_per_host=1; streaming_keep_alive_period_in_secs=300; table_count_warn_threshold=150; tombstone_failure_threshold=100000; tombstone_warn_threshold=1000; tracetype_query_ttl=86400; tracetype_repair_ttl=604800; transparent_data_encryption_options=org.apache.cassandra.config.TransparentDataEncryptionOptions@2af004b; trickle_fsync=false; trickle_fsync_interval_in_kb=10240; truncate_request_timeout_in_ms=60000; unlogged_batch_across_partitions_warn_threshold=10; use_offheap_merkle_trees=true; user_defined_function_fail_timeout=1500; user_defined_function_warn_timeout=500; user_function_timeout_policy=die; validation_preview_purge_head_start_in_sec=3600; windows_timer_interval=1; write_request_timeout_in_ms=2000]
INFO  [main] 2023-05-16 14:56:16,947 DatabaseDescriptor.java:416 - DiskAccessMode 'auto' determined to be mmap, indexAccessMode is mmap
INFO  [main] 2023-05-16 14:56:16,948 DatabaseDescriptor.java:477 - Global memtable on-heap threshold is enabled at 806MB
INFO  [main] 2023-05-16 14:56:16,949 DatabaseDescriptor.java:481 - Global memtable off-heap threshold is enabled at 806MB
INFO  [main] 2023-05-16 14:56:17,214 JMXServerUtils.java:271 - Configured JMX server at: service:jmx:rmi://127.0.0.1/jndi/rmi://127.0.0.1:7199/jmxrmi
INFO  [main] 2023-05-16 14:56:17,231 CassandraDaemon.java:625 - Hostname: 070a8d676289:7000:7001
INFO  [main] 2023-05-16 14:56:17,232 CassandraDaemon.java:632 - JVM vendor/version: OpenJDK 64-Bit Server VM/1.8.0_362
INFO  [main] 2023-05-16 14:56:17,234 CassandraDaemon.java:633 - Heap size: 3.150GiB/3.150GiB
INFO  [main] 2023-05-16 14:56:17,235 CassandraDaemon.java:638 - Code Cache Non-heap memory: init = 2555904(2496K) used = 4923584(4808K) committed = 4980736(4864K) max = 251658240(245760K)
INFO  [main] 2023-05-16 14:56:17,236 CassandraDaemon.java:638 - Metaspace Non-heap memory: init = 0(0K) used = 23606624(23053K) committed = 24186880(23620K) max = -1(-1K)
INFO  [main] 2023-05-16 14:56:17,237 CassandraDaemon.java:638 - Compressed Class Space Non-heap memory: init = 0(0K) used = 2779088(2713K) committed = 2981888(2912K) max = 1073741824(1048576K)
INFO  [main] 2023-05-16 14:56:17,237 CassandraDaemon.java:638 - Par Eden Space Heap memory: init = 167772160(163840K) used = 117590264(114834K) committed = 167772160(163840K) max = 167772160(163840K)
INFO  [main] 2023-05-16 14:56:17,238 CassandraDaemon.java:638 - Par Survivor Space Heap memory: init = 20971520(20480K) used = 0(0K) committed = 20971520(20480K) max = 20971520(20480K)
INFO  [main] 2023-05-16 14:56:17,239 CassandraDaemon.java:638 - CMS Old Gen Heap memory: init = 3193962496(3119104K) used = 0(0K) committed = 3193962496(3119104K) max = 3193962496(3119104K)
INFO  [main] 2023-05-16 14:56:17,240 CassandraDaemon.java:640 - Classpath: /content/apache-cassandra-4.0.9/conf:/content/apache-cassandra-4.0.9/lib/HdrHistogram-2.1.9.jar:/content/apache-cassandra-4.0.9/lib/ST4-4.0.8.jar:/content/apache-cassandra-4.0.9/lib/airline-0.8.jar:/content/apache-cassandra-4.0.9/lib/antlr-runtime-3.5.2.jar:/content/apache-cassandra-4.0.9/lib/apache-cassandra-4.0.9.jar:/content/apache-cassandra-4.0.9/lib/asm-7.1.jar:/content/apache-cassandra-4.0.9/lib/caffeine-2.5.6.jar:/content/apache-cassandra-4.0.9/lib/cassandra-driver-core-3.11.0-shaded.jar:/content/apache-cassandra-4.0.9/lib/chronicle-bytes-2.20.111.jar:/content/apache-cassandra-4.0.9/lib/chronicle-core-2.20.126.jar:/content/apache-cassandra-4.0.9/lib/chronicle-queue-5.20.123.jar:/content/apache-cassandra-4.0.9/lib/chronicle-threads-2.20.111.jar:/content/apache-cassandra-4.0.9/lib/chronicle-wire-2.20.117.jar:/content/apache-cassandra-4.0.9/lib/commons-cli-1.1.jar:/content/apache-cassandra-4.0.9/lib/commons-codec-1.9.jar:/content/apache-cassandra-4.0.9/lib/commons-lang3-3.11.jar:/content/apache-cassandra-4.0.9/lib/commons-math3-3.2.jar:/content/apache-cassandra-4.0.9/lib/concurrent-trees-2.4.0.jar:/content/apache-cassandra-4.0.9/lib/ecj-4.6.1.jar:/content/apache-cassandra-4.0.9/lib/guava-27.0-jre.jar:/content/apache-cassandra-4.0.9/lib/high-scale-lib-1.0.6.jar:/content/apache-cassandra-4.0.9/lib/hppc-0.8.1.jar:/content/apache-cassandra-4.0.9/lib/j2objc-annotations-1.3.jar:/content/apache-cassandra-4.0.9/lib/jackson-annotations-2.13.2.jar:/content/apache-cassandra-4.0.9/lib/jackson-core-2.13.2.jar:/content/apache-cassandra-4.0.9/lib/jackson-databind-2.13.2.2.jar:/content/apache-cassandra-4.0.9/lib/jamm-0.3.2.jar:/content/apache-cassandra-4.0.9/lib/java-cup-runtime-11b-20160615.jar:/content/apache-cassandra-4.0.9/lib/javax.inject-1.jar:/content/apache-cassandra-4.0.9/lib/jbcrypt-0.4.jar:/content/apache-cassandra-4.0.9/lib/jcl-over-slf4j-1.7.25.jar:/content/apache-cassandra-4.0.9/lib/jcommander-1.30.jar:/content/apache-cassandra-4.0.9/lib/jctools-core-3.1.0.jar:/content/apache-cassandra-4.0.9/lib/jflex-1.8.2.jar:/content/apache-cassandra-4.0.9/lib/jna-5.6.0.jar:/content/apache-cassandra-4.0.9/lib/json-simple-1.1.jar:/content/apache-cassandra-4.0.9/lib/jvm-attach-api-1.5.jar:/content/apache-cassandra-4.0.9/lib/log4j-over-slf4j-1.7.25.jar:/content/apache-cassandra-4.0.9/lib/logback-classic-1.2.9.jar:/content/apache-cassandra-4.0.9/lib/logback-core-1.2.9.jar:/content/apache-cassandra-4.0.9/lib/lz4-java-1.8.0.jar:/content/apache-cassandra-4.0.9/lib/metrics-core-3.1.5.jar:/content/apache-cassandra-4.0.9/lib/metrics-jvm-3.1.5.jar:/content/apache-cassandra-4.0.9/lib/metrics-logback-3.1.5.jar:/content/apache-cassandra-4.0.9/lib/mxdump-0.14.jar:/content/apache-cassandra-4.0.9/lib/netty-all-4.1.58.Final.jar:/content/apache-cassandra-4.0.9/lib/netty-tcnative-boringssl-static-2.0.36.Final.jar:/content/apache-cassandra-4.0.9/lib/ohc-core-0.5.1.jar:/content/apache-cassandra-4.0.9/lib/ohc-core-j8-0.5.1.jar:/content/apache-cassandra-4.0.9/lib/psjava-0.1.19.jar:/content/apache-cassandra-4.0.9/lib/reporter-config-base-3.0.3.jar:/content/apache-cassandra-4.0.9/lib/reporter-config3-3.0.3.jar:/content/apache-cassandra-4.0.9/lib/sigar-1.6.4.jar:/content/apache-cassandra-4.0.9/lib/sjk-cli-0.14.jar:/content/apache-cassandra-4.0.9/lib/sjk-core-0.14.jar:/content/apache-cassandra-4.0.9/lib/sjk-json-0.14.jar:/content/apache-cassandra-4.0.9/lib/sjk-stacktrace-0.14.jar:/content/apache-cassandra-4.0.9/lib/slf4j-api-1.7.25.jar:/content/apache-cassandra-4.0.9/lib/snakeyaml-1.26.jar:/content/apache-cassandra-4.0.9/lib/snappy-java-1.1.2.6.jar:/content/apache-cassandra-4.0.9/lib/snowball-stemmer-1.3.0.581.1.jar:/content/apache-cassandra-4.0.9/lib/stream-2.5.2.jar:/content/apache-cassandra-4.0.9/lib/zstd-jni-1.5.5-1.jar:/content/apache-cassandra-4.0.9/lib/jsr223/*/*.jar::/content/apache-cassandra-4.0.9/lib/jamm-0.3.2.jar

In [5]:
!pip install cassandra-driver

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cassandra-driver
  Downloading cassandra_driver-3.27.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.0 MB)
      19.0/19.0 MB 36.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (1.16.0)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: cryptography>=35.0 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (40.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=35.0->cassandra-driver) (1.15.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=35.0->cassandra-driver) (2.21)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.27.0 geomet-0.2.1.post1

In [6]:
!pip install -q findspark

In [7]:
import findspark
findspark.init()
findspark.find()

'/content/spark-3.3.2-bin-hadoop3'

In [8]:
!pip install pyspark --quiet
!pip install -q handyspark

      310.8/310.8 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [150]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import col,isnan, when, count

spark = SparkSession \
    .builder \
    .appName("Uber_dataset.") \
    .getOrCreate()

uber_data = spark.read.options(inferSchema='True',header='True',sep=',').csv("/content/drive/MyDrive/uber-raw-data-aug14.csv")
for col in uber_data.columns:
  print(col, "\t", "with null values: ", uber_data.filter(uber_data[col].isNull()).count())
uber_data.show()

Date/Time 	 with null values:  0
Lat 	 with null values:  0
Lon 	 with null values:  0
Base 	 with null values:  0
+----------------+-------+--------+------+
|       Date/Time|    Lat|     Lon|  Base|
+----------------+-------+--------+------+
|8/1/2014 0:03:00|40.7366|-73.9906|B02512|
|8/1/2014 0:09:00| 40.726|-73.9918|B02512|
|8/1/2014 0:12:00|40.7209|-74.0507|B02512|
|8/1/2014 0:12:00|40.7387|-73.9856|B02512|
|8/1/2014 0:12:00|40.7323|-74.0077|B02512|
|8/1/2014 0:13:00|40.7349|-74.0033|B02512|
|8/1/2014 0:15:00|40.7279|-73.9542|B02512|
|8/1/2014 0:17:00| 40.721|-73.9937|B02512|
|8/1/2014 0:19:00|40.7195| -74.006|B02512|
|8/1/2014 0:20:00|40.7448|-73.9799|B02512|
|8/1/2014 0:21:00|40.7399|-74.0057|B02512|
|8/1/2014 0:25:00|40.7651|-73.9683|B02512|
|8/1/2014 0:27:00|40.7354|-74.0081|B02512|
|8/1/2014 0:29:00|40.7339|-74.0028|B02512|
|8/1/2014 0:29:00|40.7364|-74.0301|B02512|
|8/1/2014 0:29:00|40.7364|-74.0301|B02512|
|8/1/2014 0:30:00|40.7252|-73.9516|B02512|
|8/1/2014 0:30:00|40.7433| -73.986|B02512|
|8/1/2014 0:34:00|40.7437|-73.9884|B02512|
|8/1/2014 0:36:00|40.7406|-74.0077|B02512|
+----------------+-------+--------+------+
only showing top 20 rows

In [ ]:
uber_data.printSchema()

root
 |-- DateTimeName: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Lon: double (nullable = true)
 |-- Base: string (nullable = true)

In [11]:
#for rename columnName
uber_data = uber_data.withColumnRenamed("Date/Time","DateTimeName")
uber_data.show()

+----------------+-------+--------+------+
|    DateTimeName|    Lat|     Lon|  Base|
+----------------+-------+--------+------+
|8/1/2014 0:03:00|40.7366|-73.9906|B02512|
|8/1/2014 0:09:00| 40.726|-73.9918|B02512|
|8/1/2014 0:12:00|40.7209|-74.0507|B02512|
|8/1/2014 0:12:00|40.7387|-73.9856|B02512|
|8/1/2014 0:12:00|40.7323|-74.0077|B02512|
|8/1/2014 0:13:00|40.7349|-74.0033|B02512|
|8/1/2014 0:15:00|40.7279|-73.9542|B02512|
|8/1/2014 0:17:00| 40.721|-73.9937|B02512|
|8/1/2014 0:19:00|40.7195| -74.006|B02512|
|8/1/2014 0:20:00|40.7448|-73.9799|B02512|
|8/1/2014 0:21:00|40.7399|-74.0057|B02512|
|8/1/2014 0:25:00|40.7651|-73.9683|B02512|
|8/1/2014 0:27:00|40.7354|-74.0081|B02512|
|8/1/2014 0:29:00|40.7339|-74.0028|B02512|
|8/1/2014 0:29:00|40.7364|-74.0301|B02512|
|8/1/2014 0:29:00|40.7364|-74.0301|B02512|
|8/1/2014 0:30:00|40.7252|-73.9516|B02512|
|8/1/2014 0:30:00|40.7433| -73.986|B02512|
|8/1/2014 0:34:00|40.7437|-73.9884|B02512|
|8/1/2014 0:36:00|40.7406|-74.0077|B02512|
+----------------+-------+--------+------+
only showing top 20 rows

In [ ]:
uber_data.printSchema()

root
 |-- DateTimeName: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Lon: double (nullable = true)
 |-- Base: string (nullable = true)

In [12]:
#for change string type to timestamp

uber_data = uber_data.withColumn("DateTimeName", to_timestamp("DateTimeName",'M/d/yyyy H:mm:ss'))
uber_data.show()

+-------------------+-------+--------+------+
|       DateTimeName|    Lat|     Lon|  Base|
+-------------------+-------+--------+------+
|2014-08-01 00:03:00|40.7366|-73.9906|B02512|
|2014-08-01 00:09:00| 40.726|-73.9918|B02512|
|2014-08-01 00:12:00|40.7209|-74.0507|B02512|
|2014-08-01 00:12:00|40.7387|-73.9856|B02512|
|2014-08-01 00:12:00|40.7323|-74.0077|B02512|
|2014-08-01 00:13:00|40.7349|-74.0033|B02512|
|2014-08-01 00:15:00|40.7279|-73.9542|B02512|
|2014-08-01 00:17:00| 40.721|-73.9937|B02512|
|2014-08-01 00:19:00|40.7195| -74.006|B02512|
|2014-08-01 00:20:00|40.7448|-73.9799|B02512|
|2014-08-01 00:21:00|40.7399|-74.0057|B02512|
|2014-08-01 00:25:00|40.7651|-73.9683|B02512|
|2014-08-01 00:27:00|40.7354|-74.0081|B02512|
|2014-08-01 00:29:00|40.7339|-74.0028|B02512|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|
|2014-08-01 00:30:00|40.7252|-73.9516|B02512|
|2014-08-01 00:30:00|40.7433| -73.986|B02512|
|2014-08-01 00:34:00|40.7437|-73.9884|B02512|
|2014-08-01 00:36:00|40.7406|-74.0077|B02512|
+-------------------+-------+--------+------+
only showing top 20 rows

In [13]:
### Extract day of month and day of week from date in pyspark
 
from pyspark.sql.functions import dayofmonth
from pyspark.sql.functions import to_date
from pyspark.sql.types import *
import pyspark.sql.functions as F
 
uber_data = uber_data.withColumn('dayofmonth',dayofmonth(uber_data.DateTimeName))
uber_data = uber_data.withColumn('dayofweek',dayofweek(uber_data.DateTimeName))
uber_data=uber_data.withColumn("DateTimeAsInteger", F.unix_timestamp(uber_data['DateTimeName']))

uber_data.show()

+-------------------+-------+--------+------+----------+---------+-----------------+
|       DateTimeName|    Lat|     Lon|  Base|dayofmonth|dayofweek|DateTimeAsInteger|
+-------------------+-------+--------+------+----------+---------+-----------------+
|2014-08-01 00:03:00|40.7366|-73.9906|B02512|         1|        6|       1406851380|
|2014-08-01 00:09:00| 40.726|-73.9918|B02512|         1|        6|       1406851740|
|2014-08-01 00:12:00|40.7209|-74.0507|B02512|         1|        6|       1406851920|
|2014-08-01 00:12:00|40.7387|-73.9856|B02512|         1|        6|       1406851920|
|2014-08-01 00:12:00|40.7323|-74.0077|B02512|         1|        6|       1406851920|
|2014-08-01 00:13:00|40.7349|-74.0033|B02512|         1|        6|       1406851980|
|2014-08-01 00:15:00|40.7279|-73.9542|B02512|         1|        6|       1406852100|
|2014-08-01 00:17:00| 40.721|-73.9937|B02512|         1|        6|       1406852220|
|2014-08-01 00:19:00|40.7195| -74.006|B02512|         1|        6|       1406852340|
|2014-08-01 00:20:00|40.7448|-73.9799|B02512|         1|        6|       1406852400|
|2014-08-01 00:21:00|40.7399|-74.0057|B02512|         1|        6|       1406852460|
|2014-08-01 00:25:00|40.7651|-73.9683|B02512|         1|        6|       1406852700|
|2014-08-01 00:27:00|40.7354|-74.0081|B02512|         1|        6|       1406852820|
|2014-08-01 00:29:00|40.7339|-74.0028|B02512|         1|        6|       1406852940|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|         1|        6|       1406852940|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|         1|        6|       1406852940|
|2014-08-01 00:30:00|40.7252|-73.9516|B02512|         1|        6|       1406853000|
|2014-08-01 00:30:00|40.7433| -73.986|B02512|         1|        6|       1406853000|
|2014-08-01 00:34:00|40.7437|-73.9884|B02512|         1|        6|       1406853240|
|2014-08-01 00:36:00|40.7406|-74.0077|B02512|         1|        6|       1406853360|
+-------------------+-------+--------+------+----------+---------+-----------------+
only showing top 20 rows

In [ ]:
uber_data_2 = uber_data.drop("DateTimeName")
uber_data_2.show()

+-------+--------+------+----------+---------+-----------------+
|    Lat|     Lon|  Base|dayofmonth|dayofweek|DateTimeAsInteger|
+-------+--------+------+----------+---------+-----------------+
|40.7366|-73.9906|B02512|         1|        6|       1406851380|
| 40.726|-73.9918|B02512|         1|        6|       1406851740|
|40.7209|-74.0507|B02512|         1|        6|       1406851920|
|40.7387|-73.9856|B02512|         1|        6|       1406851920|
|40.7323|-74.0077|B02512|         1|        6|       1406851920|
|40.7349|-74.0033|B02512|         1|        6|       1406851980|
|40.7279|-73.9542|B02512|         1|        6|       1406852100|
| 40.721|-73.9937|B02512|         1|        6|       1406852220|
|40.7195| -74.006|B02512|         1|        6|       1406852340|
|40.7448|-73.9799|B02512|         1|        6|       1406852400|
|40.7399|-74.0057|B02512|         1|        6|       1406852460|
|40.7651|-73.9683|B02512|         1|        6|       1406852700|
|40.7354|-74.0081|B02512|         1|        6|       1406852820|
|40.7339|-74.0028|B02512|         1|        6|       1406852940|
|40.7364|-74.0301|B02512|         1|        6|       1406852940|
|40.7364|-74.0301|B02512|         1|        6|       1406852940|
|40.7252|-73.9516|B02512|         1|        6|       1406853000|
|40.7433| -73.986|B02512|         1|        6|       1406853000|
|40.7437|-73.9884|B02512|         1|        6|       1406853240|
|40.7406|-74.0077|B02512|         1|        6|       1406853360|
+-------+--------+------+----------+---------+-----------------+
only showing top 20 rows

In [14]:
from handyspark import *
uber_plot = uber_data.toHandy()
uber_plot.show()

/content/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:148: UserWarning: DataFrame.sql_ctx is an internal property, and will be removed in future releases. Use DataFrame.sparkSession instead.
  warnings.warn(
/content/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:127: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

+-------------------+-------+--------+------+----------+---------+-----------------+
|       DateTimeName|    Lat|     Lon|  Base|dayofmonth|dayofweek|DateTimeAsInteger|
+-------------------+-------+--------+------+----------+---------+-----------------+
|2014-08-01 00:03:00|40.7366|-73.9906|B02512|         1|        6|       1406851380|
|2014-08-01 00:09:00| 40.726|-73.9918|B02512|         1|        6|       1406851740|
|2014-08-01 00:12:00|40.7209|-74.0507|B02512|         1|        6|       1406851920|
|2014-08-01 00:12:00|40.7387|-73.9856|B02512|         1|        6|       1406851920|
|2014-08-01 00:12:00|40.7323|-74.0077|B02512|         1|        6|       1406851920|
|2014-08-01 00:13:00|40.7349|-74.0033|B02512|         1|        6|       1406851980|
|2014-08-01 00:15:00|40.7279|-73.9542|B02512|         1|        6|       1406852100|
|2014-08-01 00:17:00| 40.721|-73.9937|B02512|         1|        6|       1406852220|
|2014-08-01 00:19:00|40.7195| -74.006|B02512|         1|        6|       1406852340|
|2014-08-01 00:20:00|40.7448|-73.9799|B02512|         1|        6|       1406852400|
|2014-08-01 00:21:00|40.7399|-74.0057|B02512|         1|        6|       1406852460|
|2014-08-01 00:25:00|40.7651|-73.9683|B02512|         1|        6|       1406852700|
|2014-08-01 00:27:00|40.7354|-74.0081|B02512|         1|        6|       1406852820|
|2014-08-01 00:29:00|40.7339|-74.0028|B02512|         1|        6|       1406852940|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|         1|        6|       1406852940|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|         1|        6|       1406852940|
|2014-08-01 00:30:00|40.7252|-73.9516|B02512|         1|        6|       1406853000|
|2014-08-01 00:30:00|40.7433| -73.986|B02512|         1|        6|       1406853000|
|2014-08-01 00:34:00|40.7437|-73.9884|B02512|         1|        6|       1406853240|
|2014-08-01 00:36:00|40.7406|-74.0077|B02512|         1|        6|       1406853360|
+-------------------+-------+--------+------+----------+---------+-----------------+
only showing top 20 rows

In [ ]:
uber_plot.printSchema()

root
 |-- DateTimeName: timestamp (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Lon: double (nullable = true)
 |-- Base: string (nullable = true)
 |-- dayofmonth: integer (nullable = true)
 |-- dayofweek: integer (nullable = true)
 |-- DateTimeAsInteger: long (nullable = true)

In [ ]:
import matplotlib.pyplot as plt

fig, axs = plt.subplots(1, 4, figsize=(20, 4))
uber_plot.cols['Date/Time'].hist(ax=axs[0])
uber_plot.cols['Lat'].hist(ax=axs[1])
uber_plot.cols['Lon'].hist(ax=axs[2])
uber_plot.cols['Base'].hist(ax=axs[2])

In [15]:
from pyspark.ml.feature import VectorAssembler

vecAssembler = VectorAssembler(inputCols=["Lat", "Lon","dayofmonth","dayofweek", "DateTimeAsInteger"], outputCol="features")
new_uber = vecAssembler.transform(uber_plot)
new_uber.show()

+-------------------+-------+--------+------+----------+---------+-----------------+--------------------+
|       DateTimeName|    Lat|     Lon|  Base|dayofmonth|dayofweek|DateTimeAsInteger|            features|
+-------------------+-------+--------+------+----------+---------+-----------------+--------------------+
|2014-08-01 00:03:00|40.7366|-73.9906|B02512|         1|        6|       1406851380|[40.7366,-73.9906...|
|2014-08-01 00:09:00| 40.726|-73.9918|B02512|         1|        6|       1406851740|[40.726,-73.9918,...|
|2014-08-01 00:12:00|40.7209|-74.0507|B02512|         1|        6|       1406851920|[40.7209,-74.0507...|
|2014-08-01 00:12:00|40.7387|-73.9856|B02512|         1|        6|       1406851920|[40.7387,-73.9856...|
|2014-08-01 00:12:00|40.7323|-74.0077|B02512|         1|        6|       1406851920|[40.7323,-74.0077...|
|2014-08-01 00:13:00|40.7349|-74.0033|B02512|         1|        6|       1406851980|[40.7349,-74.0033...|
|2014-08-01 00:15:00|40.7279|-73.9542|B02512|         1|        6|       1406852100|[40.7279,-73.9542...|
|2014-08-01 00:17:00| 40.721|-73.9937|B02512|         1|        6|       1406852220|[40.721,-73.9937,...|
|2014-08-01 00:19:00|40.7195| -74.006|B02512|         1|        6|       1406852340|[40.7195,-74.006,...|
|2014-08-01 00:20:00|40.7448|-73.9799|B02512|         1|        6|       1406852400|[40.7448,-73.9799...|
|2014-08-01 00:21:00|40.7399|-74.0057|B02512|         1|        6|       1406852460|[40.7399,-74.0057...|
|2014-08-01 00:25:00|40.7651|-73.9683|B02512|         1|        6|       1406852700|[40.7651,-73.9683...|
|2014-08-01 00:27:00|40.7354|-74.0081|B02512|         1|        6|       1406852820|[40.7354,-74.0081...|
|2014-08-01 00:29:00|40.7339|-74.0028|B02512|         1|        6|       1406852940|[40.7339,-74.0028...|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|         1|        6|       1406852940|[40.7364,-74.0301...|
|2014-08-01 00:29:00|40.7364|-74.0301|B02512|         1|        6|       1406852940|[40.7364,-74.0301...|
|2014-08-01 00:30:00|40.7252|-73.9516|B02512|         1|        6|       1406853000|[40.7252,-73.9516...|
|2014-08-01 00:30:00|40.7433| -73.986|B02512|         1|        6|       1406853000|[40.7433,-73.986,...|
|2014-08-01 00:34:00|40.7437|-73.9884|B02512|         1|        6|       1406853240|[40.7437,-73.9884...|
|2014-08-01 00:36:00|40.7406|-74.0077|B02512|         1|        6|       1406853360|[40.7406,-74.0077...|
+-------------------+-------+--------+------+----------+---------+-----------------+--------------------+
only showing top 20 rows

In [16]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.sql import Row
from pyspark.sql.types import FloatType

rows = []
evaluator = ClusteringEvaluator()

for k in range(2, 11):
    kmeans = KMeans(k=k, seed=1, maxIter=10)
    model = kmeans.fit(new_uber.select('features'))
    transformed = model.transform(new_uber)
    trainingCost = model.summary.trainingCost
    clusterSizes = model.summary.clusterSizes
    silhouette_scores = evaluator.evaluate(transformed)
    row = [k,trainingCost,str(clusterSizes),silhouette_scores]
    rows += [row]

result = ["K", "trainingCost", "clusterSizes","silhouette"]
cluster = spark.createDataFrame(rows, result)

cluster.show()

+---+--------------------+--------------------+------------------+
|  K|        trainingCost|        clusterSizes|        silhouette|
+---+--------------------+--------------------+------------------+
|  2|1.231970377739506...|    [402219, 427056]|0.7928968861525764|
|  3|5.505406554454890...|[277980, 266160, ...|0.7543591269576767|
|  4|3.035821592527697...|[240669, 216744, ...|0.7501073661421657|
|  5|2.318195668634442...|[231982, 143882, ...|0.7046603590613434|
|  6|1.605098063854405...|[158234, 142077, ...|0.7010457555912631|
|  7|1.022248939065816E16|[122545, 135498, ...| 0.713975730873473|
|  8| 7.70988877082168E15|[92718, 109686, 8...| 0.711629258670217|
|  9|5.989894551915797E15|[84628, 84784, 10...|0.7146278653610421|
| 10|4.978943128704091E15|[95465, 80424, 75...|0.7037236482017154|
+---+--------------------+--------------------+------------------+

In [17]:
train, test = new_uber.randomSplit([0.8, 0.2], seed=1)
print('Count of Training Dataset : ' , train.count())
print('Count of Testing Dataset: ' , test.count())

Count of Training Dataset :  663303
Count of Testing Dataset:  165972

In [18]:
#we choose k = 5
k_means = KMeans(k = 5, seed = 1, maxIter = 10, featuresCol = "features", predictionCol = "cluster")

k_model = kmeans.fit(train)
k_transformed = k_model.transform(test)

k_transformed.show()

+-------------------+-------+--------+------+----------+---------+-----------------+--------------------+----------+
|       DateTimeName|    Lat|     Lon|  Base|dayofmonth|dayofweek|DateTimeAsInteger|            features|prediction|
+-------------------+-------+--------+------+----------+---------+-----------------+--------------------+----------+
|2014-08-01 00:00:00|40.6994|-73.9591|B02617|         1|        6|       1406851200|[40.6994,-73.9591...|         1|
|2014-08-01 00:00:00|40.7623|-73.9751|B02617|         1|        6|       1406851200|[40.7623,-73.9751...|         1|
|2014-08-01 00:01:00|40.6447| -73.782|B02617|         1|        6|       1406851260|[40.6447,-73.782,...|         1|
|2014-08-01 00:01:00|40.6906|-73.9933|B02598|         1|        6|       1406851260|[40.6906,-73.9933...|         1|
|2014-08-01 00:01:00|40.7073|-74.0054|B02598|         1|        6|       1406851260|[40.7073,-74.0054...|         1|
|2014-08-01 00:02:00|40.7199|-74.0055|B02598|         1|        6|       1406851320|[40.7199,-74.0055...|         1|
|2014-08-01 00:02:00| 40.759|-73.9682|B02598|         1|        6|       1406851320|[40.759,-73.9682,...|         1|
|2014-08-01 00:02:00|40.8656|-73.9274|B02598|         1|        6|       1406851320|[40.8656,-73.9274...|         1|
|2014-08-01 00:03:00|40.7366|-73.9906|B02512|         1|        6|       1406851380|[40.7366,-73.9906...|         1|
|2014-08-01 00:03:00|40.7488|-73.9868|B02617|         1|        6|       1406851380|[40.7488,-73.9868...|         1|
|2014-08-01 00:04:00|40.7271|-73.9915|B02617|         1|        6|       1406851440|[40.7271,-73.9915...|         1|
|2014-08-01 00:04:00|40.7279|-74.0059|B02617|         1|        6|       1406851440|[40.7279,-74.0059...|         1|
|2014-08-01 00:04:00|40.7644|-73.9555|B02617|         1|        6|       1406851440|[40.7644,-73.9555...|         1|
|2014-08-01 00:06:00|40.6457|-73.7767|B02617|         1|        6|       1406851560|[40.6457,-73.7767...|         1|
|2014-08-01 00:06:00|40.7268|-73.9474|B02617|         1|        6|       1406851560|[40.7268,-73.9474...|         1|
|2014-08-01 00:06:00|40.7304|-74.0001|B02598|         1|        6|       1406851560|[40.7304,-74.0001...|         1|
|2014-08-01 00:06:00|40.7638|-73.9589|B02617|         1|        6|       1406851560|[40.7638,-73.9589...|         1|
|2014-08-01 00:06:00|40.7672| -73.953|B02617|         1|        6|       1406851560|[40.7672,-73.953,...|         1|
|2014-08-01 00:07:00|40.7478|-74.0047|B02617|         1|        6|       1406851620|[40.7478,-74.0047...|         1|
|2014-08-01 00:08:00|40.6484|-73.7823|B02617|         1|        6|       1406851680|[40.6484,-73.7823...|         1|
+-------------------+-------+--------+------+----------+---------+-----------------+--------------------+----------+
only showing top 20 rows

In [41]:
k_transformed.printSchema()

root
 |-- DateTimeName: timestamp (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Lon: double (nullable = true)
 |-- Base: string (nullable = true)
 |-- dayofmonth: integer (nullable = true)
 |-- dayofweek: integer (nullable = true)
 |-- DateTimeAsInteger: long (nullable = true)
 |-- features: vector (nullable = true)
 |-- prediction: integer (nullable = false)

In [70]:
from cassandra.cluster import Cluster
cluster=Cluster()
session=cluster.connect()

session.execute("create keyspace datasetkeyspace with replication={'class': 'SimpleStrategy', 'replication_factor': 1};")

session = cluster.connect('datasetkeyspace');
 
q = "CREATE TABLE uberdataset (\
id int, DateTimeName timestamp, Lat double, Lon double, Base text, \
dayofmonth int, dayofweek int, DateTimeAsInteger int, cluster int, \
PRIMARY KEY (cluster, Lat, Lon, id))"

session.execute(q)

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 127.0.0.1:9042. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 127.0.0.1:9042. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

In [ ]:
from cassandra.query import SimpleStatement, BatchStatement
batch=BatchStatement()
batch2=BatchStatement()
batch3=BatchStatement()
batch4=BatchStatement()

k_transformed1, k_transformed2, k_transformed3, k_transformed4 = k_transformed.randomSplit([0.2, 0.2, 0.2, 0.2], seed=1)

count=1
for row in k_transformed1.collect():
    batch.add(SimpleStatement("INSERT INTO uberdataset (id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster\
     VALUES({count}, {row.DateTimeName}, {row.Lat}, {row.Lon}, {row.Base}, {row.dayofmonth}, {row.dayofweek}, {row.DateTimeAsInteger} ,{row.prediction})"))
    count = count + 1
session.execute(batch)

count2 = count
for row2 in k_transformed2.collect():
    batch2.add(SimpleStatement("INSERT INTO uberdataset (id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster) VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"),\
             (count2, row2.DateTimeName, row2.Lat, row2.Lon, row2.Base, row2.dayofmonth, row2.dayofweek , row2.DateTimeAsInteger, row2.prediction))
    count2 = count2 + 1
session.execute(batch2)

count3 = count2

for row3 in k_transformed3.collect():
    batch3.add(SimpleStatement("INSERT INTO uberdataset (id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster) VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"),\
             (count3, row3.DateTimeName, row3.Lat, row3.Lon, row3.Base, row3.dayofmonth, row3.dayofweek, row3.DateTimeAsInteger, row3.prediction))
    count3 = count3 + 1
session.execute(batch3)
count4 = count3

for row4 in k_transformed4.collect():
    batch4.add(SimpleStatement("INSERT INTO uberdataset (id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster) VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"),\
             (count4, row4.DateTimeName, row4.Lat, row4.Lon, row4.Base, row4.dayofmonth, row4.dayofweek, row4.DateTimeAsInteger, row4.prediction))
    count4 = count4 + 1
session.execute(batch4)

In [71]:
k_transformed1, k_transformed2, k_transformed3 = k_transformed.randomSplit([0.3, 0.3, 0.4], seed=1)

In [85]:
#store data in cassandra
count=1
for row in k_transformed1.collect():  
    q1 = f"INSERT INTO uberdataset(id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster) \
    VALUES ({count}, '{row.DateTimeName}', {row.Lat}, {row.Lon}, '{row.Base}', {row.dayofmonth}, {row.dayofweek}, {row.DateTimeAsInteger} ,{row.prediction})"
    session.execute(q1)
    count = count + 1

In [87]:
#Question 1
result = session.execute("SELECT cluster, COUNT (id) AS IDs \
 FROM uberdataset GROUP BY cluster ALLOW FILTERING")
for row in result:
    print(row)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key

Row(cluster=5, ids=5050)
Row(cluster=1, ids=5612)
Row(cluster=8, ids=3999)
Row(cluster=0, ids=5474)
Row(cluster=2, ids=5671)
Row(cluster=4, ids=6421)
Row(cluster=7, ids=3899)
Row(cluster=6, ids=5142)
Row(cluster=9, ids=4640)
Row(cluster=3, ids=3813)

In [116]:
#Question 2
import datetime as DT

result = session.execute("SELECT id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster FROM uberdataset ALLOW FILTERING")
#lastDate = result.next(1)
last = result.all
for row in result:
    firstDate = row

week_current = firstDate.datetimename
week_ago = week_current - DT.timedelta(days=7)
print(firstDate.datetimename)
print(week_ago)
q = f"SELECT id, DateTimeName, Lat, Lon, Base, dayofmonth, dayofweek, DateTimeAsInteger, cluster FROM uberdataset\
        WHERE DateTimeName >= ('{week_ago}') and DateTimeName <= ('{week_current}') ALLOW FILTERING"

q2 = session.execute(q)
for row2 in q2:
    print(row2)

WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT base, datetimeasinteger, datetimename, dayofmonth, dayofweek FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-24T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

2014-08-31 17:54:00
2014-08-24 17:54:00
Row(id=43143, datetimename=datetime.datetime(2014, 8, 26, 6, 53), lat=40.5547, lon=-74.539, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409035980, cluster=8)
Row(id=41809, datetimename=datetime.datetime(2014, 8, 24, 18, 40), lat=40.5689, lon=-73.8618, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408905600, cluster=8)
Row(id=43462, datetimename=datetime.datetime(2014, 8, 26, 12, 37), lat=40.5799, lon=-73.9854, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409056620, cluster=8)
Row(id=43507, datetimename=datetime.datetime(2014, 8, 26, 13, 41), lat=40.5833, lon=-73.9611, base='B02764', dayofmonth=26, dayofweek=3, datetimeasinteger=1409060460, cluster=8)
Row(id=24699, datetimename=datetime.datetime(2014, 8, 25, 13, 8), lat=40.5864, lon=-73.9296, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408972080, cluster=8)
Row(id=24414, datetimename=datetime.datetime(2014, 8, 24, 18, 5), lat=40.5882, lon=-73.665, base='B02598', dayofmonth=24, dayofweek=1, datetimeasinteger=1408903500, cluster=8)
Row(id=42474, datetimename=datetime.datetime(2014, 8, 25, 13, 45), lat=40.5897, lon=-73.9642, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408974300, cluster=8)
Row(id=43401, datetimename=datetime.datetime(2014, 8, 26, 11, 16), lat=40.5915, lon=-73.9926, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409051760, cluster=8)
Row(id=24428, datetimename=datetime.datetime(2014, 8, 24, 18, 31), lat=40.5917, lon=-73.7889, base='B02598', dayofmonth=24, dayofweek=1, datetimeasinteger=1408905060, cluster=8)
Row(id=24949, datetimename=datetime.datetime(2014, 8, 26, 6, 45), lat=40.6014, lon=-73.9883, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409035500, cluster=8)
Row(id=43047, datetimename=datetime.datetime(2014, 8, 26, 2, 35), lat=40.602, lon=-73.9941, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409020500, cluster=8)
Row(id=42658, datetimename=datetime.datetime(2014, 8, 25, 16, 54), lat=40.6029, lon=-73.9639, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408985640, cluster=8)
Row(id=44133, datetimename=datetime.datetime(2014, 8, 26, 23, 13), lat=40.6055, lon=-73.9497, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409094780, cluster=8)
Row(id=25016, datetimename=datetime.datetime(2014, 8, 26, 10, 7), lat=40.6066, lon=-74.0035, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409047620, cluster=8)
Row(id=42612, datetimename=datetime.datetime(2014, 8, 25, 16, 19), lat=40.6106, lon=-74.0245, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408983540, cluster=8)
Row(id=42669, datetimename=datetime.datetime(2014, 8, 25, 17, 0), lat=40.612, lon=-74.024, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408986000, cluster=8)
Row(id=42421, datetimename=datetime.datetime(2014, 8, 25, 12, 17), lat=40.6124, lon=-73.7254, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408969020, cluster=8)
Row(id=24600, datetimename=datetime.datetime(2014, 8, 25, 7, 42), lat=40.6127, lon=-73.9396, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408952520, cluster=8)
Row(id=42254, datetimename=datetime.datetime(2014, 8, 25, 8, 14), lat=40.614, lon=-73.941, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408954440, cluster=8)
Row(id=44166, datetimename=datetime.datetime(2014, 8, 27, 0, 34), lat=40.6161, lon=-73.9256, base='B02764', dayofmonth=27, dayofweek=4, datetimeasinteger=1409099640, cluster=8)
Row(id=43166, datetimename=datetime.datetime(2014, 8, 26, 7, 16), lat=40.6218, lon=-74.026, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409037360, cluster=8)
Row(id=41769, datetimename=datetime.datetime(2014, 8, 24, 18, 0), lat=40.6219, lon=-74.0317, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408903200, cluster=8)
Row(id=24501, datetimename=datetime.datetime(2014, 8, 24, 22, 14), lat=40.6219, lon=-73.9302, base='B02598', dayofmonth=24, dayofweek=1, datetimeasinteger=1408918440, cluster=8)
Row(id=42494, datetimename=datetime.datetime(2014, 8, 25, 14, 17), lat=40.6223, lon=-73.9509, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408976220, cluster=8)
Row(id=41812, datetimename=datetime.datetime(2014, 8, 24, 18, 44), lat=40.623, lon=-73.956, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408905840, cluster=8)
Row(id=42292, datetimename=datetime.datetime(2014, 8, 25, 8, 56), lat=40.623, lon=-73.9558, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408956960, cluster=8)
Row(id=24575, datetimename=datetime.datetime(2014, 8, 25, 6, 40), lat=40.6248, lon=-73.9644, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408948800, cluster=8)
Row(id=24734, datetimename=datetime.datetime(2014, 8, 25, 15, 22), lat=40.6261, lon=-73.9469, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408980120, cluster=8)
Row(id=43502, datetimename=datetime.datetime(2014, 8, 26, 13, 37), lat=40.6276, lon=-73.9033, base='B02764', dayofmonth=26, dayofweek=3, datetimeasinteger=1409060220, cluster=8)
Row(id=44070, datetimename=datetime.datetime(2014, 8, 26, 21, 55), lat=40.628, lon=-73.9571, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409090100, cluster=8)
Row(id=43324, datetimename=datetime.datetime(2014, 8, 26, 9, 44), lat=40.6314, lon=-73.9456, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409046240, cluster=8)
Row(id=41975, datetimename=datetime.datetime(2014, 8, 24, 22, 4), lat=40.6317, lon=-74.0078, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408917840, cluster=8)
Row(id=43792, datetimename=datetime.datetime(2014, 8, 26, 18, 7), lat=40.632, lon=-74.0269, base='B02764', dayofmonth=26, dayofweek=3, datetimeasinteger=1409076420, cluster=8)
Row(id=42318, datetimename=datetime.datetime(2014, 8, 25, 9, 31), lat=40.632, lon=-73.9467, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408959060, cluster=8)
Row(id=24946, datetimename=datetime.datetime(2014, 8, 26, 6, 39), lat=40.6337, lon=-73.972, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409035140, cluster=8)
Row(id=44105, datetimename=datetime.datetime(2014, 8, 26, 22, 34), lat=40.6338, lon=-73.972, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409092440, cluster=8)
Row(id=43771, datetimename=datetime.datetime(2014, 8, 26, 17, 49), lat=40.6345, lon=-74.0368, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409075340, cluster=8)
Row(id=42941, datetimename=datetime.datetime(2014, 8, 25, 21, 32), lat=40.6348, lon=-74.0235, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409002320, cluster=8)
Row(id=43019, datetimename=datetime.datetime(2014, 8, 25, 23, 27), lat=40.6355, lon=-73.9635, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1409009220, cluster=8)
Row(id=42078, datetimename=datetime.datetime(2014, 8, 25, 4, 25), lat=40.6363, lon=-74.0325, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408940700, cluster=8)
Row(id=44039, datetimename=datetime.datetime(2014, 8, 26, 21, 25), lat=40.6366, lon=-73.9447, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409088300, cluster=8)
Row(id=41979, datetimename=datetime.datetime(2014, 8, 24, 22, 12), lat=40.6367, lon=-73.9713, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408918320, cluster=8)
Row(id=42084, datetimename=datetime.datetime(2014, 8, 25, 4, 52), lat=40.6369, lon=-73.9715, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408942320, cluster=8)
Row(id=42269, datetimename=datetime.datetime(2014, 8, 25, 8, 34), lat=40.638, lon=-74.0339, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408955640, cluster=8)
Row(id=43071, datetimename=datetime.datetime(2014, 8, 26, 4, 33), lat=40.6412, lon=-73.9716, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409027580, cluster=8)
Row(id=42934, datetimename=datetime.datetime(2014, 8, 25, 21, 24), lat=40.6415, lon=-73.7892, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409001840, cluster=8)
Row(id=42503, datetimename=datetime.datetime(2014, 8, 25, 14, 26), lat=40.6415, lon=-73.7882, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408976760, cluster=8)
Row(id=42442, datetimename=datetime.datetime(2014, 8, 25, 12, 56), lat=40.6416, lon=-73.7882, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408971360, cluster=8)
Row(id=42499, datetimename=datetime.datetime(2014, 8, 25, 14, 20), lat=40.6417, lon=-73.7886, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408976400, cluster=8)
Row(id=24442, datetimename=datetime.datetime(2014, 8, 24, 19, 10), lat=40.6419, lon=-73.7888, base='B02598', dayofmonth=24, dayofweek=1, datetimeasinteger=1408907400, cluster=8)
Row(id=24440, datetimename=datetime.datetime(2014, 8, 24, 19, 5), lat=40.6419, lon=-73.7886, base='B02512', dayofmonth=24, dayofweek=1, datetimeasinteger=1408907100, cluster=8)
Row(id=43716, datetimename=datetime.datetime(2014, 8, 26, 17, 11), lat=40.6422, lon=-74.0131, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409073060, cluster=8)
Row(id=25231, datetimename=datetime.datetime(2014, 8, 26, 19, 59), lat=40.6423, lon=-73.7891, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409083140, cluster=8)
Row(id=43000, datetimename=datetime.datetime(2014, 8, 25, 22, 47), lat=40.6426, lon=-73.9618, base='B02764', dayofmonth=25, dayofweek=2, datetimeasinteger=1409006820, cluster=8)
Row(id=43688, datetimename=datetime.datetime(2014, 8, 26, 16, 52), lat=40.6429, lon=-73.7895, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409071920, cluster=8)
Row(id=42824, datetimename=datetime.datetime(2014, 8, 25, 19, 21), lat=40.6429, lon=-73.7839, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408994460, cluster=8)
Row(id=43913, datetimename=datetime.datetime(2014, 8, 26, 19, 52), lat=40.6431, lon=-73.7893, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409082720, cluster=8)
Row(id=41903, datetimename=datetime.datetime(2014, 8, 24, 20, 41), lat=40.6434, lon=-73.7894, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408912860, cluster=8)
Row(id=24505, datetimename=datetime.datetime(2014, 8, 24, 22, 31), lat=40.6435, lon=-73.7898, base='B02598', dayofmonth=24, dayofweek=1, datetimeasinteger=1408919460, cluster=8)
Row(id=42999, datetimename=datetime.datetime(2014, 8, 25, 22, 46), lat=40.6437, lon=-73.7129, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409006760, cluster=8)
Row(id=42148, datetimename=datetime.datetime(2014, 8, 25, 6, 28), lat=40.644, lon=-73.783, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408948080, cluster=8)
Row(id=24746, datetimename=datetime.datetime(2014, 8, 25, 15, 45), lat=40.6442, lon=-73.7837, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408981500, cluster=8)
Row(id=41791, datetimename=datetime.datetime(2014, 8, 24, 18, 21), lat=40.6443, lon=-73.7831, base='B02764', dayofmonth=24, dayofweek=1, datetimeasinteger=1408904460, cluster=8)
Row(id=24982, datetimename=datetime.datetime(2014, 8, 26, 8, 3), lat=40.6444, lon=-73.9579, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409040180, cluster=8)
Row(id=41972, datetimename=datetime.datetime(2014, 8, 24, 22, 1), lat=40.6444, lon=-73.7819, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408917660, cluster=8)
Row(id=43496, datetimename=datetime.datetime(2014, 8, 26, 13, 26), lat=40.6446, lon=-73.9624, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409059560, cluster=8)
Row(id=24586, datetimename=datetime.datetime(2014, 8, 25, 7, 10), lat=40.6446, lon=-73.7829, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408950600, cluster=8)
Row(id=42003, datetimename=datetime.datetime(2014, 8, 24, 22, 40), lat=40.6446, lon=-73.7825, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408920000, cluster=8)
Row(id=43705, datetimename=datetime.datetime(2014, 8, 26, 17, 3), lat=40.6446, lon=-73.7825, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409072580, cluster=8)
Row(id=42860, datetimename=datetime.datetime(2014, 8, 25, 20, 1), lat=40.6446, lon=-73.7824, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408996860, cluster=8)
Row(id=25074, datetimename=datetime.datetime(2014, 8, 26, 13, 35), lat=40.6447, lon=-73.7824, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409060100, cluster=8)
Row(id=44021, datetimename=datetime.datetime(2014, 8, 26, 21, 13), lat=40.6447, lon=-73.7824, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409087580, cluster=8)
Row(id=41999, datetimename=datetime.datetime(2014, 8, 24, 22, 36), lat=40.6447, lon=-73.7822, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408919760, cluster=8)
Row(id=42015, datetimename=datetime.datetime(2014, 8, 24, 23, 5), lat=40.6447, lon=-73.7822, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408921500, cluster=8)
Row(id=42797, datetimename=datetime.datetime(2014, 8, 25, 18, 55), lat=40.6447, lon=-73.7822, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408992900, cluster=8)
Row(id=42906, datetimename=datetime.datetime(2014, 8, 25, 21, 0), lat=40.6447, lon=-73.7822, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409000400, cluster=8)
Row(id=43003, datetimename=datetime.datetime(2014, 8, 25, 22, 52), lat=40.6447, lon=-73.7822, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409007120, cluster=8)
Row(id=24930, datetimename=datetime.datetime(2014, 8, 26, 5, 8), lat=40.6447, lon=-73.7821, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409029680, cluster=8)
Row(id=42973, datetimename=datetime.datetime(2014, 8, 25, 22, 13), lat=40.6447, lon=-73.7821, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409004780, cluster=8)
Row(id=25069, datetimename=datetime.datetime(2014, 8, 26, 13, 10), lat=40.6447, lon=-73.782, base='B02598', dayofmonth=26, dayofweek=3, datetimeasinteger=1409058600, cluster=8)
Row(id=24727, datetimename=datetime.datetime(2014, 8, 25, 14, 59), lat=40.6447, lon=-73.7819, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408978740, cluster=8)
Row(id=41856, datetimename=datetime.datetime(2014, 8, 24, 19, 43), lat=40.6447, lon=-73.7819, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408909380, cluster=8)
Row(id=42123, datetimename=datetime.datetime(2014, 8, 25, 5, 56), lat=40.6447, lon=-73.7819, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408946160, cluster=8)
Row(id=42450, datetimename=datetime.datetime(2014, 8, 25, 13, 4), lat=40.6447, lon=-73.7819, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408971840, cluster=8)
Row(id=43562, datetimename=datetime.datetime(2014, 8, 26, 14, 40), lat=40.6447, lon=-73.7817, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409064000, cluster=8)
Row(id=42488, datetimename=datetime.datetime(2014, 8, 25, 14, 12), lat=40.6447, lon=-73.7815, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408975920, cluster=8)
Row(id=24905, datetimename=datetime.datetime(2014, 8, 25, 23, 5), lat=40.6448, lon=-73.7822, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1409007900, cluster=8)
Row(id=41944, datetimename=datetime.datetime(2014, 8, 24, 21, 32), lat=40.6448, lon=-73.7821, base='B02682', dayofmonth=24, dayofweek=1, datetimeasinteger=1408915920, cluster=8)
Row(id=24465, datetimename=datetime.datetime(2014, 8, 24, 19, 57), lat=40.6448, lon=-73.782, base='B02598', dayofmonth=24, dayofweek=1, datetimeasinteger=1408910220, cluster=8)
Row(id=43027, datetimename=datetime.datetime(2014, 8, 25, 23, 53), lat=40.6448, lon=-73.782, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1409010780, cluster=8)
Row(id=43615, datetimename=datetime.datetime(2014, 8, 26, 15, 37), lat=40.6448, lon=-73.782, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409067420, cluster=8)
Row(id=24548, datetimename=datetime.datetime(2014, 8, 25, 5, 23), lat=40.6448, lon=-73.7819, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408944180, cluster=8)
Row(id=41800, datetimename=datetime.datetime(2014, 8, 24, 18, 31), lat=40.6448, lon=-73.7819, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408905060, cluster=8)
Row(id=41930, datetimename=datetime.datetime(2014, 8, 24, 21, 12), lat=40.6448, lon=-73.7819, base='B02682', dayofmonth=24, dayofweek=1, datetimeasinteger=1408914720, cluster=8)
Row(id=42993, datetimename=datetime.datetime(2014, 8, 25, 22, 35), lat=40.6448, lon=-73.7819, base='B02764', dayofmonth=25, dayofweek=2, datetimeasinteger=1409006100, cluster=8)
Row(id=43015, datetimename=datetime.datetime(2014, 8, 25, 23, 17), lat=40.6448, lon=-73.7819, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1409008620, cluster=8)
Row(id=42129, datetimename=datetime.datetime(2014, 8, 25, 6, 1), lat=40.6448, lon=-73.7818, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408946460, cluster=8)
Row(id=42160, datetimename=datetime.datetime(2014, 8, 25, 6, 38), lat=40.6448, lon=-73.7818, base='B02764', dayofmonth=25, dayofweek=2, datetimeasinteger=1408948680, cluster=8)
Row(id=43132, datetimename=datetime.datetime(2014, 8, 26, 6, 44), lat=40.6448, lon=-73.7818, base='B02764', dayofmonth=26, dayofweek=3, datetimeasinteger=1409035440, cluster=8)
Row(id=43564, datetimename=datetime.datetime(2014, 8, 26, 14, 42), lat=40.6448, lon=-73.7818, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409064120, cluster=8)
Row(id=25095, datetimename=datetime.datetime(2014, 8, 26, 14, 27), lat=40.6449, lon=-73.7821, base='B02512', dayofmonth=26, dayofweek=3, datetimeasinteger=1409063220, cluster=8)
Row(id=42592, datetimename=datetime.datetime(2014, 8, 25, 15, 56), lat=40.6449, lon=-73.7821, base='B02764', dayofmonth=25, dayofweek=2, datetimeasinteger=1408982160, cluster=8)
Row(id=43607, datetimename=datetime.datetime(2014, 8, 26, 15, 27), lat=40.6449, lon=-73.7816, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409066820, cluster=8)
Row(id=42708, datetimename=datetime.datetime(2014, 8, 25, 17, 36), lat=40.6449, lon=-73.7813, base='B02682', dayofmonth=25, dayofweek=2, datetimeasinteger=1408988160, cluster=8)
Row(id=43581, datetimename=datetime.datetime(2014, 8, 26, 15, 0), lat=40.645, lon=-73.7811, base='B02617', dayofmonth=26, dayofweek=3, datetimeasinteger=1409065200, cluster=8)
Row(id=43209, datetimename=datetime.datetime(2014, 8, 26, 7, 51), lat=40.6456, lon=-73.7768, base='B02682', dayofmonth=26, dayofweek=3, datetimeasinteger=1409039460, cluster=8)
Row(id=24564, datetimename=datetime.datetime(2014, 8, 25, 6, 18), lat=40.6456, lon=-73.7767, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408947480, cluster=8)
Row(id=42156, datetimename=datetime.datetime(2014, 8, 25, 6, 35), lat=40.6456, lon=-73.7767, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408948500, cluster=8)
Row(id=24563, datetimename=datetime.datetime(2014, 8, 25, 6, 13), lat=40.6457, lon=-73.7767, base='B02598', dayofmonth=25, dayofweek=2, datetimeasinteger=1408947180, cluster=8)
Row(id=41904, datetimename=datetime.datetime(2014, 8, 24, 20, 45), lat=40.6457, lon=-73.7767, base='B02617', dayofmonth=24, dayofweek=1, datetimeasinteger=1408913100, cluster=8)
Row(id=41936, datetimename=datetime.datetime(2014, 8, 24, 21, 17), lat=40.6457, lon=-73.7767, base='B02682', dayofmonth=24, dayofweek=1, datetimeasinteger=1408915020, cluster=8)
Row(id=42082, datetimename=datetime.datetime(2014, 8, 25, 4, 33), lat=40.6457, lon=-73.7767, base='B02617', dayofmonth=25, dayofweek=2, datetimeasinteger=1408941180, cluster=8)

WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT base, datetimeasinteger, datetimename, dayofmonth, dayofweek FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-24T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z AND token(cluster) >= token(7) LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

Streaming output truncated to the last 5000 lines.
Row(id=26398, datetimename=datetime.datetime(2014, 8, 29, 12, 42), lat=40.7453, lon=-73.9905, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409316120, cluster=7)
Row(id=45622, datetimename=datetime.datetime(2014, 8, 28, 11, 7), lat=40.7453, lon=-73.986, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409224020, cluster=7)
Row(id=25932, datetimename=datetime.datetime(2014, 8, 28, 11, 43), lat=40.7453, lon=-73.9823, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409226180, cluster=7)
Row(id=45731, datetimename=datetime.datetime(2014, 8, 28, 13, 23), lat=40.7454, lon=-74.0023, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409232180, cluster=7)
Row(id=25464, datetimename=datetime.datetime(2014, 8, 27, 12, 11), lat=40.7454, lon=-73.9893, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409141460, cluster=7)
Row(id=26063, datetimename=datetime.datetime(2014, 8, 28, 17, 8), lat=40.7454, lon=-73.989, base='B02512', dayofmonth=28, dayofweek=5, datetimeasinteger=1409245680, cluster=7)
Row(id=44353, datetimename=datetime.datetime(2014, 8, 27, 8, 4), lat=40.7454, lon=-73.9794, base='B02682', dayofmonth=27, dayofweek=4, datetimeasinteger=1409126640, cluster=7)
Row(id=25750, datetimename=datetime.datetime(2014, 8, 27, 22, 0), lat=40.7455, lon=-73.989, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409176800, cluster=7)
Row(id=46145, datetimename=datetime.datetime(2014, 8, 28, 19, 13), lat=40.7455, lon=-73.9838, base='B02764', dayofmonth=28, dayofweek=5, datetimeasinteger=1409253180, cluster=7)
Row(id=25408, datetimename=datetime.datetime(2014, 8, 27, 9, 6), lat=40.7455, lon=-73.9827, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409130360, cluster=7)
Row(id=25411, datetimename=datetime.datetime(2014, 8, 27, 9, 23), lat=40.7455, lon=-73.9814, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409131380, cluster=7)
Row(id=46788, datetimename=datetime.datetime(2014, 8, 29, 10, 4), lat=40.7457, lon=-74.0093, base='B02682', dayofmonth=29, dayofweek=6, datetimeasinteger=1409306640, cluster=7)
Row(id=46751, datetimename=datetime.datetime(2014, 8, 29, 9, 14), lat=40.7457, lon=-74.0072, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409303640, cluster=7)
Row(id=46622, datetimename=datetime.datetime(2014, 8, 29, 7, 1), lat=40.7457, lon=-73.9943, base='B02764', dayofmonth=29, dayofweek=6, datetimeasinteger=1409295660, cluster=7)
Row(id=26072, datetimename=datetime.datetime(2014, 8, 28, 17, 24), lat=40.7457, lon=-73.9938, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409246640, cluster=7)
Row(id=25751, datetimename=datetime.datetime(2014, 8, 27, 22, 0), lat=40.7457, lon=-73.9916, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409176800, cluster=7)
Row(id=46173, datetimename=datetime.datetime(2014, 8, 28, 19, 39), lat=40.7457, lon=-73.9801, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409254740, cluster=7)
Row(id=26238, datetimename=datetime.datetime(2014, 8, 28, 23, 56), lat=40.7457, lon=-73.9783, base='B02512', dayofmonth=28, dayofweek=5, datetimeasinteger=1409270160, cluster=7)
Row(id=46552, datetimename=datetime.datetime(2014, 8, 29, 4, 11), lat=40.7457, lon=-73.9568, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409285460, cluster=7)
Row(id=44435, datetimename=datetime.datetime(2014, 8, 27, 9, 26), lat=40.7458, lon=-74.1898, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409131560, cluster=7)
Row(id=46929, datetimename=datetime.datetime(2014, 8, 29, 13, 22), lat=40.7458, lon=-74.0085, base='B02764', dayofmonth=29, dayofweek=6, datetimeasinteger=1409318520, cluster=7)
Row(id=44641, datetimename=datetime.datetime(2014, 8, 27, 13, 37), lat=40.7458, lon=-74.0056, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409146620, cluster=7)
Row(id=26086, datetimename=datetime.datetime(2014, 8, 28, 17, 44), lat=40.7458, lon=-73.9897, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409247840, cluster=7)
Row(id=25585, datetimename=datetime.datetime(2014, 8, 27, 17, 6), lat=40.7458, lon=-73.9882, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409159160, cluster=7)
Row(id=26075, datetimename=datetime.datetime(2014, 8, 28, 17, 26), lat=40.7458, lon=-73.9862, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409246760, cluster=7)
Row(id=45137, datetimename=datetime.datetime(2014, 8, 27, 21, 2), lat=40.7458, lon=-73.9813, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409173320, cluster=7)
Row(id=46650, datetimename=datetime.datetime(2014, 8, 29, 7, 36), lat=40.7458, lon=-73.976, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409297760, cluster=7)
Row(id=44460, datetimename=datetime.datetime(2014, 8, 27, 10, 3), lat=40.7459, lon=-74.0072, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409133780, cluster=7)
Row(id=46213, datetimename=datetime.datetime(2014, 8, 28, 20, 11), lat=40.7459, lon=-73.9983, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409256660, cluster=7)
Row(id=45460, datetimename=datetime.datetime(2014, 8, 28, 7, 47), lat=40.7459, lon=-73.9941, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409212020, cluster=7)
Row(id=25531, datetimename=datetime.datetime(2014, 8, 27, 14, 55), lat=40.7459, lon=-73.9922, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409151300, cluster=7)
Row(id=25876, datetimename=datetime.datetime(2014, 8, 28, 9, 32), lat=40.7459, lon=-73.9769, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409218320, cluster=7)
Row(id=46747, datetimename=datetime.datetime(2014, 8, 29, 9, 9), lat=40.7459, lon=-73.957, base='B02764', dayofmonth=29, dayofweek=6, datetimeasinteger=1409303340, cluster=7)
Row(id=44730, datetimename=datetime.datetime(2014, 8, 27, 15, 20), lat=40.746, lon=-74.0023, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409152800, cluster=7)
Row(id=44531, datetimename=datetime.datetime(2014, 8, 27, 11, 31), lat=40.746, lon=-73.9823, base='B02682', dayofmonth=27, dayofweek=4, datetimeasinteger=1409139060, cluster=7)
Row(id=45289, datetimename=datetime.datetime(2014, 8, 28, 0, 47), lat=40.746, lon=-73.9802, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409186820, cluster=7)
Row(id=26007, datetimename=datetime.datetime(2014, 8, 28, 15, 25), lat=40.746, lon=-73.8351, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409239500, cluster=7)
Row(id=45928, datetimename=datetime.datetime(2014, 8, 28, 16, 17), lat=40.7461, lon=-73.9886, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409242620, cluster=7)
Row(id=45031, datetimename=datetime.datetime(2014, 8, 27, 19, 40), lat=40.7461, lon=-73.9565, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409168400, cluster=7)
Row(id=46010, datetimename=datetime.datetime(2014, 8, 28, 17, 20), lat=40.7461, lon=-73.9481, base='B02764', dayofmonth=28, dayofweek=5, datetimeasinteger=1409246400, cluster=7)
Row(id=46391, datetimename=datetime.datetime(2014, 8, 28, 22, 25), lat=40.7462, lon=-74.0007, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409264700, cluster=7)
Row(id=25502, datetimename=datetime.datetime(2014, 8, 27, 13, 57), lat=40.7462, lon=-73.9869, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409147820, cluster=7)
Row(id=25900, datetimename=datetime.datetime(2014, 8, 28, 10, 23), lat=40.7462, lon=-73.9846, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409221380, cluster=7)
Row(id=25638, datetimename=datetime.datetime(2014, 8, 27, 18, 46), lat=40.7462, lon=-73.977, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409165160, cluster=7)
Row(id=46956, datetimename=datetime.datetime(2014, 8, 29, 13, 57), lat=40.7462, lon=-73.9721, base='B02764', dayofmonth=29, dayofweek=6, datetimeasinteger=1409320620, cluster=7)
Row(id=45019, datetimename=datetime.datetime(2014, 8, 27, 19, 28), lat=40.7462, lon=-73.9456, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409167680, cluster=7)
Row(id=45292, datetimename=datetime.datetime(2014, 8, 28, 0, 56), lat=40.7462, lon=-73.9148, base='B02764', dayofmonth=28, dayofweek=5, datetimeasinteger=1409187360, cluster=7)
Row(id=26341, datetimename=datetime.datetime(2014, 8, 29, 9, 40), lat=40.7463, lon=-74.001, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409305200, cluster=7)
Row(id=46895, datetimename=datetime.datetime(2014, 8, 29, 12, 44), lat=40.7463, lon=-73.993, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409316240, cluster=7)
Row(id=25580, datetimename=datetime.datetime(2014, 8, 27, 16, 47), lat=40.7463, lon=-73.9841, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409158020, cluster=7)
Row(id=46011, datetimename=datetime.datetime(2014, 8, 28, 17, 20), lat=40.7463, lon=-73.9799, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409246400, cluster=7)
Row(id=26387, datetimename=datetime.datetime(2014, 8, 29, 12, 11), lat=40.7463, lon=-73.9778, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409314260, cluster=7)
Row(id=45407, datetimename=datetime.datetime(2014, 8, 28, 6, 55), lat=40.7463, lon=-73.9773, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409208900, cluster=7)
Row(id=26360, datetimename=datetime.datetime(2014, 8, 29, 10, 50), lat=40.7463, lon=-73.9721, base='B02512', dayofmonth=29, dayofweek=6, datetimeasinteger=1409309400, cluster=7)
Row(id=45576, datetimename=datetime.datetime(2014, 8, 28, 10, 3), lat=40.7464, lon=-74.0031, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409220180, cluster=7)
Row(id=45977, datetimename=datetime.datetime(2014, 8, 28, 16, 56), lat=40.7464, lon=-73.9929, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409244960, cluster=7)
Row(id=44958, datetimename=datetime.datetime(2014, 8, 27, 18, 32), lat=40.7464, lon=-73.9915, base='B02682', dayofmonth=27, dayofweek=4, datetimeasinteger=1409164320, cluster=7)
Row(id=44847, datetimename=datetime.datetime(2014, 8, 27, 17, 6), lat=40.7464, lon=-73.984, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409159160, cluster=7)
Row(id=44698, datetimename=datetime.datetime(2014, 8, 27, 14, 55), lat=40.7464, lon=-73.9816, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409151300, cluster=7)
Row(id=25744, datetimename=datetime.datetime(2014, 8, 27, 21, 51), lat=40.7464, lon=-73.847, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409176260, cluster=7)
Row(id=25501, datetimename=datetime.datetime(2014, 8, 27, 13, 48), lat=40.7465, lon=-74.0072, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409147280, cluster=7)
Row(id=25492, datetimename=datetime.datetime(2014, 8, 27, 13, 27), lat=40.7465, lon=-73.9913, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409146020, cluster=7)
Row(id=45775, datetimename=datetime.datetime(2014, 8, 28, 14, 19), lat=40.7465, lon=-73.982, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409235540, cluster=7)
Row(id=25854, datetimename=datetime.datetime(2014, 8, 28, 8, 5), lat=40.7465, lon=-73.9802, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409213100, cluster=7)
Row(id=26172, datetimename=datetime.datetime(2014, 8, 28, 21, 0), lat=40.7466, lon=-74.0084, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409259600, cluster=7)
Row(id=26370, datetimename=datetime.datetime(2014, 8, 29, 11, 18), lat=40.7466, lon=-73.9899, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409311080, cluster=7)
Row(id=46307, datetimename=datetime.datetime(2014, 8, 28, 21, 28), lat=40.7466, lon=-73.9714, base='B02764', dayofmonth=28, dayofweek=5, datetimeasinteger=1409261280, cluster=7)
Row(id=44214, datetimename=datetime.datetime(2014, 8, 27, 4, 38), lat=40.7467, lon=-73.98, base='B02682', dayofmonth=27, dayofweek=4, datetimeasinteger=1409114280, cluster=7)
Row(id=44768, datetimename=datetime.datetime(2014, 8, 27, 15, 59), lat=40.7467, lon=-73.9786, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409155140, cluster=7)
Row(id=44619, datetimename=datetime.datetime(2014, 8, 27, 13, 17), lat=40.7468, lon=-73.9901, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409145420, cluster=7)
Row(id=46842, datetimename=datetime.datetime(2014, 8, 29, 11, 25), lat=40.7468, lon=-73.9857, base='B02682', dayofmonth=29, dayofweek=6, datetimeasinteger=1409311500, cluster=7)
Row(id=44745, datetimename=datetime.datetime(2014, 8, 27, 15, 35), lat=40.7468, lon=-73.9845, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409153700, cluster=7)
Row(id=46844, datetimename=datetime.datetime(2014, 8, 29, 11, 35), lat=40.7468, lon=-73.984, base='B02682', dayofmonth=29, dayofweek=6, datetimeasinteger=1409312100, cluster=7)
Row(id=44856, datetimename=datetime.datetime(2014, 8, 27, 17, 15), lat=40.7468, lon=-73.9802, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409159700, cluster=7)
Row(id=45028, datetimename=datetime.datetime(2014, 8, 27, 19, 36), lat=40.7469, lon=-74.0015, base='B02682', dayofmonth=27, dayofweek=4, datetimeasinteger=1409168160, cluster=7)
Row(id=45598, datetimename=datetime.datetime(2014, 8, 28, 10, 26), lat=40.7469, lon=-73.9937, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409221560, cluster=7)
Row(id=46452, datetimename=datetime.datetime(2014, 8, 28, 23, 32), lat=40.7469, lon=-73.9855, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409268720, cluster=7)
Row(id=45714, datetimename=datetime.datetime(2014, 8, 28, 12, 52), lat=40.7469, lon=-73.9838, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409230320, cluster=7)
Row(id=46862, datetimename=datetime.datetime(2014, 8, 29, 11, 58), lat=40.747, lon=-74.0024, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409313480, cluster=7)
Row(id=44726, datetimename=datetime.datetime(2014, 8, 27, 15, 17), lat=40.747, lon=-73.9972, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409152620, cluster=7)
Row(id=26368, datetimename=datetime.datetime(2014, 8, 29, 11, 13), lat=40.747, lon=-73.9914, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409310780, cluster=7)
Row(id=46116, datetimename=datetime.datetime(2014, 8, 28, 18, 48), lat=40.747, lon=-73.9909, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409251680, cluster=7)
Row(id=25473, datetimename=datetime.datetime(2014, 8, 27, 12, 42), lat=40.747, lon=-73.9886, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409143320, cluster=7)
Row(id=44520, datetimename=datetime.datetime(2014, 8, 27, 11, 12), lat=40.747, lon=-73.987, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409137920, cluster=7)
Row(id=45812, datetimename=datetime.datetime(2014, 8, 28, 14, 53), lat=40.747, lon=-73.9837, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409237580, cluster=7)
Row(id=45669, datetimename=datetime.datetime(2014, 8, 28, 11, 56), lat=40.747, lon=-73.8913, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409226960, cluster=7)
Row(id=45384, datetimename=datetime.datetime(2014, 8, 28, 6, 31), lat=40.7471, lon=-73.9869, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409207460, cluster=7)
Row(id=46564, datetimename=datetime.datetime(2014, 8, 29, 4, 47), lat=40.7471, lon=-73.9478, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409287620, cluster=7)
Row(id=45392, datetimename=datetime.datetime(2014, 8, 28, 6, 35), lat=40.7471, lon=-73.8891, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409207700, cluster=7)
Row(id=45658, datetimename=datetime.datetime(2014, 8, 28, 11, 50), lat=40.7472, lon=-74.0015, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409226600, cluster=7)
Row(id=46355, datetimename=datetime.datetime(2014, 8, 28, 21, 56), lat=40.7472, lon=-74.001, base='B02764', dayofmonth=28, dayofweek=5, datetimeasinteger=1409262960, cluster=7)
Row(id=44449, datetimename=datetime.datetime(2014, 8, 27, 9, 46), lat=40.7472, lon=-73.9935, base='B02764', dayofmonth=27, dayofweek=4, datetimeasinteger=1409132760, cluster=7)
Row(id=46679, datetimename=datetime.datetime(2014, 8, 29, 8, 2), lat=40.7472, lon=-73.9913, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409299320, cluster=7)
Row(id=44931, datetimename=datetime.datetime(2014, 8, 27, 18, 14), lat=40.7472, lon=-73.9908, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409163240, cluster=7)
Row(id=45307, datetimename=datetime.datetime(2014, 8, 28, 2, 39), lat=40.7472, lon=-73.9861, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409193540, cluster=7)
Row(id=26314, datetimename=datetime.datetime(2014, 8, 29, 8, 38), lat=40.7472, lon=-73.9736, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409301480, cluster=7)
Row(id=46833, datetimename=datetime.datetime(2014, 8, 29, 11, 11), lat=40.7472, lon=-73.9732, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409310660, cluster=7)
Row(id=45786, datetimename=datetime.datetime(2014, 8, 28, 14, 30), lat=40.7473, lon=-73.997, base='B02617', dayofmonth=28, dayofweek=5, datetimeasinteger=1409236200, cluster=7)
Row(id=46736, datetimename=datetime.datetime(2014, 8, 29, 8, 56), lat=40.7473, lon=-73.9896, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409302560, cluster=7)
Row(id=26359, datetimename=datetime.datetime(2014, 8, 29, 10, 48), lat=40.7473, lon=-73.9854, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409309280, cluster=7)
Row(id=25328, datetimename=datetime.datetime(2014, 8, 27, 3, 37), lat=40.7473, lon=-73.9733, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409110620, cluster=7)
Row(id=25620, datetimename=datetime.datetime(2014, 8, 27, 18, 11), lat=40.7473, lon=-73.9723, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409163060, cluster=7)
Row(id=44257, datetimename=datetime.datetime(2014, 8, 27, 6, 22), lat=40.7474, lon=-74.0044, base='B02682', dayofmonth=27, dayofweek=4, datetimeasinteger=1409120520, cluster=7)
Row(id=46005, datetimename=datetime.datetime(2014, 8, 28, 17, 17), lat=40.7474, lon=-73.9921, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409246220, cluster=7)
Row(id=46086, datetimename=datetime.datetime(2014, 8, 28, 18, 22), lat=40.7474, lon=-73.9885, base='B02682', dayofmonth=28, dayofweek=5, datetimeasinteger=1409250120, cluster=7)
Row(id=25457, datetimename=datetime.datetime(2014, 8, 27, 11, 59), lat=40.7474, lon=-73.9739, base='B02598', dayofmonth=27, dayofweek=4, datetimeasinteger=1409140740, cluster=7)
Row(id=26046, datetimename=datetime.datetime(2014, 8, 28, 16, 36), lat=40.7474, lon=-73.9415, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409243760, cluster=7)
Row(id=46521, datetimename=datetime.datetime(2014, 8, 29, 1, 47), lat=40.7475, lon=-73.9858, base='B02617', dayofmonth=29, dayofweek=6, datetimeasinteger=1409276820, cluster=7)
Row(id=26338, datetimename=datetime.datetime(2014, 8, 29, 9, 24), lat=40.7475, lon=-73.9842, base='B02598', dayofmonth=29, dayofweek=6, datetimeasinteger=1409304240, cluster=7)
Row(id=44523, datetimename=datetime.datetime(2014, 8, 27, 11, 17), lat=40.7475, lon=-73.9768, base='B02764', dayofmonth=27, dayofweek=4, datetimeasinteger=1409138220, cluster=7)
Row(id=45042, datetimename=datetime.datetime(2014, 8, 27, 19, 51), lat=40.7476, lon=-73.9884, base='B02617', dayofmonth=27, dayofweek=4, datetimeasinteger=1409169060, cluster=7)
Row(id=26044, datetimename=datetime.datetime(2014, 8, 28, 16, 34), lat=40.7476, lon=-73.9731, base='B02598', dayofmonth=28, dayofweek=5, datetimeasinteger=1409243640, cluster=7)

In [119]:
#Question 3

print(firstDate.datetimename)
print(week_ago)

q3 = f"SELECT cluster, COUNT (id) AS IDs FROM uberdataset\
        WHERE DateTimeName >= ('{week_ago}') and DateTimeName <= ('{week_current}') GROUP BY cluster ALLOW FILTERING"

q_3 = session.execute(q3)
for row in q_3:
    print(row)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT datetimename FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-24T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z GROUP LIMIT 5000 LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT datetimename FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-24T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z AND token(cluster) >= token(7) GROUP LIMIT 4999 LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

2014-08-31 17:54:00
2014-08-24 17:54:00
Row(cluster=8, ids=3319)
Row(cluster=7, ids=3899)
Row(cluster=3, ids=3299)

In [149]:
#Question 4
import datetime as DT

day_current = firstDate.datetimename
tendays_ago = day_current - DT.timedelta(days=10)

#print(day_current,"----",tendays_ago)

result4 = session.execute(f"SELECT cluster, Lat, Lon, id FROM uberdataset\
   WHERE DateTimeName >= ('{tendays_ago}') and DateTimeName <= ('{day_current}') \
   GROUP BY cluster, Lat, Lon, id ALLOW FILTERING")
for row in result4:
    print(row)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT datetimename FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-21T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z GROUP LIMIT 5000 LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

Row(cluster=8, lat=40.5547, lon=-74.539, id=43143)
Row(cluster=8, lat=40.5689, lon=-73.8618, id=41809)
Row(cluster=8, lat=40.5799, lon=-73.9854, id=43462)
Row(cluster=8, lat=40.5833, lon=-73.9611, id=43507)
Row(cluster=8, lat=40.5837, lon=-73.9476, id=41664)
Row(cluster=8, lat=40.5864, lon=-73.9296, id=24699)
Row(cluster=8, lat=40.5882, lon=-73.665, id=24414)
Row(cluster=8, lat=40.5897, lon=-73.9642, id=42474)
Row(cluster=8, lat=40.5915, lon=-73.9926, id=43401)
Row(cluster=8, lat=40.5917, lon=-73.7889, id=24428)
Row(cluster=8, lat=40.5945, lon=-73.7893, id=41319)
Row(cluster=8, lat=40.6014, lon=-73.9883, id=24949)
Row(cluster=8, lat=40.602, lon=-73.9941, id=43047)
Row(cluster=8, lat=40.6029, lon=-73.9639, id=42658)
Row(cluster=8, lat=40.6055, lon=-73.9497, id=44133)
Row(cluster=8, lat=40.6066, lon=-74.0035, id=25016)
Row(cluster=8, lat=40.6092, lon=-73.9532, id=24385)
Row(cluster=8, lat=40.6106, lon=-74.0245, id=42612)
Row(cluster=8, lat=40.612, lon=-74.024, id=42669)
Row(cluster=8, lat=40.6124, lon=-73.7254, id=42421)
Row(cluster=8, lat=40.6127, lon=-73.9396, id=24600)
Row(cluster=8, lat=40.6132, lon=-73.9213, id=24253)
Row(cluster=8, lat=40.614, lon=-73.941, id=42254)
Row(cluster=8, lat=40.6146, lon=-73.9475, id=41329)
Row(cluster=8, lat=40.6161, lon=-73.9256, id=44166)
Row(cluster=8, lat=40.6218, lon=-74.026, id=43166)
Row(cluster=8, lat=40.6219, lon=-74.0317, id=41769)
Row(cluster=8, lat=40.6219, lon=-73.9302, id=24501)
Row(cluster=8, lat=40.6223, lon=-73.9509, id=42494)
Row(cluster=8, lat=40.623, lon=-73.956, id=41812)
Row(cluster=8, lat=40.623, lon=-73.9558, id=42292)
Row(cluster=8, lat=40.6239, lon=-73.9718, id=24273)
Row(cluster=8, lat=40.6248, lon=-73.9644, id=24575)
Row(cluster=8, lat=40.6261, lon=-73.9469, id=24734)
Row(cluster=8, lat=40.6276, lon=-73.9033, id=43502)
Row(cluster=8, lat=40.628, lon=-73.9571, id=44070)
Row(cluster=8, lat=40.6297, lon=-73.9251, id=41491)
Row(cluster=8, lat=40.6314, lon=-73.9456, id=43324)
Row(cluster=8, lat=40.6317, lon=-74.0078, id=41975)
Row(cluster=8, lat=40.632, lon=-74.0269, id=43792)
Row(cluster=8, lat=40.632, lon=-73.9467, id=42318)
Row(cluster=8, lat=40.6337, lon=-73.972, id=24946)
Row(cluster=8, lat=40.6338, lon=-73.972, id=44105)
Row(cluster=8, lat=40.6345, lon=-74.0368, id=43771)
Row(cluster=8, lat=40.6346, lon=-74.023, id=41512)
Row(cluster=8, lat=40.6348, lon=-74.0235, id=42941)
Row(cluster=8, lat=40.6355, lon=-73.9635, id=43019)
Row(cluster=8, lat=40.6363, lon=-74.0325, id=42078)
Row(cluster=8, lat=40.6366, lon=-73.9447, id=44039)
Row(cluster=8, lat=40.6367, lon=-73.9713, id=41979)
Row(cluster=8, lat=40.6369, lon=-73.9715, id=42084)
Row(cluster=8, lat=40.638, lon=-74.0339, id=42269)
Row(cluster=8, lat=40.6412, lon=-73.9716, id=43071)
Row(cluster=8, lat=40.6414, lon=-73.9598, id=41554)
Row(cluster=8, lat=40.6415, lon=-73.7892, id=42934)
Row(cluster=8, lat=40.6415, lon=-73.7882, id=42503)
Row(cluster=8, lat=40.6416, lon=-73.7882, id=42442)
Row(cluster=8, lat=40.6417, lon=-73.7886, id=42499)
Row(cluster=8, lat=40.6418, lon=-73.7887, id=41460)
Row(cluster=8, lat=40.6419, lon=-73.7888, id=24442)
Row(cluster=8, lat=40.6419, lon=-73.7886, id=24440)
Row(cluster=8, lat=40.6422, lon=-74.0131, id=43716)
Row(cluster=8, lat=40.6423, lon=-73.7891, id=25231)
Row(cluster=8, lat=40.6424, lon=-73.7884, id=41523)
Row(cluster=8, lat=40.6426, lon=-73.9782, id=24247)
Row(cluster=8, lat=40.6426, lon=-73.9618, id=43000)
Row(cluster=8, lat=40.6429, lon=-73.7895, id=43688)
Row(cluster=8, lat=40.6429, lon=-73.7839, id=42824)
Row(cluster=8, lat=40.6431, lon=-73.7893, id=43913)
Row(cluster=8, lat=40.6434, lon=-73.7897, id=24305)
Row(cluster=8, lat=40.6434, lon=-73.7894, id=41903)
Row(cluster=8, lat=40.6435, lon=-73.7898, id=24505)
Row(cluster=8, lat=40.6436, lon=-73.7899, id=41721)
Row(cluster=8, lat=40.6437, lon=-73.7129, id=42999)
Row(cluster=8, lat=40.644, lon=-73.783, id=42148)
Row(cluster=8, lat=40.6442, lon=-73.7837, id=24746)
Row(cluster=8, lat=40.6443, lon=-73.7831, id=41791)
Row(cluster=8, lat=40.6444, lon=-73.9579, id=24982)
Row(cluster=8, lat=40.6444, lon=-73.7819, id=41972)
Row(cluster=8, lat=40.6446, lon=-73.9624, id=43496)
Row(cluster=8, lat=40.6446, lon=-73.7829, id=24586)
Row(cluster=8, lat=40.6446, lon=-73.7825, id=42003)
Row(cluster=8, lat=40.6446, lon=-73.7825, id=43705)
Row(cluster=8, lat=40.6446, lon=-73.7824, id=42860)
Row(cluster=8, lat=40.6447, lon=-73.7824, id=25074)
Row(cluster=8, lat=40.6447, lon=-73.7824, id=44021)
Row(cluster=8, lat=40.6447, lon=-73.7822, id=41321)
Row(cluster=8, lat=40.6447, lon=-73.7822, id=41999)
Row(cluster=8, lat=40.6447, lon=-73.7822, id=42015)
Row(cluster=8, lat=40.6447, lon=-73.7822, id=42797)
Row(cluster=8, lat=40.6447, lon=-73.7822, id=42906)
Row(cluster=8, lat=40.6447, lon=-73.7822, id=43003)
Row(cluster=8, lat=40.6447, lon=-73.7821, id=24930)
Row(cluster=8, lat=40.6447, lon=-73.7821, id=42973)
Row(cluster=8, lat=40.6447, lon=-73.782, id=25069)
Row(cluster=8, lat=40.6447, lon=-73.782, id=41722)
Row(cluster=8, lat=40.6447, lon=-73.7819, id=24727)
Row(cluster=8, lat=40.6447, lon=-73.7819, id=41856)
Row(cluster=8, lat=40.6447, lon=-73.7819, id=42123)
Row(cluster=8, lat=40.6447, lon=-73.7819, id=42450)
Row(cluster=8, lat=40.6447, lon=-73.7817, id=43562)
Row(cluster=8, lat=40.6447, lon=-73.7815, id=42488)
Row(cluster=8, lat=40.6448, lon=-73.7824, id=41607)
Row(cluster=8, lat=40.6448, lon=-73.7822, id=24905)
Row(cluster=8, lat=40.6448, lon=-73.7821, id=41944)
Row(cluster=8, lat=40.6448, lon=-73.782, id=24465)
Row(cluster=8, lat=40.6448, lon=-73.782, id=43027)
Row(cluster=8, lat=40.6448, lon=-73.782, id=43615)
Row(cluster=8, lat=40.6448, lon=-73.7819, id=24548)
Row(cluster=8, lat=40.6448, lon=-73.7819, id=41649)
Row(cluster=8, lat=40.6448, lon=-73.7819, id=41800)
Row(cluster=8, lat=40.6448, lon=-73.7819, id=41930)
Row(cluster=8, lat=40.6448, lon=-73.7819, id=42993)
Row(cluster=8, lat=40.6448, lon=-73.7819, id=43015)
Row(cluster=8, lat=40.6448, lon=-73.7818, id=24200)
Row(cluster=8, lat=40.6448, lon=-73.7818, id=42129)
Row(cluster=8, lat=40.6448, lon=-73.7818, id=42160)
Row(cluster=8, lat=40.6448, lon=-73.7818, id=43132)
Row(cluster=8, lat=40.6448, lon=-73.7818, id=43564)
Row(cluster=8, lat=40.6449, lon=-73.7821, id=25095)
Row(cluster=8, lat=40.6449, lon=-73.7821, id=42592)
Row(cluster=8, lat=40.6449, lon=-73.7816, id=43607)
Row(cluster=8, lat=40.6449, lon=-73.7813, id=42708)
Row(cluster=8, lat=40.645, lon=-73.7811, id=41613)
Row(cluster=8, lat=40.645, lon=-73.7811, id=43581)
Row(cluster=8, lat=40.6456, lon=-73.7768, id=43209)
Row(cluster=8, lat=40.6456, lon=-73.7767, id=24564)
Row(cluster=8, lat=40.6456, lon=-73.7767, id=42156)
Row(cluster=8, lat=40.6457, lon=-73.7767, id=24563)
Row(cluster=8, lat=40.6457, lon=-73.7767, id=41708)
Row(cluster=8, lat=40.6457, lon=-73.7767, id=41904)
Row(cluster=8, lat=40.6457, lon=-73.7767, id=41936)
Row(cluster=8, lat=40.6457, lon=-73.7767, id=42082)
Row(cluster=8, lat=40.6458, lon=-73.7767, id=24198)
Row(cluster=8, lat=40.6458, lon=-73.7767, id=41570)
Row(cluster=8, lat=40.6458, lon=-73.7767, id=42086)
Row(cluster=8, lat=40.6458, lon=-73.7767, id=42197)
Row(cluster=8, lat=40.6458, lon=-73.7767, id=42341)
Row(cluster=8, lat=40.6459, lon=-73.7768, id=24497)
Row(cluster=8, lat=40.6459, lon=-73.7768, id=42922)
Row(cluster=8, lat=40.6459, lon=-73.7767, id=41957)
Row(cluster=8, lat=40.6459, lon=-73.7767, id=42004)
Row(cluster=8, lat=40.6459, lon=-73.7767, id=42446)
Row(cluster=8, lat=40.6459, lon=-73.7767, id=43153)
Row(cluster=8, lat=40.6459, lon=-73.7766, id=42618)
Row(cluster=8, lat=40.646, lon=-73.79, id=25177)
Row(cluster=8, lat=40.646, lon=-73.7767, id=24813)
Row(cluster=8, lat=40.6461, lon=-73.7768, id=42075)
Row(cluster=8, lat=40.6462, lon=-73.7897, id=24360)
Row(cluster=8, lat=40.6462, lon=-73.7769, id=41927)
Row(cluster=8, lat=40.6463, lon=-73.7896, id=42502)
Row(cluster=8, lat=40.6463, lon=-73.7769, id=43508)
Row(cluster=8, lat=40.6464, lon=-73.7898, id=24507)
Row(cluster=8, lat=40.6465, lon=-73.7898, id=24451)
Row(cluster=8, lat=40.6465, lon=-73.7898, id=42154)
Row(cluster=8, lat=40.6465, lon=-73.7892, id=42514)
Row(cluster=8, lat=40.6465, lon=-73.7769, id=42942)
Row(cluster=8, lat=40.6466, lon=-73.7898, id=42615)
Row(cluster=8, lat=40.6466, lon=-73.7894, id=24457)
Row(cluster=8, lat=40.6466, lon=-73.7893, id=41619)
Row(cluster=8, lat=40.6466, lon=-73.7891, id=42451)
Row(cluster=8, lat=40.6467, lon=-73.7909, id=24993)
Row(cluster=8, lat=40.6467, lon=-73.7896, id=41895)
Row(cluster=8, lat=40.6467, lon=-73.7894, id=42965)
Row(cluster=8, lat=40.6467, lon=-73.7893, id=42001)
Row(cluster=8, lat=40.6467, lon=-73.7893, id=43065)
Row(cluster=8, lat=40.6468, lon=-73.789, id=42394)
Row(cluster=8, lat=40.6469, lon=-73.789, id=24455)
Row(cluster=8, lat=40.6474, lon=-73.7909, id=24542)
Row(cluster=8, lat=40.6479, lon=-73.786, id=43388)
Row(cluster=8, lat=40.6482, lon=-73.7827, id=41955)
Row(cluster=8, lat=40.6483, lon=-73.9696, id=41735)
Row(cluster=8, lat=40.6483, lon=-73.9282, id=43412)
Row(cluster=8, lat=40.6483, lon=-73.7826, id=41816)
Row(cluster=8, lat=40.6483, lon=-73.7826, id=41947)
Row(cluster=8, lat=40.6483, lon=-73.7824, id=24483)
Row(cluster=8, lat=40.6485, lon=-73.7835, id=44113)
Row(cluster=8, lat=40.6485, lon=-73.7832, id=41806)
Row(cluster=8, lat=40.6485, lon=-73.7825, id=41953)
Row(cluster=8, lat=40.6486, lon=-73.7826, id=41581)
Row(cluster=8, lat=40.6487, lon=-73.7826, id=25138)
Row(cluster=8, lat=40.6511, lon=-73.9409, id=24914)
Row(cluster=8, lat=40.6511, lon=-73.9274, id=41689)
Row(cluster=8, lat=40.6513, lon=-73.9613, id=43054)
Row(cluster=8, lat=40.6514, lon=-73.9637, id=24596)
Row(cluster=8, lat=40.6521, lon=-73.631, id=43344)
Row(cluster=8, lat=40.6528, lon=-73.9495, id=41464)
Row(cluster=8, lat=40.653, lon=-73.7867, id=25117)
Row(cluster=8, lat=40.6533, lon=-73.9562, id=41353)
Row(cluster=8, lat=40.6535, lon=-73.8064, id=41330)
Row(cluster=8, lat=40.6539, lon=-73.9365, id=41745)
Row(cluster=8, lat=40.6541, lon=-73.9507, id=44163)
Row(cluster=8, lat=40.6542, lon=-73.9252, id=42118)
Row(cluster=8, lat=40.6543, lon=-74.0089, id=42411)
Row(cluster=8, lat=40.6545, lon=-74.0043, id=41724)
Row(cluster=8, lat=40.6547, lon=-73.978, id=43687)
Row(cluster=8, lat=40.6553, lon=-73.9534, id=24225)
Row(cluster=8, lat=40.6567, lon=-74.0091, id=24474)
Row(cluster=8, lat=40.6568, lon=-74.0087, id=41890)
Row(cluster=8, lat=40.6568, lon=-73.9565, id=24210)
Row(cluster=8, lat=40.6575, lon=-74.0081, id=24467)
Row(cluster=8, lat=40.6577, lon=-73.9971, id=43489)
Row(cluster=8, lat=40.6578, lon=-73.9511, id=43081)
Row(cluster=8, lat=40.6586, lon=-73.9196, id=43833)
Row(cluster=8, lat=40.6598, lon=-73.9835, id=24361)
Row(cluster=8, lat=40.6598, lon=-73.6409, id=41846)
Row(cluster=8, lat=40.6601, lon=-73.9929, id=42068)
Row(cluster=8, lat=40.6603, lon=-73.9627, id=24755)
Row(cluster=8, lat=40.6603, lon=-73.9481, id=25192)
Row(cluster=8, lat=40.6608, lon=-73.9617, id=24577)
Row(cluster=8, lat=40.6609, lon=-73.9957, id=41454)
Row(cluster=8, lat=40.6612, lon=-73.9856, id=41684)
Row(cluster=8, lat=40.6613, lon=-73.9899, id=43598)
Row(cluster=8, lat=40.6613, lon=-73.9574, id=43605)
Row(cluster=8, lat=40.6624, lon=-73.9922, id=25080)
Row(cluster=8, lat=40.6624, lon=-73.8823, id=43154)
Row(cluster=8, lat=40.6626, lon=-73.9921, id=41427)
Row(cluster=8, lat=40.6627, lon=-73.991, id=43582)
Row(cluster=8, lat=40.6628, lon=-73.9551, id=43352)
Row(cluster=8, lat=40.6629, lon=-73.9622, id=41325)
Row(cluster=8, lat=40.663, lon=-73.984, id=24232)
Row(cluster=8, lat=40.6637, lon=-73.9611, id=25280)
Row(cluster=8, lat=40.6641, lon=-73.9882, id=43645)
Row(cluster=8, lat=40.6646, lon=-73.9889, id=42246)
Row(cluster=8, lat=40.6648, lon=-73.9915, id=42071)
Row(cluster=8, lat=40.6649, lon=-73.9834, id=41743)
Row(cluster=8, lat=40.6652, lon=-73.9904, id=43840)
Row(cluster=8, lat=40.6654, lon=-73.9783, id=43421)
Row(cluster=8, lat=40.6654, lon=-73.9536, id=41660)
Row(cluster=8, lat=40.666, lon=-74.0008, id=42504)
Row(cluster=8, lat=40.6664, lon=-73.9358, id=43747)
Row(cluster=8, lat=40.6665, lon=-73.9787, id=41412)
Row(cluster=8, lat=40.6666, lon=-73.9373, id=41584)
Row(cluster=8, lat=40.6671, lon=-73.959, id=25098)
Row(cluster=8, lat=40.6672, lon=-73.7758, id=24875)
Row(cluster=8, lat=40.6676, lon=-74.3036, id=42387)
Row(cluster=8, lat=40.6677, lon=-73.9866, id=43881)
Row(cluster=8, lat=40.6678, lon=-73.931, id=43776)
Row(cluster=8, lat=40.6678, lon=-73.8954, id=43549)
Row(cluster=8, lat=40.6679, lon=-73.9486, id=24790)
Row(cluster=8, lat=40.6685, lon=-73.9869, id=43764)
Row(cluster=8, lat=40.6686, lon=-73.9799, id=42636)
Row(cluster=8, lat=40.6686, lon=-73.9047, id=25187)
Row(cluster=8, lat=40.6687, lon=-73.9797, id=42691)
Row(cluster=8, lat=40.6688, lon=-73.9839, id=24587)
Row(cluster=8, lat=40.6689, lon=-73.9533, id=41989)
Row(cluster=8, lat=40.6691, lon=-73.9536, id=24214)
Row(cluster=8, lat=40.6693, lon=-73.9438, id=24980)
Row(cluster=8, lat=40.6704, lon=-73.9871, id=43242)
Row(cluster=8, lat=40.6706, lon=-73.9464, id=24237)
Row(cluster=8, lat=40.6707, lon=-73.9774, id=43696)
Row(cluster=8, lat=40.6709, lon=-73.9884, id=43790)
Row(cluster=8, lat=40.6709, lon=-73.9579, id=43404)
Row(cluster=8, lat=40.6711, lon=-73.9846, id=42992)
Row(cluster=8, lat=40.6713, lon=-73.9907, id=41638)
Row(cluster=8, lat=40.6713, lon=-73.9597, id=42755)
Row(cluster=8, lat=40.6716, lon=-73.9913, id=44031)
Row(cluster=8, lat=40.6716, lon=-73.9509, id=44151)
Row(cluster=8, lat=40.6718, lon=-73.9882, id=42181)
Row(cluster=8, lat=40.6718, lon=-73.971, id=42085)
Row(cluster=8, lat=40.6718, lon=-73.959, id=43625)
Row(cluster=8, lat=40.6719, lon=-74.0107, id=42390)
Row(cluster=8, lat=40.6719, lon=-74.0106, id=24732)
Row(cluster=8, lat=40.6719, lon=-74.0105, id=42538)
Row(cluster=8, lat=40.6719, lon=-74.0105, id=42795)
Row(cluster=8, lat=40.6719, lon=-74.0103, id=41653)
Row(cluster=8, lat=40.6719, lon=-73.954, id=42176)
Row(cluster=8, lat=40.672, lon=-74.012, id=41621)
Row(cluster=8, lat=40.672, lon=-73.984, id=41566)
Row(cluster=8, lat=40.672, lon=-73.9775, id=42369)
Row(cluster=8, lat=40.6721, lon=-73.9503, id=41861)
Row(cluster=8, lat=40.6722, lon=-73.991, id=43173)
Row(cluster=8, lat=40.6722, lon=-73.9546, id=24220)
Row(cluster=8, lat=40.6723, lon=-73.9955, id=41520)
Row(cluster=8, lat=40.6724, lon=-73.9691, id=41705)
Row(cluster=8, lat=40.6728, lon=-73.9536, id=41369)
Row(cluster=8, lat=40.673, lon=-73.9718, id=41446)
Row(cluster=8, lat=40.6731, lon=-73.9865, id=42651)
Row(cluster=8, lat=40.6732, lon=-73.9529, id=42753)
Row(cluster=8, lat=40.6733, lon=-73.9763, id=42258)
Row(cluster=8, lat=40.6734, lon=-74.017, id=25159)
Row(cluster=8, lat=40.6735, lon=-73.9894, id=43374)
Row(cluster=8, lat=40.6735, lon=-73.9659, id=43713)
Row(cluster=8, lat=40.6735, lon=-73.9658, id=43727)
Row(cluster=8, lat=40.6736, lon=-73.9714, id=43422)
Row(cluster=8, lat=40.6736, lon=-73.9688, id=43969)
Row(cluster=8, lat=40.6738, lon=-74.0171, id=42626)
Row(cluster=8, lat=40.6739, lon=-73.9908, id=42521)
Row(cluster=8, lat=40.6739, lon=-73.9823, id=43655)
Row(cluster=8, lat=40.6739, lon=-73.9803, id=44160)
Row(cluster=8, lat=40.6741, lon=-73.9458, id=42087)
Row(cluster=8, lat=40.6743, lon=-73.9812, id=41910)
Row(cluster=8, lat=40.6743, lon=-73.9616, id=24221)
Row(cluster=8, lat=40.6745, lon=-73.9521, id=44007)
Row(cluster=8, lat=40.6747, lon=-73.9979, id=42988)
Row(cluster=8, lat=40.6747, lon=-73.9249, id=43761)
Row(cluster=8, lat=40.6748, lon=-74.0163, id=41857)
Row(cluster=8, lat=40.675, lon=-73.9554, id=42740)
Row(cluster=8, lat=40.6751, lon=-74.0156, id=43979)
Row(cluster=8, lat=40.6751, lon=-73.9814, id=43028)
Row(cluster=8, lat=40.6752, lon=-73.961, id=41594)
Row(cluster=8, lat=40.6753, lon=-74.0127, id=42256)
Row(cluster=8, lat=40.6753, lon=-73.9777, id=41513)
Row(cluster=8, lat=40.6754, lon=-73.9711, id=43436)
Row(cluster=8, lat=40.6755, lon=-73.9541, id=43444)
Row(cluster=8, lat=40.676, lon=-73.9816, id=42886)
Row(cluster=8, lat=40.6763, lon=-74.0141, id=25289)
Row(cluster=8, lat=40.6763, lon=-73.9581, id=41801)
Row(cluster=8, lat=40.6764, lon=-73.9429, id=44053)
Row(cluster=8, lat=40.6764, lon=-73.9141, id=43606)
Row(cluster=8, lat=40.6773, lon=-73.9593, id=24526)
Row(cluster=8, lat=40.6775, lon=-73.9982, id=42017)
Row(cluster=8, lat=40.6775, lon=-73.9981, id=42903)
Row(cluster=8, lat=40.6775, lon=-73.9587, id=42094)
Row(cluster=8, lat=40.6775, lon=-73.9549, id=43063)
Row(cluster=8, lat=40.6776, lon=-73.9766, id=43098)
Row(cluster=8, lat=40.6776, lon=-73.9748, id=25217)
Row(cluster=8, lat=40.6776, lon=-73.964, id=44028)
Row(cluster=8, lat=40.6776, lon=-73.9638, id=25302)
Row(cluster=8, lat=40.6777, lon=-73.9646, id=42464)
Row(cluster=8, lat=40.6778, lon=-73.9856, id=43947)
Row(cluster=8, lat=40.6779, lon=-73.9035, id=42673)
Row(cluster=8, lat=40.678, lon=-73.9845, id=42243)
Row(cluster=8, lat=40.678, lon=-73.9702, id=42065)
Row(cluster=8, lat=40.678, lon=-73.9574, id=41372)
Row(cluster=8, lat=40.6781, lon=-73.9741, id=41789)
Row(cluster=8, lat=40.6782, lon=-73.947, id=41308)
Row(cluster=8, lat=40.6783, lon=-73.9487, id=43820)
Row(cluster=8, lat=40.6785, lon=-73.9683, id=42843)
Row(cluster=8, lat=40.6786, lon=-73.9751, id=41919)
Row(cluster=8, lat=40.6787, lon=-73.9639, id=41914)
Row(cluster=8, lat=40.6787, lon=-73.9552, id=41521)
Row(cluster=8, lat=40.6788, lon=-73.9757, id=42728)
Row(cluster=8, lat=40.6788, lon=-73.9697, id=41818)
Row(cluster=8, lat=40.6794, lon=-74.0117, id=42629)
Row(cluster=8, lat=40.6796, lon=-73.9779, id=24241)
Row(cluster=8, lat=40.6798, lon=-73.9765, id=43806)
Row(cluster=8, lat=40.6802, lon=-73.981, id=43190)
Row(cluster=8, lat=40.6803, lon=-73.843, id=24863)
Row(cluster=8, lat=40.6806, lon=-74.2304, id=43786)
Row(cluster=8, lat=40.6806, lon=-73.9413, id=41484)
Row(cluster=8, lat=40.6806, lon=-73.843, id=41488)
Row(cluster=8, lat=40.6807, lon=-73.9148, id=43234)
Row(cluster=8, lat=40.6809, lon=-73.9714, id=24403)
Row(cluster=8, lat=40.6809, lon=-73.8445, id=24401)
Row(cluster=8, lat=40.6809, lon=-73.8433, id=24277)
Row(cluster=8, lat=40.681, lon=-73.9715, id=24485)
Row(cluster=8, lat=40.6813, lon=-73.9419, id=41346)
Row(cluster=8, lat=40.6814, lon=-73.9891, id=42088)
Row(cluster=8, lat=40.6814, lon=-73.9768, id=42888)
Row(cluster=8, lat=40.6814, lon=-73.9573, id=44075)
Row(cluster=8, lat=40.6815, lon=-73.9937, id=42301)
Row(cluster=8, lat=40.6816, lon=-73.9796, id=43903)
Row(cluster=8, lat=40.6816, lon=-73.7534, id=42767)
Row(cluster=8, lat=40.6817, lon=-73.9913, id=25297)
Row(cluster=8, lat=40.6819, lon=-74.0004, id=41959)
Row(cluster=8, lat=40.6819, lon=-73.9497, id=42042)
Row(cluster=8, lat=40.6819, lon=-73.942, id=42368)
Row(cluster=8, lat=40.682, lon=-73.9647, id=41882)
Row(cluster=8, lat=40.6821, lon=-73.9766, id=42005)
Row(cluster=8, lat=40.6821, lon=-73.9666, id=44077)
Row(cluster=8, lat=40.6821, lon=-73.9616, id=43932)
Row(cluster=8, lat=40.6824, lon=-73.9666, id=43851)
Row(cluster=8, lat=40.6825, lon=-73.9314, id=44029)
Row(cluster=8, lat=40.6826, lon=-73.9493, id=43282)
Row(cluster=8, lat=40.6827, lon=-73.932, id=41572)
Row(cluster=8, lat=40.6828, lon=-74.0066, id=43280)
Row(cluster=8, lat=40.6828, lon=-73.9764, id=41354)
Row(cluster=8, lat=40.6829, lon=-73.9532, id=42586)
Row(cluster=8, lat=40.6829, lon=-73.9291, id=24907)
Row(cluster=8, lat=40.683, lon=-73.9912, id=24212)
Row(cluster=8, lat=40.683, lon=-73.9911, id=41667)
Row(cluster=8, lat=40.6832, lon=-73.9737, id=41502)
Row(cluster=8, lat=40.6834, lon=-73.9926, id=41956)
Row(cluster=8, lat=40.6834, lon=-73.9554, id=42347)
Row(cluster=8, lat=40.6836, lon=-73.9355, id=41601)
Row(cluster=8, lat=40.6836, lon=-73.8769, id=25211)
Row(cluster=8, lat=40.6841, lon=-73.9371, id=24328)
Row(cluster=8, lat=40.6842, lon=-73.984, id=41481)
Row(cluster=8, lat=40.6842, lon=-73.971, id=41363)
Row(cluster=8, lat=40.6842, lon=-73.9553, id=41658)
Row(cluster=8, lat=40.6842, lon=-73.9421, id=42820)
Row(cluster=8, lat=40.6844, lon=-73.9781, id=42009)
Row(cluster=8, lat=40.6844, lon=-73.9776, id=24472)
Row(cluster=8, lat=40.6844, lon=-73.9592, id=24405)
Row(cluster=8, lat=40.6846, lon=-73.9621, id=41884)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT datetimename FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-21T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z AND token(cluster) >= token(0) GROUP LIMIT 5000 LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

Streaming output truncated to the last 5000 lines.
Row(cluster=0, lat=40.711, lon=-73.9496, id=38414)
Row(cluster=0, lat=40.711, lon=-73.9455, id=41066)
Row(cluster=0, lat=40.7111, lon=-74.0058, id=23534)
Row(cluster=0, lat=40.7111, lon=-74.0054, id=38612)
Row(cluster=0, lat=40.7111, lon=-73.9605, id=40243)
Row(cluster=0, lat=40.7111, lon=-73.9598, id=40916)
Row(cluster=0, lat=40.7111, lon=-73.9585, id=40961)
Row(cluster=0, lat=40.7111, lon=-73.9505, id=24026)
Row(cluster=0, lat=40.7111, lon=-73.9498, id=39907)
Row(cluster=0, lat=40.7112, lon=-74.016, id=40995)
Row(cluster=0, lat=40.7112, lon=-74.0059, id=38822)
Row(cluster=0, lat=40.7112, lon=-73.9659, id=41210)
Row(cluster=0, lat=40.7112, lon=-73.9635, id=38630)
Row(cluster=0, lat=40.7112, lon=-73.9609, id=24176)
Row(cluster=0, lat=40.7112, lon=-73.9412, id=23949)
Row(cluster=0, lat=40.7114, lon=-74.0055, id=40657)
Row(cluster=0, lat=40.7114, lon=-73.9673, id=40170)
Row(cluster=0, lat=40.7114, lon=-73.9616, id=40067)
Row(cluster=0, lat=40.7114, lon=-73.953, id=40935)
Row(cluster=0, lat=40.7115, lon=-74.0076, id=38142)
Row(cluster=0, lat=40.7115, lon=-74.0076, id=40329)
Row(cluster=0, lat=40.7115, lon=-73.9682, id=23920)
Row(cluster=0, lat=40.7115, lon=-73.9576, id=40910)
Row(cluster=0, lat=40.7116, lon=-73.9632, id=23931)
Row(cluster=0, lat=40.7116, lon=-73.9621, id=39102)
Row(cluster=0, lat=40.7116, lon=-73.9572, id=41275)
Row(cluster=0, lat=40.7117, lon=-73.9671, id=40091)
Row(cluster=0, lat=40.7117, lon=-73.9538, id=23614)
Row(cluster=0, lat=40.7118, lon=-74.0436, id=40042)
Row(cluster=0, lat=40.7118, lon=-73.963, id=23765)
Row(cluster=0, lat=40.7118, lon=-73.9495, id=39026)
Row(cluster=0, lat=40.7118, lon=-73.9418, id=39038)
Row(cluster=0, lat=40.7119, lon=-73.9572, id=24107)
Row(cluster=0, lat=40.7119, lon=-73.9416, id=40020)
Row(cluster=0, lat=40.712, lon=-73.963, id=40526)
Row(cluster=0, lat=40.7122, lon=-73.9639, id=40237)
Row(cluster=0, lat=40.7122, lon=-73.9567, id=23600)
Row(cluster=0, lat=40.7123, lon=-74.0086, id=40469)
Row(cluster=0, lat=40.7123, lon=-73.9956, id=24002)
Row(cluster=0, lat=40.7123, lon=-73.9491, id=23851)
Row(cluster=0, lat=40.7124, lon=-73.9491, id=24049)
Row(cluster=0, lat=40.7125, lon=-74.0093, id=40266)
Row(cluster=0, lat=40.7125, lon=-74.0049, id=40564)
Row(cluster=0, lat=40.7125, lon=-73.9517, id=39266)
Row(cluster=0, lat=40.7127, lon=-73.9659, id=40500)
Row(cluster=0, lat=40.7127, lon=-73.8996, id=40517)
Row(cluster=0, lat=40.7128, lon=-73.9971, id=41242)
Row(cluster=0, lat=40.7128, lon=-73.9514, id=23866)
Row(cluster=0, lat=40.7129, lon=-73.9676, id=38944)
Row(cluster=0, lat=40.7129, lon=-73.9573, id=38601)
Row(cluster=0, lat=40.7129, lon=-73.947, id=40250)
Row(cluster=0, lat=40.713, lon=-73.9576, id=39763)
Row(cluster=0, lat=40.7131, lon=-73.9578, id=24059)
Row(cluster=0, lat=40.7131, lon=-73.9521, id=39728)
Row(cluster=0, lat=40.7132, lon=-73.9579, id=23673)
Row(cluster=0, lat=40.7132, lon=-73.9557, id=39766)
Row(cluster=0, lat=40.7132, lon=-73.9449, id=24013)
Row(cluster=0, lat=40.7133, lon=-74.0108, id=39462)
Row(cluster=0, lat=40.7134, lon=-74.0113, id=23451)
Row(cluster=0, lat=40.7134, lon=-73.9443, id=40777)
Row(cluster=0, lat=40.7135, lon=-74.0093, id=40793)
Row(cluster=0, lat=40.7135, lon=-73.9619, id=40720)
Row(cluster=0, lat=40.7135, lon=-73.9589, id=24119)
Row(cluster=0, lat=40.7135, lon=-73.9587, id=23871)
Row(cluster=0, lat=40.7135, lon=-73.9587, id=41114)
Row(cluster=0, lat=40.7136, lon=-74.0092, id=38295)
Row(cluster=0, lat=40.7136, lon=-74.0092, id=40371)
Row(cluster=0, lat=40.7136, lon=-73.9799, id=40399)
Row(cluster=0, lat=40.7136, lon=-73.9612, id=23087)
Row(cluster=0, lat=40.7136, lon=-73.9516, id=24037)
Row(cluster=0, lat=40.7136, lon=-73.82, id=40428)
Row(cluster=0, lat=40.7137, lon=-74.0138, id=23321)
Row(cluster=0, lat=40.7137, lon=-74.0034, id=23566)
Row(cluster=0, lat=40.7137, lon=-73.9492, id=38602)
Row(cluster=0, lat=40.7138, lon=-73.9975, id=24051)
Row(cluster=0, lat=40.7139, lon=-74.0146, id=23327)
Row(cluster=0, lat=40.7139, lon=-74.0095, id=38820)
Row(cluster=0, lat=40.714, lon=-74.0094, id=38377)
Row(cluster=0, lat=40.714, lon=-74.0094, id=39918)
Row(cluster=0, lat=40.714, lon=-74.0093, id=23019)
Row(cluster=0, lat=40.714, lon=-73.9496, id=24103)
Row(cluster=0, lat=40.714, lon=-73.94, id=40141)
Row(cluster=0, lat=40.714, lon=-73.9351, id=38741)
Row(cluster=0, lat=40.7141, lon=-73.9495, id=24108)
Row(cluster=0, lat=40.7142, lon=-73.9904, id=38205)
Row(cluster=0, lat=40.7142, lon=-73.9872, id=23080)
Row(cluster=0, lat=40.7142, lon=-73.9652, id=38705)
Row(cluster=0, lat=40.7142, lon=-73.9616, id=40683)
Row(cluster=0, lat=40.7142, lon=-73.9567, id=38159)
Row(cluster=0, lat=40.7142, lon=-73.9552, id=40041)
Row(cluster=0, lat=40.7142, lon=-73.9471, id=39424)
Row(cluster=0, lat=40.7143, lon=-74.0084, id=39796)
Row(cluster=0, lat=40.7143, lon=-74.0062, id=40395)
Row(cluster=0, lat=40.7144, lon=-73.9988, id=39898)
Row(cluster=0, lat=40.7144, lon=-73.9654, id=24109)
Row(cluster=0, lat=40.7144, lon=-73.9652, id=39981)
Row(cluster=0, lat=40.7144, lon=-73.8076, id=39109)
Row(cluster=0, lat=40.7145, lon=-74.0098, id=23135)
Row(cluster=0, lat=40.7145, lon=-74.0084, id=40870)
Row(cluster=0, lat=40.7145, lon=-74.0063, id=40556)
Row(cluster=0, lat=40.7145, lon=-73.9371, id=39802)
Row(cluster=0, lat=40.7146, lon=-74.0379, id=38514)
Row(cluster=0, lat=40.7146, lon=-74.0083, id=38173)
Row(cluster=0, lat=40.7146, lon=-73.9903, id=23840)
Row(cluster=0, lat=40.7146, lon=-73.9368, id=38739)
Row(cluster=0, lat=40.7147, lon=-74.0089, id=41124)
Row(cluster=0, lat=40.7147, lon=-73.9903, id=39540)
Row(cluster=0, lat=40.7147, lon=-73.943, id=38960)
Row(cluster=0, lat=40.7148, lon=-74.0095, id=40594)
Row(cluster=0, lat=40.7148, lon=-74.0077, id=23613)
Row(cluster=0, lat=40.7148, lon=-73.9915, id=24015)
Row(cluster=0, lat=40.7148, lon=-73.965, id=38864)
Row(cluster=0, lat=40.7149, lon=-74.0095, id=40238)
Row(cluster=0, lat=40.7149, lon=-74.0064, id=39067)
Row(cluster=0, lat=40.7149, lon=-74.0015, id=23266)
Row(cluster=0, lat=40.7149, lon=-73.991, id=38289)
Row(cluster=0, lat=40.7149, lon=-73.9482, id=40622)
Row(cluster=0, lat=40.715, lon=-74.0164, id=38338)
Row(cluster=0, lat=40.715, lon=-73.9936, id=39680)
Row(cluster=0, lat=40.715, lon=-73.9445, id=38208)
Row(cluster=0, lat=40.7151, lon=-74.0114, id=38795)
Row(cluster=0, lat=40.7151, lon=-74.0079, id=39922)
Row(cluster=0, lat=40.7151, lon=-74.002, id=39058)
Row(cluster=0, lat=40.7151, lon=-73.9936, id=40603)
Row(cluster=0, lat=40.7151, lon=-73.9516, id=23704)
Row(cluster=0, lat=40.7151, lon=-73.9479, id=40978)
Row(cluster=0, lat=40.7151, lon=-73.9468, id=41169)
Row(cluster=0, lat=40.7152, lon=-74.0134, id=23919)
Row(cluster=0, lat=40.7152, lon=-74.0133, id=39836)
Row(cluster=0, lat=40.7152, lon=-74.0102, id=39882)
Row(cluster=0, lat=40.7153, lon=-74.0094, id=23323)
Row(cluster=0, lat=40.7153, lon=-74.0088, id=38447)
Row(cluster=0, lat=40.7153, lon=-73.9665, id=23128)
Row(cluster=0, lat=40.7154, lon=-74.0172, id=40629)
Row(cluster=0, lat=40.7154, lon=-74.0167, id=40588)
Row(cluster=0, lat=40.7154, lon=-74.0113, id=23310)
Row(cluster=0, lat=40.7154, lon=-74.009, id=38243)
Row(cluster=0, lat=40.7154, lon=-74.0076, id=38277)
Row(cluster=0, lat=40.7154, lon=-74.0075, id=39895)
Row(cluster=0, lat=40.7154, lon=-74.0074, id=39402)
Row(cluster=0, lat=40.7154, lon=-73.9984, id=39241)
Row(cluster=0, lat=40.7154, lon=-73.9598, id=39186)
Row(cluster=0, lat=40.7154, lon=-73.9514, id=38658)
Row(cluster=0, lat=40.7154, lon=-73.8406, id=41159)
Row(cluster=0, lat=40.7155, lon=-74.0111, id=40527)
Row(cluster=0, lat=40.7155, lon=-73.9937, id=40065)
Row(cluster=0, lat=40.7155, lon=-73.9495, id=40987)
Row(cluster=0, lat=40.7156, lon=-74.0121, id=38807)
Row(cluster=0, lat=40.7156, lon=-74.0118, id=40390)
Row(cluster=0, lat=40.7156, lon=-74.0057, id=39813)
Row(cluster=0, lat=40.7156, lon=-73.9983, id=41263)
Row(cluster=0, lat=40.7156, lon=-73.9915, id=39711)
Row(cluster=0, lat=40.7157, lon=-74.0129, id=23833)
Row(cluster=0, lat=40.7157, lon=-74.0063, id=38881)
Row(cluster=0, lat=40.7157, lon=-74.0062, id=39814)
Row(cluster=0, lat=40.7157, lon=-74.0035, id=39502)
Row(cluster=0, lat=40.7158, lon=-74.0356, id=23788)
Row(cluster=0, lat=40.7158, lon=-74.0152, id=38161)
Row(cluster=0, lat=40.7158, lon=-74.0118, id=23747)
Row(cluster=0, lat=40.7158, lon=-74.0016, id=23362)
Row(cluster=0, lat=40.7158, lon=-73.9914, id=23680)
Row(cluster=0, lat=40.7159, lon=-73.9464, id=38177)
Row(cluster=0, lat=40.716, lon=-74.0355, id=22931)
Row(cluster=0, lat=40.716, lon=-74.01, id=39456)
Row(cluster=0, lat=40.716, lon=-74.0071, id=23051)
Row(cluster=0, lat=40.716, lon=-73.9999, id=38628)
Row(cluster=0, lat=40.716, lon=-73.9863, id=39633)
Row(cluster=0, lat=40.716, lon=-73.9605, id=40100)
Row(cluster=0, lat=40.716, lon=-73.9517, id=40056)
Row(cluster=0, lat=40.7161, lon=-74.0445, id=24048)
Row(cluster=0, lat=40.7161, lon=-74.0088, id=41091)
Row(cluster=0, lat=40.7161, lon=-73.9998, id=38443)
Row(cluster=0, lat=40.7161, lon=-73.9621, id=40809)
Row(cluster=0, lat=40.7162, lon=-74.0126, id=39638)
Row(cluster=0, lat=40.7162, lon=-74.0096, id=40028)
Row(cluster=0, lat=40.7162, lon=-74.0045, id=39471)
Row(cluster=0, lat=40.7162, lon=-73.9991, id=39485)
Row(cluster=0, lat=40.7162, lon=-73.9662, id=23615)
Row(cluster=0, lat=40.7162, lon=-73.9358, id=39139)
Row(cluster=0, lat=40.7163, lon=-74.0388, id=23709)
Row(cluster=0, lat=40.7164, lon=-74.0097, id=40090)
Row(cluster=0, lat=40.7165, lon=-74.0108, id=41288)
Row(cluster=0, lat=40.7165, lon=-74.0066, id=39697)
Row(cluster=0, lat=40.7165, lon=-74.0051, id=39417)
Row(cluster=0, lat=40.7165, lon=-73.9585, id=23649)
Row(cluster=0, lat=40.7165, lon=-73.9572, id=40810)
Row(cluster=0, lat=40.7166, lon=-74.0165, id=38930)
Row(cluster=0, lat=40.7166, lon=-74.0145, id=24052)
Row(cluster=0, lat=40.7166, lon=-74.0144, id=40605)
Row(cluster=0, lat=40.7166, lon=-73.9958, id=23383)
Row(cluster=0, lat=40.7166, lon=-73.9909, id=40372)
Row(cluster=0, lat=40.7166, lon=-73.9632, id=40638)
Row(cluster=0, lat=40.7166, lon=-73.9573, id=38776)
Row(cluster=0, lat=40.7167, lon=-74.0165, id=23461)
Row(cluster=0, lat=40.7167, lon=-74.0084, id=38489)
Row(cluster=0, lat=40.7167, lon=-74.0059, id=38982)
Row(cluster=0, lat=40.7167, lon=-74.0054, id=40649)
Row(cluster=0, lat=40.7167, lon=-73.9957, id=23587)
Row(cluster=0, lat=40.7167, lon=-73.9892, id=38891)
Row(cluster=0, lat=40.7167, lon=-73.9621, id=38851)
Row(cluster=0, lat=40.7168, lon=-74.0147, id=23796)
Row(cluster=0, lat=40.7168, lon=-74.0147, id=39840)
Row(cluster=0, lat=40.7168, lon=-74.0125, id=22926)
Row(cluster=0, lat=40.7168, lon=-73.965, id=39073)
Row(cluster=0, lat=40.7168, lon=-73.9545, id=38229)
Row(cluster=0, lat=40.7169, lon=-74.0124, id=40786)
Row(cluster=0, lat=40.7169, lon=-74.0123, id=40546)
Row(cluster=0, lat=40.7169, lon=-74.0041, id=38951)
Row(cluster=0, lat=40.7169, lon=-73.9649, id=38296)
Row(cluster=0, lat=40.7169, lon=-73.9609, id=40755)
Row(cluster=0, lat=40.7169, lon=-73.9544, id=41048)
Row(cluster=0, lat=40.717, lon=-74.0016, id=40884)
Row(cluster=0, lat=40.717, lon=-73.9625, id=23760)
Row(cluster=0, lat=40.717, lon=-73.9593, id=40450)
Row(cluster=0, lat=40.717, lon=-73.9566, id=41209)
Row(cluster=0, lat=40.7171, lon=-74.0142, id=40576)
Row(cluster=0, lat=40.7171, lon=-74.008, id=23094)
Row(cluster=0, lat=40.7171, lon=-74.0006, id=39376)
Row(cluster=0, lat=40.7171, lon=-73.9935, id=40215)
Row(cluster=0, lat=40.7171, lon=-73.9626, id=39939)
Row(cluster=0, lat=40.7172, lon=-74.013, id=23421)
Row(cluster=0, lat=40.7172, lon=-74.013, id=23911)
Row(cluster=0, lat=40.7172, lon=-74.0099, id=40887)
Row(cluster=0, lat=40.7172, lon=-74.009, id=38301)
Row(cluster=0, lat=40.7172, lon=-73.9988, id=23774)
Row(cluster=0, lat=40.7172, lon=-73.9567, id=40964)
Row(cluster=0, lat=40.7173, lon=-74.0107, id=23239)
Row(cluster=0, lat=40.7173, lon=-74.0034, id=41149)
Row(cluster=0, lat=40.7173, lon=-73.9988, id=39771)
Row(cluster=0, lat=40.7173, lon=-73.9907, id=38673)
Row(cluster=0, lat=40.7173, lon=-73.9629, id=41011)
Row(cluster=0, lat=40.7173, lon=-73.9613, id=40917)
Row(cluster=0, lat=40.7173, lon=-73.9561, id=24023)
Row(cluster=0, lat=40.7174, lon=-74.0159, id=23526)
Row(cluster=0, lat=40.7174, lon=-74.0108, id=22944)
Row(cluster=0, lat=40.7174, lon=-74.0107, id=23506)
Row(cluster=0, lat=40.7174, lon=-74.0106, id=23736)
Row(cluster=0, lat=40.7174, lon=-74.0106, id=38543)
Row(cluster=0, lat=40.7174, lon=-73.9518, id=40307)
Row(cluster=0, lat=40.7174, lon=-73.9448, id=38835)
Row(cluster=0, lat=40.7175, lon=-74.0953, id=23835)
Row(cluster=0, lat=40.7175, lon=-74.0034, id=40621)
Row(cluster=0, lat=40.7175, lon=-73.9995, id=39382)
Row(cluster=0, lat=40.7176, lon=-73.9589, id=23785)
Row(cluster=0, lat=40.7176, lon=-73.9503, id=23169)
Row(cluster=0, lat=40.7177, lon=-73.9597, id=40770)
Row(cluster=0, lat=40.7177, lon=-73.9432, id=39213)
Row(cluster=0, lat=40.7178, lon=-74.0157, id=22966)
Row(cluster=0, lat=40.7178, lon=-73.993, id=39176)
Row(cluster=0, lat=40.7178, lon=-73.9533, id=23955)
Row(cluster=0, lat=40.7178, lon=-73.9494, id=41232)
Row(cluster=0, lat=40.7179, lon=-74.0147, id=40463)
Row(cluster=0, lat=40.7179, lon=-74.0033, id=38883)
Row(cluster=0, lat=40.7179, lon=-74.0031, id=40296)
Row(cluster=0, lat=40.7179, lon=-73.997, id=38832)
Row(cluster=0, lat=40.7179, lon=-73.9636, id=41166)
Row(cluster=0, lat=40.718, lon=-74.0149, id=24028)
Row(cluster=0, lat=40.718, lon=-74.0101, id=23762)
Row(cluster=0, lat=40.718, lon=-74.0061, id=40389)
Row(cluster=0, lat=40.718, lon=-73.986, id=38309)
Row(cluster=0, lat=40.718, lon=-73.9847, id=39340)
Row(cluster=0, lat=40.718, lon=-73.9455, id=40260)
Row(cluster=0, lat=40.7181, lon=-74.0148, id=23199)
Row(cluster=0, lat=40.7181, lon=-74.0072, id=40378)
Row(cluster=0, lat=40.7181, lon=-74.0045, id=39113)
Row(cluster=0, lat=40.7181, lon=-73.964, id=39160)
Row(cluster=0, lat=40.7182, lon=-74.0372, id=40014)
Row(cluster=0, lat=40.7182, lon=-73.9998, id=39993)
Row(cluster=0, lat=40.7182, lon=-73.9894, id=38729)
Row(cluster=0, lat=40.7182, lon=-73.9883, id=39667)
Row(cluster=0, lat=40.7182, lon=-73.9856, id=23012)
Row(cluster=0, lat=40.7182, lon=-73.9553, id=23694)
Row(cluster=0, lat=40.7183, lon=-74.0148, id=39127)
Row(cluster=0, lat=40.7183, lon=-74.0104, id=23590)
Row(cluster=0, lat=40.7183, lon=-74.0071, id=39752)
Row(cluster=0, lat=40.7183, lon=-73.9863, id=23930)
Row(cluster=0, lat=40.7183, lon=-73.9555, id=23005)
Row(cluster=0, lat=40.7183, lon=-73.9419, id=40721)
Row(cluster=0, lat=40.7184, lon=-74.0038, id=23550)
Row(cluster=0, lat=40.7184, lon=-73.9938, id=38730)
Row(cluster=0, lat=40.7184, lon=-73.9495, id=40925)
Row(cluster=0, lat=40.7185, lon=-74.0052, id=38529)
Row(cluster=0, lat=40.7185, lon=-73.9948, id=24152)
Row(cluster=0, lat=40.7185, lon=-73.99, id=23890)
Row(cluster=0, lat=40.7186, lon=-74.0006, id=38324)
Row(cluster=0, lat=40.7187, lon=-74.0089, id=23617)
Row(cluster=0, lat=40.7187, lon=-74.0079, id=40176)
Row(cluster=0, lat=40.7187, lon=-74.0061, id=38631)
Row(cluster=0, lat=40.7187, lon=-73.992, id=41234)
Row(cluster=0, lat=40.7187, lon=-73.9913, id=23152)
Row(cluster=0, lat=40.7187, lon=-73.9546, id=39364)
Row(cluster=0, lat=40.7188, lon=-73.9894, id=38760)
Row(cluster=0, lat=40.7188, lon=-73.986, id=39863)
Row(cluster=0, lat=40.7188, lon=-73.9593, id=40255)
Row(cluster=0, lat=40.7189, lon=-74.0048, id=23325)
Row(cluster=0, lat=40.7189, lon=-74.0028, id=41257)
Row(cluster=0, lat=40.7189, lon=-73.9991, id=38376)
Row(cluster=0, lat=40.7189, lon=-73.961, id=23602)
Row(cluster=0, lat=40.719, lon=-74.0343, id=38264)
Row(cluster=0, lat=40.719, lon=-73.9999, id=40252)
Row(cluster=0, lat=40.719, lon=-73.99, id=38953)
Row(cluster=0, lat=40.719, lon=-73.9893, id=40425)
Row(cluster=0, lat=40.719, lon=-73.9893, id=41220)
Row(cluster=0, lat=40.719, lon=-73.9892, id=38593)
Row(cluster=0, lat=40.7191, lon=-74.0088, id=40963)
Row(cluster=0, lat=40.7191, lon=-74.0064, id=24078)
Row(cluster=0, lat=40.7191, lon=-74.0051, id=24138)
Row(cluster=0, lat=40.7191, lon=-73.9879, id=23780)
Row(cluster=0, lat=40.7192, lon=-74.0087, id=39209)
Row(cluster=0, lat=40.7192, lon=-74.0086, id=23033)
Row(cluster=0, lat=40.7192, lon=-74.0019, id=39955)
Row(cluster=0, lat=40.7192, lon=-74.0016, id=38252)
Row(cluster=0, lat=40.7192, lon=-73.9938, id=38838)
Row(cluster=0, lat=40.7192, lon=-73.9855, id=24190)
Row(cluster=0, lat=40.7192, lon=-73.963, id=38968)
Row(cluster=0, lat=40.7192, lon=-73.8454, id=38751)
Row(cluster=0, lat=40.7193, lon=-73.9964, id=23994)
Row(cluster=0, lat=40.7193, lon=-73.9896, id=41105)
Row(cluster=0, lat=40.7193, lon=-73.9856, id=41004)
Row(cluster=0, lat=40.7193, lon=-73.9642, id=41074)
Row(cluster=0, lat=40.7194, lon=-74.0105, id=40120)
Row(cluster=0, lat=40.7194, lon=-74.0087, id=23616)
Row(cluster=0, lat=40.7194, lon=-73.9916, id=41034)
Row(cluster=0, lat=40.7195, lon=-74.0006, id=23527)
Row(cluster=0, lat=40.7195, lon=-74.0003, id=40103)
Row(cluster=0, lat=40.7195, lon=-73.9996, id=38481)
Row(cluster=0, lat=40.7195, lon=-73.9866, id=40614)
Row(cluster=0, lat=40.7195, lon=-73.964, id=23377)
Row(cluster=0, lat=40.7196, lon=-74.0125, id=39373)
Row(cluster=0, lat=40.7196, lon=-74.0052, id=38742)
Row(cluster=0, lat=40.7196, lon=-73.9973, id=39196)
Row(cluster=0, lat=40.7196, lon=-73.9911, id=41167)
Row(cluster=0, lat=40.7196, lon=-73.9867, id=39896)
Row(cluster=0, lat=40.7197, lon=-74.0043, id=41151)
Row(cluster=0, lat=40.7197, lon=-73.9995, id=23772)
Row(cluster=0, lat=40.7197, lon=-73.9625, id=24160)
Row(cluster=0, lat=40.7197, lon=-73.9623, id=23272)
Row(cluster=0, lat=40.7197, lon=-73.9601, id=38547)
Row(cluster=0, lat=40.7197, lon=-73.9397, id=40106)
Row(cluster=0, lat=40.7198, lon=-74.0091, id=39936)
Row(cluster=0, lat=40.7198, lon=-74.0086, id=24182)
Row(cluster=0, lat=40.7198, lon=-74.006, id=38411)
Row(cluster=0, lat=40.7198, lon=-74.0003, id=38787)
Row(cluster=0, lat=40.7198, lon=-74.0, id=39705)
Row(cluster=0, lat=40.7198, lon=-73.9999, id=38597)
Row(cluster=0, lat=40.7198, lon=-73.9921, id=40145)
Row(cluster=0, lat=40.7198, lon=-73.9879, id=38813)
Row(cluster=0, lat=40.7199, lon=-74.0102, id=38679)
Row(cluster=0, lat=40.7199, lon=-74.01, id=23432)
Row(cluster=0, lat=40.7199, lon=-74.0058, id=22999)
Row(cluster=0, lat=40.7199, lon=-74.0015, id=39650)
Row(cluster=0, lat=40.7199, lon=-73.9997, id=38240)
Row(cluster=0, lat=40.7199, lon=-73.999, id=38664)
Row(cluster=0, lat=40.7199, lon=-73.9944, id=23341)
Row(cluster=0, lat=40.7199, lon=-73.9876, id=38286)
Row(cluster=0, lat=40.7199, lon=-73.9874, id=39927)
Row(cluster=0, lat=40.7199, lon=-73.9834, id=23932)
Row(cluster=0, lat=40.7199, lon=-73.9789, id=38902)
Row(cluster=0, lat=40.72, lon=-74.0124, id=23941)
Row(cluster=0, lat=40.72, lon=-73.9962, id=39931)
Row(cluster=0, lat=40.72, lon=-73.9954, id=38213)
Row(cluster=0, lat=40.72, lon=-73.9882, id=40478)
Row(cluster=0, lat=40.72, lon=-73.9882, id=40798)
Row(cluster=0, lat=40.72, lon=-73.9882, id=41173)
Row(cluster=0, lat=40.72, lon=-73.9878, id=23726)
Row(cluster=0, lat=40.72, lon=-73.9837, id=41244)
Row(cluster=0, lat=40.72, lon=-73.961, id=40474)
Row(cluster=0, lat=40.7201, lon=-74.0086, id=23971)
Row(cluster=0, lat=40.7201, lon=-73.9885, id=40794)
Row(cluster=0, lat=40.7201, lon=-73.9884, id=41262)
Row(cluster=0, lat=40.7201, lon=-73.9882, id=38850)
Row(cluster=0, lat=40.7201, lon=-73.9876, id=38950)
Row(cluster=0, lat=40.7201, lon=-73.9846, id=40318)
Row(cluster=0, lat=40.7201, lon=-73.9839, id=24010)
Row(cluster=0, lat=40.7201, lon=-73.9554, id=39536)
Row(cluster=0, lat=40.7201, lon=-73.8088, id=24144)
Row(cluster=0, lat=40.7202, lon=-74.0103, id=38194)
Row(cluster=0, lat=40.7202, lon=-74.0057, id=40846)
Row(cluster=0, lat=40.7202, lon=-73.9996, id=39631)
Row(cluster=0, lat=40.7202, lon=-73.9958, id=40153)
Row(cluster=0, lat=40.7202, lon=-73.9933, id=40994)
Row(cluster=0, lat=40.7202, lon=-73.9929, id=22990)
Row(cluster=0, lat=40.7202, lon=-73.9572, id=40895)
Row(cluster=0, lat=40.7203, lon=-74.0085, id=23318)
Row(cluster=0, lat=40.7203, lon=-73.9983, id=23609)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key
WARNING:cassandra.protocol:Server warning: Replica filtering protection has cached over 2000 rows during query SELECT datetimename FROM datasetkeyspace.uberdataset WHERE datetimename >= 2014-08-21T17:54:00.000Z AND datetimename <= 2014-08-31T17:54:00.000Z AND token(cluster) >= token(7) GROUP LIMIT 5000 LIMIT 5000. (See 'cached_replica_rows_warn_threshold' in cassandra.yaml.)

Row(cluster=7, lat=40.7299, lon=-73.9915, id=44999)
Row(cluster=7, lat=40.7299, lon=-73.9915, id=45017)
Row(cluster=7, lat=40.7299, lon=-73.9867, id=44749)
Row(cluster=7, lat=40.7299, lon=-73.9853, id=45448)
Row(cluster=7, lat=40.7299, lon=-73.9808, id=44443)
Row(cluster=7, lat=40.7299, lon=-73.9747, id=44307)
Row(cluster=7, lat=40.7299, lon=-73.9583, id=46469)
Row(cluster=7, lat=40.73, lon=-74.0083, id=45624)
Row(cluster=7, lat=40.73, lon=-73.9912, id=45608)
Row(cluster=7, lat=40.7301, lon=-74.0072, id=46780)
Row(cluster=7, lat=40.7301, lon=-74.0034, id=44519)
Row(cluster=7, lat=40.7301, lon=-73.9937, id=25689)
Row(cluster=7, lat=40.7301, lon=-73.9836, id=46578)
Row(cluster=7, lat=40.7301, lon=-73.9557, id=45453)
Row(cluster=7, lat=40.7302, lon=-74.0048, id=46406)
Row(cluster=7, lat=40.7302, lon=-73.9914, id=45361)
Row(cluster=7, lat=40.7302, lon=-73.9894, id=45252)
Row(cluster=7, lat=40.7302, lon=-73.9865, id=46627)
Row(cluster=7, lat=40.7302, lon=-73.9861, id=44279)
Row(cluster=7, lat=40.7302, lon=-73.9844, id=44651)
Row(cluster=7, lat=40.7302, lon=-73.982, id=46708)
Row(cluster=7, lat=40.7303, lon=-73.9937, id=46618)
Row(cluster=7, lat=40.7303, lon=-73.9865, id=45774)
Row(cluster=7, lat=40.7303, lon=-73.982, id=45421)
Row(cluster=7, lat=40.7303, lon=-73.8874, id=44851)
Row(cluster=7, lat=40.7304, lon=-74.0069, id=25664)
Row(cluster=7, lat=40.7304, lon=-74.0026, id=26278)
Row(cluster=7, lat=40.7305, lon=-73.9937, id=44177)
Row(cluster=7, lat=40.7305, lon=-73.9935, id=44278)
Row(cluster=7, lat=40.7305, lon=-73.9845, id=25388)
Row(cluster=7, lat=40.7306, lon=-74.1657, id=25611)
Row(cluster=7, lat=40.7306, lon=-74.007, id=45636)
Row(cluster=7, lat=40.7306, lon=-73.9954, id=25985)
Row(cluster=7, lat=40.7306, lon=-73.9807, id=44173)
Row(cluster=7, lat=40.7307, lon=-74.0067, id=46279)
Row(cluster=7, lat=40.7307, lon=-74.0037, id=45212)
Row(cluster=7, lat=40.7307, lon=-74.0, id=26148)
Row(cluster=7, lat=40.7307, lon=-73.9802, id=46907)
Row(cluster=7, lat=40.7307, lon=-73.9444, id=44946)
Row(cluster=7, lat=40.7308, lon=-74.0059, id=25412)
Row(cluster=7, lat=40.7308, lon=-74.0028, id=45613)
Row(cluster=7, lat=40.7308, lon=-74.0005, id=45505)
Row(cluster=7, lat=40.7308, lon=-73.9957, id=46850)
Row(cluster=7, lat=40.7308, lon=-73.9953, id=46256)
Row(cluster=7, lat=40.7308, lon=-73.993, id=46576)
Row(cluster=7, lat=40.7308, lon=-73.9919, id=25940)
Row(cluster=7, lat=40.7308, lon=-73.9563, id=44960)
Row(cluster=7, lat=40.7308, lon=-73.8608, id=45813)
Row(cluster=7, lat=40.7309, lon=-74.0044, id=45122)
Row(cluster=7, lat=40.7309, lon=-74.0015, id=45964)
Row(cluster=7, lat=40.7309, lon=-73.9876, id=46599)
Row(cluster=7, lat=40.7309, lon=-73.9814, id=26271)
Row(cluster=7, lat=40.7309, lon=-73.9782, id=46638)
Row(cluster=7, lat=40.7309, lon=-73.9741, id=46590)
Row(cluster=7, lat=40.731, lon=-73.9913, id=46034)
Row(cluster=7, lat=40.731, lon=-73.9905, id=26153)
Row(cluster=7, lat=40.731, lon=-73.9899, id=25770)
Row(cluster=7, lat=40.731, lon=-73.9899, id=26242)
Row(cluster=7, lat=40.731, lon=-73.989, id=44990)
Row(cluster=7, lat=40.731, lon=-73.9889, id=44873)
Row(cluster=7, lat=40.731, lon=-73.9839, id=45553)
Row(cluster=7, lat=40.731, lon=-73.9784, id=45366)
Row(cluster=7, lat=40.731, lon=-73.9759, id=45367)
Row(cluster=7, lat=40.7311, lon=-73.9888, id=45271)
Row(cluster=7, lat=40.7311, lon=-73.9819, id=45543)
Row(cluster=7, lat=40.7311, lon=-73.9791, id=25767)
Row(cluster=7, lat=40.7311, lon=-73.9757, id=45648)
Row(cluster=7, lat=40.7311, lon=-73.9742, id=46078)
Row(cluster=7, lat=40.7312, lon=-74.01, id=44820)
Row(cluster=7, lat=40.7312, lon=-73.9921, id=25583)
Row(cluster=7, lat=40.7313, lon=-74.0025, id=46250)
Row(cluster=7, lat=40.7315, lon=-74.0032, id=46598)
Row(cluster=7, lat=40.7315, lon=-74.0019, id=45428)
Row(cluster=7, lat=40.7315, lon=-73.9926, id=46670)
Row(cluster=7, lat=40.7315, lon=-73.9914, id=46029)
Row(cluster=7, lat=40.7315, lon=-73.9903, id=45261)
Row(cluster=7, lat=40.7316, lon=-74.0011, id=26212)
Row(cluster=7, lat=40.7316, lon=-73.9945, id=46611)
Row(cluster=7, lat=40.7316, lon=-73.8595, id=46886)
Row(cluster=7, lat=40.7317, lon=-74.0014, id=46900)
Row(cluster=7, lat=40.7317, lon=-74.0011, id=44669)
Row(cluster=7, lat=40.7317, lon=-73.9909, id=46732)
Row(cluster=7, lat=40.7317, lon=-73.9855, id=25458)
Row(cluster=7, lat=40.7317, lon=-73.9835, id=46497)
Row(cluster=7, lat=40.7318, lon=-74.0043, id=25834)
Row(cluster=7, lat=40.7318, lon=-74.003, id=45606)
Row(cluster=7, lat=40.7318, lon=-73.9858, id=46399)
Row(cluster=7, lat=40.7318, lon=-73.9832, id=45135)
Row(cluster=7, lat=40.7319, lon=-74.0, id=25886)
Row(cluster=7, lat=40.7319, lon=-73.986, id=26155)
Row(cluster=7, lat=40.7319, lon=-73.9743, id=46681)
Row(cluster=7, lat=40.732, lon=-74.0093, id=25629)
Row(cluster=7, lat=40.732, lon=-74.0092, id=46778)
Row(cluster=7, lat=40.732, lon=-74.0034, id=44292)
Row(cluster=7, lat=40.732, lon=-73.9987, id=45145)
Row(cluster=7, lat=40.732, lon=-73.9925, id=45333)
Row(cluster=7, lat=40.7321, lon=-73.95, id=44667)
Row(cluster=7, lat=40.7321, lon=-73.8518, id=26023)
Row(cluster=7, lat=40.7322, lon=-74.0077, id=44801)
Row(cluster=7, lat=40.7322, lon=-74.0076, id=25957)
Row(cluster=7, lat=40.7322, lon=-74.0076, id=45892)
Row(cluster=7, lat=40.7322, lon=-74.0054, id=45302)
Row(cluster=7, lat=40.7322, lon=-73.9987, id=45607)
Row(cluster=7, lat=40.7322, lon=-73.9804, id=45385)
Row(cluster=7, lat=40.7322, lon=-73.9801, id=26298)
Row(cluster=7, lat=40.7323, lon=-74.0077, id=26213)
Row(cluster=7, lat=40.7323, lon=-74.0077, id=44693)
Row(cluster=7, lat=40.7323, lon=-74.0053, id=25368)
Row(cluster=7, lat=40.7323, lon=-73.9989, id=44977)
Row(cluster=7, lat=40.7323, lon=-73.9961, id=26188)
Row(cluster=7, lat=40.7323, lon=-73.9948, id=46587)
Row(cluster=7, lat=40.7323, lon=-73.9806, id=44402)
Row(cluster=7, lat=40.7323, lon=-73.9801, id=45163)
Row(cluster=7, lat=40.7324, lon=-74.0086, id=45263)
Row(cluster=7, lat=40.7324, lon=-74.0034, id=25743)
Row(cluster=7, lat=40.7324, lon=-73.9967, id=46762)
Row(cluster=7, lat=40.7324, lon=-73.9964, id=46754)
Row(cluster=7, lat=40.7325, lon=-74.0076, id=25945)
Row(cluster=7, lat=40.7325, lon=-74.0003, id=25755)
Row(cluster=7, lat=40.7325, lon=-73.977, id=46257)
Row(cluster=7, lat=40.7325, lon=-73.9546, id=45513)
Row(cluster=7, lat=40.7325, lon=-73.8099, id=25442)
Row(cluster=7, lat=40.7326, lon=-74.0065, id=44288)
Row(cluster=7, lat=40.7326, lon=-74.0038, id=25823)
Row(cluster=7, lat=40.7327, lon=-73.996, id=44623)
Row(cluster=7, lat=40.7327, lon=-73.996, id=45633)
Row(cluster=7, lat=40.7327, lon=-73.9958, id=26267)
Row(cluster=7, lat=40.7327, lon=-73.9837, id=25474)
Row(cluster=7, lat=40.7327, lon=-73.9837, id=45014)
Row(cluster=7, lat=40.7327, lon=-73.9517, id=44816)
Row(cluster=7, lat=40.7327, lon=-73.9512, id=44794)
Row(cluster=7, lat=40.7328, lon=-74.0044, id=46908)
Row(cluster=7, lat=40.7328, lon=-74.0039, id=46101)
Row(cluster=7, lat=40.7328, lon=-73.9958, id=26260)
Row(cluster=7, lat=40.7328, lon=-73.99, id=25929)
Row(cluster=7, lat=40.7328, lon=-73.9856, id=46707)
Row(cluster=7, lat=40.7328, lon=-73.9812, id=46640)
Row(cluster=7, lat=40.7328, lon=-73.9797, id=45732)
Row(cluster=7, lat=40.7329, lon=-74.0042, id=44968)
Row(cluster=7, lat=40.7329, lon=-73.9981, id=46298)
Row(cluster=7, lat=40.7329, lon=-73.9878, id=25656)
Row(cluster=7, lat=40.7329, lon=-73.9865, id=46755)
Row(cluster=7, lat=40.733, lon=-74.0001, id=45840)
Row(cluster=7, lat=40.733, lon=-73.9753, id=44367)
Row(cluster=7, lat=40.7331, lon=-74.003, id=44735)
Row(cluster=7, lat=40.7331, lon=-73.9982, id=45429)
Row(cluster=7, lat=40.7331, lon=-73.9923, id=25373)
Row(cluster=7, lat=40.7331, lon=-73.9886, id=46515)
Row(cluster=7, lat=40.7331, lon=-73.9869, id=45609)
Row(cluster=7, lat=40.7331, lon=-73.9548, id=46457)
Row(cluster=7, lat=40.7331, lon=-73.9536, id=26293)
Row(cluster=7, lat=40.7332, lon=-74.0023, id=45467)
Row(cluster=7, lat=40.7332, lon=-73.9999, id=44319)
Row(cluster=7, lat=40.7332, lon=-73.9912, id=45717)
Row(cluster=7, lat=40.7332, lon=-73.9911, id=25688)
Row(cluster=7, lat=40.7333, lon=-74.0097, id=44663)
Row(cluster=7, lat=40.7333, lon=-73.993, id=45359)
Row(cluster=7, lat=40.7333, lon=-73.99, id=46088)
Row(cluster=7, lat=40.7333, lon=-73.985, id=44361)
Row(cluster=7, lat=40.7334, lon=-74.0024, id=46259)
Row(cluster=7, lat=40.7334, lon=-73.9899, id=45554)
Row(cluster=7, lat=40.7335, lon=-74.0048, id=44936)
Row(cluster=7, lat=40.7335, lon=-74.0048, id=45459)
Row(cluster=7, lat=40.7335, lon=-73.869, id=45656)
Row(cluster=7, lat=40.7336, lon=-73.9763, id=45948)
Row(cluster=7, lat=40.7337, lon=-74.0063, id=45465)
Row(cluster=7, lat=40.7337, lon=-74.0022, id=44762)
Row(cluster=7, lat=40.7337, lon=-74.0014, id=46540)
Row(cluster=7, lat=40.7337, lon=-73.9771, id=45443)
Row(cluster=7, lat=40.7337, lon=-73.8623, id=45685)
Row(cluster=7, lat=40.7338, lon=-74.0026, id=45269)
Row(cluster=7, lat=40.7338, lon=-74.0019, id=26087)
Row(cluster=7, lat=40.7338, lon=-73.9963, id=26281)
Row(cluster=7, lat=40.7338, lon=-73.9927, id=26167)
Row(cluster=7, lat=40.7338, lon=-73.9889, id=25518)
Row(cluster=7, lat=40.7338, lon=-73.988, id=45634)
Row(cluster=7, lat=40.7338, lon=-73.9862, id=44304)
Row(cluster=7, lat=40.7339, lon=-74.0005, id=46073)
Row(cluster=7, lat=40.7339, lon=-73.9909, id=25600)
Row(cluster=7, lat=40.7339, lon=-73.9899, id=45936)
Row(cluster=7, lat=40.734, lon=-74.0099, id=25967)
Row(cluster=7, lat=40.734, lon=-74.0094, id=45098)
Row(cluster=7, lat=40.734, lon=-74.0001, id=25443)
Row(cluster=7, lat=40.734, lon=-74.0, id=45567)
Row(cluster=7, lat=40.734, lon=-73.9999, id=46336)
Row(cluster=7, lat=40.734, lon=-73.9952, id=45829)
Row(cluster=7, lat=40.7341, lon=-74.0083, id=46835)
Row(cluster=7, lat=40.7341, lon=-74.0079, id=46779)
Row(cluster=7, lat=40.7341, lon=-74.0062, id=46378)
Row(cluster=7, lat=40.7341, lon=-73.995, id=45284)
Row(cluster=7, lat=40.7341, lon=-73.9912, id=46505)
Row(cluster=7, lat=40.7341, lon=-73.9886, id=46451)
Row(cluster=7, lat=40.7342, lon=-74.0033, id=44450)
Row(cluster=7, lat=40.7342, lon=-74.003, id=46075)
Row(cluster=7, lat=40.7342, lon=-73.9936, id=45710)
Row(cluster=7, lat=40.7342, lon=-73.9898, id=45276)
Row(cluster=7, lat=40.7342, lon=-73.9872, id=26318)
Row(cluster=7, lat=40.7342, lon=-73.9778, id=44629)
Row(cluster=7, lat=40.7343, lon=-74.0079, id=44583)
Row(cluster=7, lat=40.7343, lon=-74.0063, id=46273)
Row(cluster=7, lat=40.7343, lon=-74.0029, id=45008)
Row(cluster=7, lat=40.7343, lon=-74.0028, id=46510)
Row(cluster=7, lat=40.7343, lon=-74.0027, id=44744)
Row(cluster=7, lat=40.7343, lon=-73.9908, id=44799)
Row(cluster=7, lat=40.7343, lon=-73.9902, id=45730)
Row(cluster=7, lat=40.7344, lon=-73.9934, id=45025)
Row(cluster=7, lat=40.7344, lon=-73.984, id=25564)
Row(cluster=7, lat=40.7344, lon=-73.9836, id=46288)
Row(cluster=7, lat=40.7344, lon=-73.956, id=26275)
Row(cluster=7, lat=40.7345, lon=-74.0071, id=25329)
Row(cluster=7, lat=40.7345, lon=-74.0071, id=45918)
Row(cluster=7, lat=40.7345, lon=-74.007, id=45903)
Row(cluster=7, lat=40.7345, lon=-73.9959, id=25339)
Row(cluster=7, lat=40.7345, lon=-73.9901, id=26357)
Row(cluster=7, lat=40.7345, lon=-73.9788, id=44664)
Row(cluster=7, lat=40.7345, lon=-73.9545, id=45861)
Row(cluster=7, lat=40.7346, lon=-74.0058, id=45814)
Row(cluster=7, lat=40.7346, lon=-73.9924, id=45023)
Row(cluster=7, lat=40.7347, lon=-74.001, id=25928)
Row(cluster=7, lat=40.7347, lon=-73.9886, id=46144)
Row(cluster=7, lat=40.7347, lon=-73.9201, id=45170)
Row(cluster=7, lat=40.7348, lon=-73.9867, id=45552)
Row(cluster=7, lat=40.7348, lon=-73.9798, id=26143)
Row(cluster=7, lat=40.7348, lon=-73.9595, id=45049)
Row(cluster=7, lat=40.7349, lon=-73.9945, id=44480)
Row(cluster=7, lat=40.735, lon=-74.0074, id=25330)
Row(cluster=7, lat=40.735, lon=-74.0016, id=45328)
Row(cluster=7, lat=40.7351, lon=-74.0065, id=44832)
Row(cluster=7, lat=40.7351, lon=-73.9854, id=44272)
Row(cluster=7, lat=40.7351, lon=-73.9829, id=46633)
Row(cluster=7, lat=40.7352, lon=-74.0016, id=26273)
Row(cluster=7, lat=40.7352, lon=-73.9872, id=45186)
Row(cluster=7, lat=40.7353, lon=-74.0068, id=45184)
Row(cluster=7, lat=40.7353, lon=-73.9944, id=26006)
Row(cluster=7, lat=40.7353, lon=-73.994, id=26041)
Row(cluster=7, lat=40.7353, lon=-73.9918, id=25586)
Row(cluster=7, lat=40.7353, lon=-73.9798, id=25781)
Row(cluster=7, lat=40.7353, lon=-73.9748, id=45782)
Row(cluster=7, lat=40.7354, lon=-74.0098, id=25357)
Row(cluster=7, lat=40.7354, lon=-73.9898, id=26386)
Row(cluster=7, lat=40.7354, lon=-73.9777, id=44321)
Row(cluster=7, lat=40.7355, lon=-74.0083, id=45668)
Row(cluster=7, lat=40.7355, lon=-73.9848, id=26181)
Row(cluster=7, lat=40.7355, lon=-73.9757, id=26241)
Row(cluster=7, lat=40.7356, lon=-74.0028, id=44548)
Row(cluster=7, lat=40.7356, lon=-73.9961, id=46004)
Row(cluster=7, lat=40.7356, lon=-73.9939, id=25532)
Row(cluster=7, lat=40.7356, lon=-73.9856, id=46595)
Row(cluster=7, lat=40.7356, lon=-73.9777, id=45525)
Row(cluster=7, lat=40.7356, lon=-73.9753, id=46313)
Row(cluster=7, lat=40.7356, lon=-73.9371, id=45992)
Row(cluster=7, lat=40.7357, lon=-73.9884, id=26131)
Row(cluster=7, lat=40.7357, lon=-73.9872, id=44674)
Row(cluster=7, lat=40.7357, lon=-73.9561, id=45763)
Row(cluster=7, lat=40.7358, lon=-74.0006, id=45159)
Row(cluster=7, lat=40.7358, lon=-73.9953, id=45850)
Row(cluster=7, lat=40.7358, lon=-73.9927, id=46584)
Row(cluster=7, lat=40.7359, lon=-73.9976, id=46169)
Row(cluster=7, lat=40.7359, lon=-73.9974, id=26114)
Row(cluster=7, lat=40.7359, lon=-73.9935, id=44646)
Row(cluster=7, lat=40.736, lon=-74.0057, id=45039)
Row(cluster=7, lat=40.736, lon=-74.0044, id=45069)
Row(cluster=7, lat=40.736, lon=-73.9792, id=25882)
Row(cluster=7, lat=40.736, lon=-73.9765, id=44303)
Row(cluster=7, lat=40.7361, lon=-73.986, id=46149)
Row(cluster=7, lat=40.7361, lon=-73.9851, id=45092)
Row(cluster=7, lat=40.7361, lon=-73.9746, id=46275)
Row(cluster=7, lat=40.7361, lon=-73.9365, id=44658)
Row(cluster=7, lat=40.7362, lon=-73.987, id=45672)
Row(cluster=7, lat=40.7362, lon=-73.9553, id=44711)
Row(cluster=7, lat=40.7362, lon=-73.9365, id=46828)
Row(cluster=7, lat=40.7363, lon=-73.9963, id=45967)
Row(cluster=7, lat=40.7363, lon=-73.9933, id=45345)
Row(cluster=7, lat=40.7363, lon=-73.9909, id=44582)
Row(cluster=7, lat=40.7363, lon=-73.9553, id=26306)
Row(cluster=7, lat=40.7364, lon=-74.0026, id=44396)
Row(cluster=7, lat=40.7364, lon=-74.002, id=46061)
Row(cluster=7, lat=40.7364, lon=-74.0005, id=26201)
Row(cluster=7, lat=40.7364, lon=-73.9978, id=44896)
Row(cluster=7, lat=40.7364, lon=-73.987, id=46347)
Row(cluster=7, lat=40.7364, lon=-73.9553, id=44442)
Row(cluster=7, lat=40.7365, lon=-74.0291, id=44425)
Row(cluster=7, lat=40.7365, lon=-74.002, id=45404)
Row(cluster=7, lat=40.7365, lon=-73.9965, id=46652)
Row(cluster=7, lat=40.7365, lon=-73.989, id=45942)
Row(cluster=7, lat=40.7365, lon=-73.9888, id=26316)
Row(cluster=7, lat=40.7365, lon=-73.9296, id=44579)
Row(cluster=7, lat=40.7366, lon=-73.9975, id=45526)
Row(cluster=7, lat=40.7366, lon=-73.9889, id=45719)
Row(cluster=7, lat=40.7366, lon=-73.9888, id=25952)
Row(cluster=7, lat=40.7366, lon=-73.9887, id=45780)
Row(cluster=7, lat=40.7367, lon=-73.9889, id=45139)
Row(cluster=7, lat=40.7367, lon=-73.9888, id=44267)
Row(cluster=7, lat=40.7367, lon=-73.9735, id=46798)
Row(cluster=7, lat=40.7367, lon=-73.9541, id=46532)
Row(cluster=7, lat=40.7368, lon=-74.0065, id=46559)
Row(cluster=7, lat=40.7368, lon=-73.9925, id=44795)
Row(cluster=7, lat=40.7368, lon=-73.9877, id=45449)
Row(cluster=7, lat=40.7368, lon=-73.9784, id=45529)
Row(cluster=7, lat=40.7368, lon=-73.9734, id=25341)
Row(cluster=7, lat=40.7368, lon=-73.9729, id=26134)
Row(cluster=7, lat=40.7368, lon=-73.954, id=45311)
Row(cluster=7, lat=40.7369, lon=-74.1653, id=44972)
Row(cluster=7, lat=40.7369, lon=-74.0077, id=44191)
Row(cluster=7, lat=40.7369, lon=-73.9888, id=44287)
Row(cluster=7, lat=40.7369, lon=-73.9848, id=45119)
Row(cluster=7, lat=40.7369, lon=-73.9802, id=46329)
Row(cluster=7, lat=40.737, lon=-74.0032, id=46268)
Row(cluster=7, lat=40.737, lon=-74.0021, id=45254)
Row(cluster=7, lat=40.737, lon=-73.9963, id=46917)
Row(cluster=7, lat=40.737, lon=-73.9882, id=45255)
Row(cluster=7, lat=40.737, lon=-73.9743, id=45038)
Row(cluster=7, lat=40.7371, lon=-74.0066, id=45504)
Row(cluster=7, lat=40.7371, lon=-73.9969, id=46235)
Row(cluster=7, lat=40.7371, lon=-73.9902, id=45030)
Row(cluster=7, lat=40.7371, lon=-73.9889, id=44632)
Row(cluster=7, lat=40.7371, lon=-73.9209, id=46481)
Row(cluster=7, lat=40.7371, lon=-73.9029, id=45605)
Row(cluster=7, lat=40.7372, lon=-74.0083, id=46610)
Row(cluster=7, lat=40.7372, lon=-73.9986, id=44336)
Row(cluster=7, lat=40.7372, lon=-73.9947, id=46091)
Row(cluster=7, lat=40.7374, lon=-74.1742, id=25879)
Row(cluster=7, lat=40.7374, lon=-74.0083, id=45330)
Row(cluster=7, lat=40.7374, lon=-73.9891, id=44701)
Row(cluster=7, lat=40.7374, lon=-73.9807, id=25469)
Row(cluster=7, lat=40.7375, lon=-74.0083, id=46009)
Row(cluster=7, lat=40.7375, lon=-74.0052, id=46037)
Row(cluster=7, lat=40.7375, lon=-74.0004, id=46894)
Row(cluster=7, lat=40.7375, lon=-73.9933, id=45489)
Row(cluster=7, lat=40.7375, lon=-73.9926, id=46157)
Row(cluster=7, lat=40.7375, lon=-73.9913, id=44974)
Row(cluster=7, lat=40.7375, lon=-73.9562, id=45216)
Row(cluster=7, lat=40.7376, lon=-74.0038, id=46361)
Row(cluster=7, lat=40.7376, lon=-74.0033, id=26069)
Row(cluster=7, lat=40.7376, lon=-74.0031, id=45463)
Row(cluster=7, lat=40.7377, lon=-74.0082, id=44374)
Row(cluster=7, lat=40.7377, lon=-74.0058, id=46920)
Row(cluster=7, lat=40.7377, lon=-73.9883, id=45101)
Row(cluster=7, lat=40.7377, lon=-73.978, id=45772)
Row(cluster=7, lat=40.7378, lon=-74.0018, id=46326)
Row(cluster=7, lat=40.7378, lon=-73.9881, id=46615)
Row(cluster=7, lat=40.7379, lon=-74.0332, id=46487)
Row(cluster=7, lat=40.7379, lon=-73.9923, id=25454)
Row(cluster=7, lat=40.7379, lon=-73.9908, id=46402)
Row(cluster=7, lat=40.7379, lon=-73.9846, id=25832)
Row(cluster=7, lat=40.738, lon=-73.9982, id=45413)
Row(cluster=7, lat=40.738, lon=-73.9978, id=25694)
Row(cluster=7, lat=40.738, lon=-73.9944, id=46909)
Row(cluster=7, lat=40.738, lon=-73.9907, id=46453)
Row(cluster=7, lat=40.738, lon=-73.9903, id=46154)
Row(cluster=7, lat=40.7381, lon=-73.9931, id=46424)
Row(cluster=7, lat=40.7382, lon=-74.0096, id=46500)
Row(cluster=7, lat=40.7382, lon=-74.0095, id=46460)
Row(cluster=7, lat=40.7382, lon=-74.0087, id=45575)
Row(cluster=7, lat=40.7383, lon=-73.9998, id=46162)
Row(cluster=7, lat=40.7383, lon=-73.9995, id=25337)
Row(cluster=7, lat=40.7383, lon=-73.9934, id=45518)
Row(cluster=7, lat=40.7383, lon=-73.9834, id=26209)
Row(cluster=7, lat=40.7383, lon=-73.9816, id=45309)
Row(cluster=7, lat=40.7383, lon=-73.9813, id=44915)
Row(cluster=7, lat=40.7384, lon=-73.9837, id=26084)
Row(cluster=7, lat=40.7384, lon=-73.9798, id=44862)
Row(cluster=7, lat=40.7385, lon=-74.0082, id=44719)
Row(cluster=7, lat=40.7385, lon=-74.0038, id=46689)
Row(cluster=7, lat=40.7385, lon=-73.9883, id=46371)
Row(cluster=7, lat=40.7385, lon=-73.9841, id=46104)
Row(cluster=7, lat=40.7385, lon=-73.9834, id=45484)
Row(cluster=7, lat=40.7386, lon=-74.0065, id=46439)
Row(cluster=7, lat=40.7386, lon=-74.0036, id=46388)
Row(cluster=7, lat=40.7386, lon=-73.9916, id=45879)
Row(cluster=7, lat=40.7386, lon=-73.9854, id=25765)
Row(cluster=7, lat=40.7386, lon=-73.9853, id=25632)
Row(cluster=7, lat=40.7386, lon=-73.985, id=25988)
Row(cluster=7, lat=40.7387, lon=-74.0095, id=46616)
Row(cluster=7, lat=40.7387, lon=-74.0088, id=25917)
Row(cluster=7, lat=40.7387, lon=-73.9924, id=26388)
Row(cluster=7, lat=40.7387, lon=-73.9883, id=45688)
Row(cluster=7, lat=40.7388, lon=-74.0092, id=45475)
Row(cluster=7, lat=40.7388, lon=-74.0091, id=46715)
Row(cluster=7, lat=40.7388, lon=-74.0004, id=45149)
Row(cluster=7, lat=40.7388, lon=-73.9981, id=26246)
Row(cluster=7, lat=40.7388, lon=-73.994, id=45193)
Row(cluster=7, lat=40.7388, lon=-73.9927, id=45510)
Row(cluster=7, lat=40.7389, lon=-74.0342, id=45388)
Row(cluster=7, lat=40.7389, lon=-73.9897, id=25490)
Row(cluster=7, lat=40.7389, lon=-73.9896, id=44754)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key

Row(cluster=3, lat=40.7601, lon=-73.831, id=48284)
Row(cluster=3, lat=40.7602, lon=-73.9949, id=26694)
Row(cluster=3, lat=40.7602, lon=-73.9794, id=27225)
Row(cluster=3, lat=40.7602, lon=-73.9757, id=47095)
Row(cluster=3, lat=40.7602, lon=-73.9669, id=47069)
Row(cluster=3, lat=40.7602, lon=-73.9278, id=47226)
Row(cluster=3, lat=40.7602, lon=-73.9215, id=47007)
Row(cluster=3, lat=40.7603, lon=-73.999, id=48167)
Row(cluster=3, lat=40.7603, lon=-73.97, id=26923)
Row(cluster=3, lat=40.7604, lon=-73.9992, id=48511)
Row(cluster=3, lat=40.7604, lon=-73.9708, id=47012)
Row(cluster=3, lat=40.7604, lon=-73.9677, id=46982)
Row(cluster=3, lat=40.7604, lon=-73.9602, id=47433)
Row(cluster=3, lat=40.7604, lon=-73.909, id=27103)
Row(cluster=3, lat=40.7605, lon=-73.9912, id=47607)
Row(cluster=3, lat=40.7605, lon=-73.9897, id=48014)
Row(cluster=3, lat=40.7605, lon=-73.9895, id=26912)
Row(cluster=3, lat=40.7606, lon=-73.99, id=47495)
Row(cluster=3, lat=40.7606, lon=-73.9898, id=47521)
Row(cluster=3, lat=40.7606, lon=-73.9613, id=48847)
Row(cluster=3, lat=40.7606, lon=-73.7664, id=48205)
Row(cluster=3, lat=40.7607, lon=-73.9946, id=47891)
Row(cluster=3, lat=40.7607, lon=-73.991, id=26886)
Row(cluster=3, lat=40.7607, lon=-73.9859, id=48147)
Row(cluster=3, lat=40.7607, lon=-73.9753, id=27295)
Row(cluster=3, lat=40.7607, lon=-73.975, id=47225)
Row(cluster=3, lat=40.7607, lon=-73.9389, id=26440)
Row(cluster=3, lat=40.7608, lon=-73.9984, id=26942)
Row(cluster=3, lat=40.7608, lon=-73.996, id=49141)
Row(cluster=3, lat=40.7608, lon=-73.9685, id=27067)
Row(cluster=3, lat=40.7609, lon=-73.9992, id=49178)
Row(cluster=3, lat=40.7609, lon=-73.9976, id=48020)
Row(cluster=3, lat=40.7609, lon=-73.9949, id=48545)
Row(cluster=3, lat=40.761, lon=-73.9907, id=48740)
Row(cluster=3, lat=40.761, lon=-73.9794, id=27016)
Row(cluster=3, lat=40.7611, lon=-73.9843, id=26690)
Row(cluster=3, lat=40.7611, lon=-73.9751, id=47076)
Row(cluster=3, lat=40.7612, lon=-73.9996, id=26682)
Row(cluster=3, lat=40.7612, lon=-73.9974, id=48066)
Row(cluster=3, lat=40.7612, lon=-73.9748, id=26505)
Row(cluster=3, lat=40.7612, lon=-73.9237, id=47691)
Row(cluster=3, lat=40.7613, lon=-73.9996, id=48858)
Row(cluster=3, lat=40.7613, lon=-73.9975, id=49090)
Row(cluster=3, lat=40.7613, lon=-73.9744, id=26515)
Row(cluster=3, lat=40.7613, lon=-73.9577, id=47910)
Row(cluster=3, lat=40.7614, lon=-73.9638, id=47966)
Row(cluster=3, lat=40.7614, lon=-73.9159, id=48563)
Row(cluster=3, lat=40.7615, lon=-73.9683, id=26504)
Row(cluster=3, lat=40.7615, lon=-73.9666, id=47364)
Row(cluster=3, lat=40.7615, lon=-73.9244, id=47453)
Row(cluster=3, lat=40.7615, lon=-73.0153, id=47516)
Row(cluster=3, lat=40.7616, lon=-73.9978, id=47246)
Row(cluster=3, lat=40.7616, lon=-73.9747, id=48363)
Row(cluster=3, lat=40.7616, lon=-73.9742, id=48413)
Row(cluster=3, lat=40.7617, lon=-73.9725, id=47183)
Row(cluster=3, lat=40.7617, lon=-73.9248, id=48955)
Row(cluster=3, lat=40.7618, lon=-73.9941, id=48783)
Row(cluster=3, lat=40.7618, lon=-73.9904, id=47671)
Row(cluster=3, lat=40.7618, lon=-73.9903, id=48680)
Row(cluster=3, lat=40.7618, lon=-73.9639, id=47877)
Row(cluster=3, lat=40.7618, lon=-73.9603, id=26614)
Row(cluster=3, lat=40.7618, lon=-73.9247, id=48254)
Row(cluster=3, lat=40.7619, lon=-73.9755, id=26544)
Row(cluster=3, lat=40.762, lon=-73.9847, id=48814)
Row(cluster=3, lat=40.762, lon=-73.9722, id=27165)
Row(cluster=3, lat=40.762, lon=-73.9603, id=47630)
Row(cluster=3, lat=40.762, lon=-73.9258, id=49006)
Row(cluster=3, lat=40.7621, lon=-73.9683, id=27193)
Row(cluster=3, lat=40.7621, lon=-73.964, id=48168)
Row(cluster=3, lat=40.7621, lon=-73.9624, id=48471)
Row(cluster=3, lat=40.7622, lon=-73.9861, id=47209)
Row(cluster=3, lat=40.7622, lon=-73.9838, id=46996)
Row(cluster=3, lat=40.7622, lon=-73.9698, id=49326)
Row(cluster=3, lat=40.7622, lon=-73.3071, id=48683)
Row(cluster=3, lat=40.7623, lon=-73.9604, id=47583)
Row(cluster=3, lat=40.7624, lon=-73.9781, id=27117)
Row(cluster=3, lat=40.7624, lon=-73.9749, id=46969)
Row(cluster=3, lat=40.7624, lon=-73.7733, id=27107)
Row(cluster=3, lat=40.7625, lon=-73.9964, id=47540)
Row(cluster=3, lat=40.7625, lon=-73.9721, id=27063)
Row(cluster=3, lat=40.7626, lon=-73.9827, id=48332)
Row(cluster=3, lat=40.7626, lon=-73.9716, id=47687)
Row(cluster=3, lat=40.7626, lon=-73.9715, id=26720)
Row(cluster=3, lat=40.7626, lon=-73.9593, id=48384)
Row(cluster=3, lat=40.7626, lon=-73.8909, id=27280)
Row(cluster=3, lat=40.7627, lon=-74.073, id=48474)
Row(cluster=3, lat=40.7627, lon=-73.9968, id=47109)
Row(cluster=3, lat=40.7627, lon=-73.9858, id=47942)
Row(cluster=3, lat=40.7627, lon=-73.9825, id=47812)
Row(cluster=3, lat=40.7628, lon=-73.9798, id=47651)
Row(cluster=3, lat=40.7628, lon=-73.9794, id=48668)
Row(cluster=3, lat=40.7628, lon=-73.9792, id=26774)
Row(cluster=3, lat=40.7628, lon=-73.9576, id=48922)
Row(cluster=3, lat=40.7629, lon=-73.9991, id=47893)
Row(cluster=3, lat=40.7629, lon=-73.986, id=48486)
Row(cluster=3, lat=40.7629, lon=-73.9836, id=48220)
Row(cluster=3, lat=40.763, lon=-73.9838, id=48360)
Row(cluster=3, lat=40.763, lon=-73.9811, id=49008)
Row(cluster=3, lat=40.763, lon=-73.9784, id=48404)
Row(cluster=3, lat=40.763, lon=-73.9758, id=48333)
Row(cluster=3, lat=40.763, lon=-73.9737, id=26969)
Row(cluster=3, lat=40.763, lon=-73.9737, id=48183)
Row(cluster=3, lat=40.763, lon=-73.9717, id=26704)
Row(cluster=3, lat=40.763, lon=-73.9685, id=49269)
Row(cluster=3, lat=40.7631, lon=-73.9881, id=26721)
Row(cluster=3, lat=40.7631, lon=-73.9611, id=47591)
Row(cluster=3, lat=40.7632, lon=-73.9921, id=49240)
Row(cluster=3, lat=40.7632, lon=-73.9791, id=27283)
Row(cluster=3, lat=40.7632, lon=-73.9769, id=47005)
Row(cluster=3, lat=40.7632, lon=-73.9703, id=47608)
Row(cluster=3, lat=40.7632, lon=-73.9133, id=48441)
Row(cluster=3, lat=40.7634, lon=-73.9965, id=26699)
Row(cluster=3, lat=40.7634, lon=-73.9817, id=27153)
Row(cluster=3, lat=40.7634, lon=-73.9654, id=26980)
Row(cluster=3, lat=40.7634, lon=-73.9625, id=47234)
Row(cluster=3, lat=40.7635, lon=-73.9817, id=48135)
Row(cluster=3, lat=40.7636, lon=-73.9728, id=26461)
Row(cluster=3, lat=40.7636, lon=-73.959, id=48939)
Row(cluster=3, lat=40.7636, lon=-73.9578, id=47975)
Row(cluster=3, lat=40.7637, lon=-73.9791, id=47189)
Row(cluster=3, lat=40.7637, lon=-73.9784, id=47949)
Row(cluster=3, lat=40.7638, lon=-73.9852, id=48969)
Row(cluster=3, lat=40.7638, lon=-73.9819, id=47243)
Row(cluster=3, lat=40.7638, lon=-73.9788, id=48658)
Row(cluster=3, lat=40.7638, lon=-73.9739, id=47208)
Row(cluster=3, lat=40.7638, lon=-73.9585, id=27168)
Row(cluster=3, lat=40.7639, lon=-73.9975, id=26716)
Row(cluster=3, lat=40.7639, lon=-73.9737, id=47376)
Row(cluster=3, lat=40.7639, lon=-73.9732, id=48289)
Row(cluster=3, lat=40.764, lon=-73.9761, id=47590)
Row(cluster=3, lat=40.764, lon=-73.974, id=47053)
Row(cluster=3, lat=40.764, lon=-73.9718, id=27011)
Row(cluster=3, lat=40.764, lon=-73.9708, id=47028)
Row(cluster=3, lat=40.764, lon=-73.948, id=47179)
Row(cluster=3, lat=40.7641, lon=-73.999, id=49131)
Row(cluster=3, lat=40.7641, lon=-73.9823, id=48557)
Row(cluster=3, lat=40.7641, lon=-73.9768, id=47761)
Row(cluster=3, lat=40.7641, lon=-73.9739, id=49015)
Row(cluster=3, lat=40.7641, lon=-73.9558, id=47138)
Row(cluster=3, lat=40.7642, lon=-73.9793, id=49300)
Row(cluster=3, lat=40.7642, lon=-73.9774, id=49253)
Row(cluster=3, lat=40.7642, lon=-73.9767, id=48153)
Row(cluster=3, lat=40.7642, lon=-73.9542, id=27296)
Row(cluster=3, lat=40.7642, lon=-73.9214, id=47554)
Row(cluster=3, lat=40.7643, lon=-73.9961, id=47070)
Row(cluster=3, lat=40.7643, lon=-73.9921, id=49293)
Row(cluster=3, lat=40.7643, lon=-73.9871, id=48690)
Row(cluster=3, lat=40.7643, lon=-73.9848, id=27031)
Row(cluster=3, lat=40.7643, lon=-73.9831, id=26910)
Row(cluster=3, lat=40.7643, lon=-73.9783, id=48192)
Row(cluster=3, lat=40.7643, lon=-73.9768, id=27147)
Row(cluster=3, lat=40.7643, lon=-73.9686, id=46995)
Row(cluster=3, lat=40.7643, lon=-73.9585, id=47361)
Row(cluster=3, lat=40.7644, lon=-73.9807, id=26993)
Row(cluster=3, lat=40.7644, lon=-73.9666, id=48653)
Row(cluster=3, lat=40.7645, lon=-73.9868, id=48718)
Row(cluster=3, lat=40.7646, lon=-73.9958, id=47655)
Row(cluster=3, lat=40.7646, lon=-73.9881, id=26707)
Row(cluster=3, lat=40.7646, lon=-73.9832, id=48213)
Row(cluster=3, lat=40.7646, lon=-73.9738, id=47892)
Row(cluster=3, lat=40.7646, lon=-73.973, id=49159)
Row(cluster=3, lat=40.7646, lon=-73.9221, id=49135)
Row(cluster=3, lat=40.7647, lon=-73.9832, id=48977)
Row(cluster=3, lat=40.7647, lon=-73.982, id=47454)
Row(cluster=3, lat=40.7647, lon=-73.9765, id=48493)
Row(cluster=3, lat=40.7647, lon=-73.9664, id=26978)
Row(cluster=3, lat=40.7647, lon=-73.9256, id=26543)
Row(cluster=3, lat=40.7648, lon=-73.9954, id=48795)
Row(cluster=3, lat=40.7648, lon=-73.9842, id=26816)
Row(cluster=3, lat=40.7648, lon=-73.9768, id=26831)
Row(cluster=3, lat=40.7648, lon=-73.9623, id=47396)
Row(cluster=3, lat=40.7648, lon=-73.9607, id=47184)
Row(cluster=3, lat=40.7649, lon=-73.9827, id=47765)
Row(cluster=3, lat=40.7651, lon=-73.9917, id=27043)
Row(cluster=3, lat=40.7651, lon=-73.9852, id=48654)
Row(cluster=3, lat=40.7651, lon=-73.9794, id=49038)
Row(cluster=3, lat=40.7651, lon=-73.9767, id=26877)
Row(cluster=3, lat=40.7651, lon=-73.9754, id=26494)
Row(cluster=3, lat=40.7651, lon=-73.9721, id=48102)
Row(cluster=3, lat=40.7652, lon=-73.9877, id=46978)
Row(cluster=3, lat=40.7652, lon=-73.9793, id=48317)
Row(cluster=3, lat=40.7652, lon=-73.9792, id=27236)
Row(cluster=3, lat=40.7652, lon=-73.9755, id=47084)
Row(cluster=3, lat=40.7652, lon=-73.9749, id=27224)
Row(cluster=3, lat=40.7652, lon=-73.968, id=27162)
Row(cluster=3, lat=40.7652, lon=-73.9668, id=48283)
Row(cluster=3, lat=40.7652, lon=-73.9657, id=47196)
Row(cluster=3, lat=40.7652, lon=-73.9195, id=48308)
Row(cluster=3, lat=40.7653, lon=-73.9816, id=26674)
Row(cluster=3, lat=40.7653, lon=-73.9752, id=27159)
Row(cluster=3, lat=40.7653, lon=-73.9672, id=26495)
Row(cluster=3, lat=40.7653, lon=-73.9642, id=26951)
Row(cluster=3, lat=40.7653, lon=-73.9612, id=46997)
Row(cluster=3, lat=40.7653, lon=-73.9181, id=48808)
Row(cluster=3, lat=40.7654, lon=-73.8168, id=26649)
Row(cluster=3, lat=40.7655, lon=-73.9839, id=47759)
Row(cluster=3, lat=40.7655, lon=-73.9831, id=48584)
Row(cluster=3, lat=40.7655, lon=-73.9759, id=26533)
Row(cluster=3, lat=40.7655, lon=-73.9719, id=47314)
Row(cluster=3, lat=40.7656, lon=-73.9949, id=26655)
Row(cluster=3, lat=40.7656, lon=-73.9783, id=27267)
Row(cluster=3, lat=40.7656, lon=-73.9285, id=47834)
Row(cluster=3, lat=40.7657, lon=-73.9974, id=48851)
Row(cluster=3, lat=40.7657, lon=-73.9837, id=27044)
Row(cluster=3, lat=40.7657, lon=-73.919, id=48181)
Row(cluster=3, lat=40.7658, lon=-73.9972, id=48866)
Row(cluster=3, lat=40.7658, lon=-73.9692, id=48684)
Row(cluster=3, lat=40.7658, lon=-73.9523, id=47437)
Row(cluster=3, lat=40.7659, lon=-73.959, id=49270)
Row(cluster=3, lat=40.7659, lon=-73.9156, id=26471)
Row(cluster=3, lat=40.766, lon=-73.9773, id=49160)
Row(cluster=3, lat=40.766, lon=-73.9563, id=48696)
Row(cluster=3, lat=40.766, lon=-73.9561, id=26847)
Row(cluster=3, lat=40.7661, lon=-73.9782, id=49256)
Row(cluster=3, lat=40.7662, lon=-73.9916, id=48648)
Row(cluster=3, lat=40.7663, lon=-73.9916, id=49318)
Row(cluster=3, lat=40.7663, lon=-73.9778, id=27270)
Row(cluster=3, lat=40.7663, lon=-73.9694, id=26992)
Row(cluster=3, lat=40.7663, lon=-73.9615, id=48300)
Row(cluster=3, lat=40.7664, lon=-73.9832, id=47353)
Row(cluster=3, lat=40.7664, lon=-73.9783, id=27141)
Row(cluster=3, lat=40.7664, lon=-73.9338, id=48218)
Row(cluster=3, lat=40.7665, lon=-73.9783, id=27306)
Row(cluster=3, lat=40.7665, lon=-73.9781, id=47631)
Row(cluster=3, lat=40.7666, lon=-73.9792, id=26823)
Row(cluster=3, lat=40.7666, lon=-73.8863, id=49312)
Row(cluster=3, lat=40.7667, lon=-73.9792, id=47873)
Row(cluster=3, lat=40.7667, lon=-73.9785, id=26621)
Row(cluster=3, lat=40.7668, lon=-73.9887, id=47899)
Row(cluster=3, lat=40.7668, lon=-73.9793, id=47793)
Row(cluster=3, lat=40.7668, lon=-73.9608, id=49114)
Row(cluster=3, lat=40.7669, lon=-73.9676, id=49113)
Row(cluster=3, lat=40.7669, lon=-73.9539, id=48840)
Row(cluster=3, lat=40.767, lon=-73.9563, id=26551)
Row(cluster=3, lat=40.7671, lon=-73.9565, id=26798)
Row(cluster=3, lat=40.7671, lon=-73.9532, id=26447)
Row(cluster=3, lat=40.7672, lon=-73.9856, id=26570)
Row(cluster=3, lat=40.7672, lon=-73.9843, id=47395)
Row(cluster=3, lat=40.7672, lon=-73.9542, id=47840)
Row(cluster=3, lat=40.7672, lon=-73.9534, id=47776)
Row(cluster=3, lat=40.7673, lon=-73.9269, id=48355)
Row(cluster=3, lat=40.7674, lon=-73.99, id=47700)
Row(cluster=3, lat=40.7674, lon=-73.8815, id=26629)
Row(cluster=3, lat=40.7675, lon=-73.9562, id=47990)
Row(cluster=3, lat=40.7677, lon=-73.9915, id=26500)
Row(cluster=3, lat=40.7677, lon=-73.9175, id=47654)
Row(cluster=3, lat=40.7678, lon=-73.9916, id=49173)
Row(cluster=3, lat=40.7678, lon=-73.9915, id=26448)
Row(cluster=3, lat=40.7678, lon=-73.9896, id=26730)
Row(cluster=3, lat=40.7678, lon=-73.9562, id=47927)
Row(cluster=3, lat=40.7678, lon=-73.9558, id=47587)
Row(cluster=3, lat=40.7681, lon=-73.9826, id=47350)
Row(cluster=3, lat=40.7682, lon=-73.97, id=26870)
Row(cluster=3, lat=40.7682, lon=-73.9194, id=48372)
Row(cluster=3, lat=40.7682, lon=-73.8623, id=48049)
Row(cluster=3, lat=40.7683, lon=-73.9823, id=26637)
Row(cluster=3, lat=40.7683, lon=-73.9512, id=47792)
Row(cluster=3, lat=40.7683, lon=-73.862, id=47539)
Row(cluster=3, lat=40.7684, lon=-73.8626, id=48994)
Row(cluster=3, lat=40.7685, lon=-73.9851, id=47754)
Row(cluster=3, lat=40.7685, lon=-73.902, id=26778)
Row(cluster=3, lat=40.7685, lon=-73.8624, id=26578)
Row(cluster=3, lat=40.7685, lon=-73.8624, id=47165)
Row(cluster=3, lat=40.7686, lon=-73.983, id=48458)
Row(cluster=3, lat=40.7686, lon=-73.9556, id=47623)
Row(cluster=3, lat=40.7686, lon=-73.8628, id=47872)
Row(cluster=3, lat=40.7686, lon=-73.8627, id=47431)
Row(cluster=3, lat=40.7687, lon=-73.8814, id=49190)
Row(cluster=3, lat=40.7687, lon=-73.8673, id=48405)
Row(cluster=3, lat=40.7687, lon=-73.8673, id=48952)
Row(cluster=3, lat=40.7687, lon=-73.8628, id=26524)
Row(cluster=3, lat=40.7687, lon=-73.8625, id=47959)
Row(cluster=3, lat=40.7688, lon=-73.9847, id=26584)
Row(cluster=3, lat=40.7688, lon=-73.9662, id=27012)
Row(cluster=3, lat=40.7688, lon=-73.9611, id=48182)
Row(cluster=3, lat=40.7688, lon=-73.8764, id=48461)
Row(cluster=3, lat=40.7689, lon=-73.9583, id=27230)
Row(cluster=3, lat=40.7689, lon=-73.9564, id=27002)
Row(cluster=3, lat=40.769, lon=-73.988, id=48309)
Row(cluster=3, lat=40.7691, lon=-73.9812, id=47354)
Row(cluster=3, lat=40.7691, lon=-73.967, id=47235)
Row(cluster=3, lat=40.7692, lon=-73.9832, id=48540)
Row(cluster=3, lat=40.7692, lon=-73.9816, id=26489)
Row(cluster=3, lat=40.7693, lon=-73.9856, id=27247)
Row(cluster=3, lat=40.7693, lon=-73.9824, id=48025)
Row(cluster=3, lat=40.7693, lon=-73.9596, id=48373)
Row(cluster=3, lat=40.7693, lon=-73.8868, id=47890)
Row(cluster=3, lat=40.7694, lon=-73.9852, id=49133)
Row(cluster=3, lat=40.7694, lon=-73.983, id=47408)
Row(cluster=3, lat=40.7694, lon=-73.9809, id=48082)
Row(cluster=3, lat=40.7694, lon=-73.9504, id=26459)
Row(cluster=3, lat=40.7695, lon=-73.9576, id=47130)
Row(cluster=3, lat=40.7696, lon=-73.9563, id=48475)
Row(cluster=3, lat=40.7697, lon=-73.9509, id=48334)
Row(cluster=3, lat=40.7697, lon=-73.9509, id=48335)
Row(cluster=3, lat=40.7698, lon=-73.9841, id=48910)
Row(cluster=3, lat=40.77, lon=-73.9846, id=47998)
Row(cluster=3, lat=40.77, lon=-73.9576, id=47532)
Row(cluster=3, lat=40.77, lon=-73.9553, id=27310)
Row(cluster=3, lat=40.77, lon=-73.8645, id=47139)
Row(cluster=3, lat=40.7701, lon=-73.9179, id=48643)
Row(cluster=3, lat=40.7701, lon=-73.8646, id=47562)
Row(cluster=3, lat=40.7702, lon=-73.8648, id=48011)
Row(cluster=3, lat=40.7703, lon=-73.9805, id=27095)
Row(cluster=3, lat=40.7703, lon=-73.9501, id=27088)
Row(cluster=3, lat=40.7704, lon=-73.9579, id=49048)
Row(cluster=3, lat=40.7704, lon=-73.954, id=47588)
Row(cluster=3, lat=40.7704, lon=-73.8751, id=49331)
Row(cluster=3, lat=40.7705, lon=-73.9665, id=47926)
Row(cluster=3, lat=40.7705, lon=-73.8653, id=48055)
Row(cluster=3, lat=40.7706, lon=-73.9684, id=48136)
Row(cluster=3, lat=40.7706, lon=-73.9586, id=26681)
Row(cluster=3, lat=40.7706, lon=-73.9573, id=26813)
Row(cluster=3, lat=40.7706, lon=-73.9571, id=47484)
Row(cluster=3, lat=40.7706, lon=-73.8656, id=26773)
Row(cluster=3, lat=40.7707, lon=-73.9919, id=49186)
Row(cluster=3, lat=40.7709, lon=-73.9873, id=48358)
Row(cluster=3, lat=40.7709, lon=-73.9819, id=26449)
Row(cluster=3, lat=40.771, lon=-73.9217, id=47405)
Row(cluster=3, lat=40.771, lon=-73.8661, id=26546)
Row(cluster=3, lat=40.7711, lon=-73.9679, id=47110)
Row(cluster=3, lat=40.7711, lon=-73.9581, id=47106)
Row(cluster=3, lat=40.7711, lon=-73.8659, id=26865)
Row(cluster=3, lat=40.7713, lon=-73.9662, id=26848)
Row(cluster=3, lat=40.7714, lon=-73.9526, id=47043)
Row(cluster=3, lat=40.7714, lon=-73.916, id=26937)
Row(cluster=3, lat=40.7715, lon=-73.9823, id=48004)
Row(cluster=3, lat=40.7715, lon=-73.9569, id=26467)
Row(cluster=3, lat=40.7717, lon=-73.9616, id=26841)
Row(cluster=3, lat=40.7718, lon=-73.9821, id=26581)
Row(cluster=3, lat=40.7718, lon=-73.9517, id=47114)
Row(cluster=3, lat=40.7718, lon=-73.9499, id=49136)
Row(cluster=3, lat=40.772, lon=-73.9891, id=47839)
Row(cluster=3, lat=40.7721, lon=-73.9935, id=47461)
Row(cluster=3, lat=40.7721, lon=-73.979, id=49002)
Row(cluster=3, lat=40.7721, lon=-73.9478, id=49040)
Row(cluster=3, lat=40.7721, lon=-73.8141, id=47173)
Row(cluster=3, lat=40.7722, lon=-73.9585, id=49045)
Row(cluster=3, lat=40.7722, lon=-73.953, id=47275)
Row(cluster=3, lat=40.7723, lon=-74.0131, id=47464)
Row(cluster=3, lat=40.7724, lon=-73.9485, id=26596)
Row(cluster=3, lat=40.7724, lon=-73.9195, id=47556)
Row(cluster=3, lat=40.7726, lon=-73.9655, id=27340)
Row(cluster=3, lat=40.7727, lon=-73.9776, id=48042)
Row(cluster=3, lat=40.7727, lon=-73.9531, id=48410)
Row(cluster=3, lat=40.7727, lon=-73.9237, id=47963)
Row(cluster=3, lat=40.7727, lon=-73.9159, id=49110)
Row(cluster=3, lat=40.7728, lon=-73.9535, id=26436)
Row(cluster=3, lat=40.7728, lon=-73.9236, id=48513)
Row(cluster=3, lat=40.7729, lon=-73.9585, id=26839)
Row(cluster=3, lat=40.773, lon=-73.9563, id=49197)
Row(cluster=3, lat=40.773, lon=-73.9189, id=27232)
Row(cluster=3, lat=40.7731, lon=-73.9648, id=27049)
Row(cluster=3, lat=40.7731, lon=-73.9569, id=47866)
Row(cluster=3, lat=40.7731, lon=-73.8859, id=26647)
Row(cluster=3, lat=40.7732, lon=-73.9818, id=48064)
Row(cluster=3, lat=40.7732, lon=-73.9123, id=48907)
Row(cluster=3, lat=40.7733, lon=-73.9782, id=48148)
Row(cluster=3, lat=40.7733, lon=-73.9458, id=48252)
Row(cluster=3, lat=40.7734, lon=-73.947, id=47236)
Row(cluster=3, lat=40.7735, lon=-73.9857, id=47606)
Row(cluster=3, lat=40.7735, lon=-73.4787, id=48941)
Row(cluster=3, lat=40.7736, lon=-73.9549, id=48050)
Row(cluster=3, lat=40.7736, lon=-73.9211, id=47547)
Row(cluster=3, lat=40.7736, lon=-73.4778, id=48909)
Row(cluster=3, lat=40.7737, lon=-74.0593, id=48923)
Row(cluster=3, lat=40.7737, lon=-73.9819, id=49273)
Row(cluster=3, lat=40.7737, lon=-73.9077, id=48261)
Row(cluster=3, lat=40.7737, lon=-73.9071, id=26920)
Row(cluster=3, lat=40.7737, lon=-73.8711, id=47548)
Row(cluster=3, lat=40.7738, lon=-73.9878, id=48789)
Row(cluster=3, lat=40.7738, lon=-73.9562, id=48206)
Row(cluster=3, lat=40.7738, lon=-73.8724, id=47294)
Row(cluster=3, lat=40.7739, lon=-73.9486, id=48274)
Row(cluster=3, lat=40.7739, lon=-73.9465, id=48949)
Row(cluster=3, lat=40.7739, lon=-73.9191, id=26490)
Row(cluster=3, lat=40.7739, lon=-73.9153, id=47561)
Row(cluster=3, lat=40.7739, lon=-73.8724, id=26797)
Row(cluster=3, lat=40.7739, lon=-73.8714, id=47816)
Row(cluster=3, lat=40.7739, lon=-73.8713, id=48134)
Row(cluster=3, lat=40.774, lon=-73.9813, id=48285)
Row(cluster=3, lat=40.774, lon=-73.9455, id=47876)
Row(cluster=3, lat=40.774, lon=-73.8731, id=48915)
Row(cluster=3, lat=40.774, lon=-73.8727, id=26590)
Row(cluster=3, lat=40.774, lon=-73.8727, id=47903)
Row(cluster=3, lat=40.774, lon=-73.8725, id=27262)